$light-gray: #878787;
$orange: #FF6F00;

$light-black: #24272c;
$dark-black: #1B1E23;

$light-white: #FFFFFF;
$dark-white: #F1F1F1;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-lg: 1.5rem;

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: 1rem;
$fs-mdx: 1.25rem;
$fs-lg: 1.5rem;

$icon-sm: 24px;
$icon-lg: 80px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

$gradient-start: #003278;
$gradient-mid: #0055CC;
$gradient-end: #0077FF;

.header {
  width: 100%;
  height: auto;
  padding: $pd-md;
  background-color: #040714;
  transition: background-color 0.3s ease;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    cursor: pointer;
    width: 10rem;
    height: auto;
    margin-right: auto;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 $pd-md;
  }

  &__link {
    text-decoration: none;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
    }
  }

  &__button {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: #FF6F00;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }
}

.section {
  width: 100%;
  height: 100dvh;
  background-color: #040714;

  &__team,
  &__sanitation,
  &__paving,
  &__localization,
  &__map,
  &__lead {
    height: auto;
    padding: 5rem 0;
  }

  &__hiring {
    height: auto;
  }

  &__footer {
    height: auto;
    padding-top: 5rem;
    background-color: $dark-black;
  }
}

.hero {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__button {
    cursor: pointer;
    border: dashed;
    padding: 9px 25px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: $orange;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

.team {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title,
  &__span {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__span {
    color: $orange;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }
}

.sanitation {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1/-1;
  }

  &__card {
    padding: $pd-lg;
    min-height: 90px;
    min-width: 90px;
    border: 1px solid $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $light-gray;
    }
  }
}

.paving {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: $gp-lg;
    position: relative;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: $gp-md;
    grid-column: 2 / 3;
    z-index: 2;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
  }

  &__card {
    padding: $pd-lg;
    min-height: 90px;
    min-width: 90px;
    border: 1px solid $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $light-gray;
    }
  }

  &__image {
    width: 90%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -35%;
    bottom: -95%;
  }
}

.map {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title,
  &__span {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__span {
    color: $orange;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

.localization {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: end;
  }

  &__iframe {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    grid-column: 1/-1;
  }
}

.lead {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
    overflow: hidden;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    contain: layout style paint;
    padding: 20px;
  }

  &__carousel {
    display: flex;
    gap: $gp-md;
    animation: scroll 25s linear infinite;
    will-change: transform;
  }

  &__card {
    height: 80px;
    width: 160px;
    min-width: 160px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.hiring {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.footer {
  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $gp-lg;
    // margin: 0 auto;
  }

  &__title {
    font-size: 1rem;
    color: $dark-white;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: $orange;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    gap: $gp-sm;

    &--text {
      flex-direction: column;

      .footer__link {
        text-decoration: none;
        color: $dark-white;
        font-size: 0.875rem;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;

        &:hover {
          color: $dark-white;
          transform: translateX(10px);
        }
      }
    }

    &--social {
      .footer__link {
        height: 40px;
        width: 40px;

        color: $dark-white;
        display: inline-block;

        text-align: center;
        line-height: 40px;

        border-radius: 50%;
        background-color: $light-black;
        transition: all 0.3s ease;

        &:hover {
          color: $light-black;
          background-color: $dark-white;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-top: 2.5rem;

    // padding: 2rem 0;
    // margin: 2.5rem 5rem 0 5rem;

    border-top: 1px solid $light-black;
  }

  &__brand {
    width: 8rem;
    height: auto;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__copyright {
    font-size: 0.875rem;
    color: $dark-white;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
