$light-gray: #878787;
$light-red: #ff5757;
$light-green: #4bd28f;

$dark-black: #303030;
$dark-red: #DC3545;
$dark-blue: #003278;
$orange: #FF6F00;

$black: #24272c;
$light-white: #FFFFFF;
$dark-white: #F1F1F1;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-lg: 1.5rem;

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: 1rem;
$fs-mdx: 1.25rem;
$fs-lg: 1.5rem;

$icon-sm: 24px;
$icon-lg: 80px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

$gradient-start: #003278;
$gradient-mid: #0055CC;
$gradient-end: #0077FF;

.header {
  width: 100%;
  height: auto;
  padding: $pd-md;
  background-color: transparent;
  backdrop-filter: blur(5px);

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    cursor: pointer;
    width: 10rem;
    height: auto;
    margin-right: auto;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 $pd-md;
  }

  &__link {
    text-decoration: none;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
    }
  }

  &__button {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: #FF6F00;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }
}

.section {
  width: 100%;
  height: 100dvh;
  background-color: $black;

  &__lead,
  &__team,
  &__service,
  &__localization,
  &__footer {
    height: auto;
    padding: 5rem 0;
  }

  &__hiring {
    height: 70vh;
    background-image: url('/assets/images/hiring__banner_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &__footer {
    background-color: $dark-black;
  }
}

.hero {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__button {
    cursor: pointer;
    border: dashed;
    padding: 9px 25px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: $orange;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

.team {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }
}

.lead {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
    overflow: hidden;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    contain: layout style paint;
    padding: 20px;
  }

  &__carousel {
    display: flex;
    gap: $gp-md;
    animation: scroll 25s linear infinite;
    will-change: transform;
  }

  &__card {
    height: 80px;
    width: 160px;
    min-width: 160px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.service {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: $gp-lg;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1/-1;
  }

  &__card {
    padding: $pd-lg;
    min-height: 90px;
    min-width: 90px;
    border: 1px solid $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $light-gray;
    }
  }
}

.localization {

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: $gp-lg;
  }

  &__iframe {
    width: 100%;
    border-radius: 10px;
    grid-column: 1/-1;
  }
}

.footer {
  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    gap: $gp-lg;
  }

  &__image {
    cursor: pointer;
    width: 10rem;
    height: auto;
    margin-right: auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $gp-md;
  }

  &__title {
    color: $light-white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: $dark-white;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $light-gray;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
