$light-gray: #878787;
$orange: #FF6F00;

$light-black: #24272c;
$dark-black: #1B1E23;

$light-white: #FFFFFF;
$dark-white: #F1F1F1;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-lg: 1.5rem;

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: 1rem;
$fs-mdx: 1.25rem;
$fs-lg: 1.5rem;

$icon-sm: 24px;
$icon-lg: 80px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

$gradient-start: #003278;
$gradient-mid: #0055CC;
$gradient-end: #0077FF;

.header {
  width: 100%;
  height: auto;
  padding: $pd-md;
  background-color: transparent;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  &.scrolled {
    background: rgba(4, 7, 20, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  &__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    cursor: pointer;
    width: 10rem;
    height: auto;
    margin-right: auto;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 $pd-md;
  }

  &__link {
    text-decoration: none;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
    }
  }

  &__button {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: #FF6F00;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }
}

.section {
  height: auto;
  padding: 5rem 0;

  &__title {
    color: $dark-white;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    color: $dark-white;
    font-size: $fs-md;
    font-weight: 300;
  }
}

.section__banner {
  height: 100dvh;
  background: linear-gradient(90deg,
      rgba(4, 7, 20, 0.85) 0%,
      rgba(4, 7, 20, 0.6) 35%,
      rgba(4, 7, 20, 0.15) 60%,
      rgba(4, 7, 20, 0) 100%),
    linear-gradient(to bottom,
      rgba(4, 7, 20, 0) 0%,
      #040714 100%), url('/assets/images/pavimentacao__banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .section__container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .section__text {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $gp-md;
  }

  .section__button {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: #FF6F00;
    font-size: $fs-md;
    font-weight: 500;
    color: $dark-white;
    transition: all 0.3s ease;

    &:hover {
      color: $orange;
      border: 2px dashed $orange;
      background-color: transparent;
    }
  }
}

.section__about {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gp-lg;
  }

  .section__banner {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/employees__banner.png');
  }

  .section__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

.section__sanitation {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $gp-lg;
  }

  .section__banner {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/saneamento__baner.png');
  }

  .section__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gp-md;
  }

  .section__card {
    cursor: pointer;
    padding: $pd-md;
    border-radius: 4px;
    border: 1px solid $orange;
    background-color: rgb(255, 111, 0, 0.2);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    gap: $gp-md;

    &:hover {
      background-color: rgb(255, 111, 0, 0.3);
    }
  }

  .section__icon {
    color: $orange;
    padding: $pd-md;
    border-radius: 4px;
    background-color: rgb(255, 111, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section__paving {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $gp-lg;
  }

  .section__banner {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/pavimentacao.png');
  }

  .section__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gp-md;
  }

  .section__card {
    cursor: pointer;
    padding: $pd-md;
    border-radius: 4px;
    border: 1px solid $orange;
    background-color: rgb(255, 111, 0, 0.2);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    gap: $gp-md;

    &:hover {
      background-color: rgb(255, 111, 0, 0.3);
    }
  }

  .section__icon {
    color: $orange;
    padding: $pd-md;
    border-radius: 4px;
    background-color: rgb(255, 111, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section__map {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    gap: $gp-lg;
  }

  .section__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gp-md;
  }
}

.section__localization {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: $gp-lg;
  }

  .section__iframe {
    width: 100%;
    height: 60vh;
    border-radius: 5px;
  }
}

.section__lead {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: $gp-lg;
  }

  .section__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .section__carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    contain: layout style paint;
  }

  .section__carousel {
    display: flex;
    gap: $gp-md;
    animation: scroll 10s linear infinite;
    will-change: transform;
  }

  .section__card {
    width: 200px;
    height: 120px;
    flex-shrink: 0;
  }

  .section__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.section__hiring {
  padding-top: 6rem;
  background-color: #040714;

  .section__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: end;
  }

  .section__image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.footer {
  padding-top: 5rem;
  background-color: $dark-black;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $gp-lg;
    // margin: 0 auto;
  }

  &__title {
    font-size: 1rem;
    color: $dark-white;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: $orange;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    gap: $gp-sm;

    &--text {
      flex-direction: column;

      .footer__link {
        text-decoration: none;
        color: $dark-white;
        font-size: 0.875rem;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;

        &:hover {
          color: $dark-white;
          transform: translateX(10px);
        }
      }
    }

    &--social {
      .footer__link {
        height: 40px;
        width: 40px;

        color: $dark-white;
        display: inline-block;

        text-align: center;
        line-height: 40px;

        border-radius: 50%;
        background-color: $light-black;
        transition: all 0.3s ease;

        &:hover {
          color: $light-black;
          background-color: $dark-white;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-top: 2.5rem;

    // padding: 2rem 0;
    // margin: 2.5rem 5rem 0 5rem;

    border-top: 1px solid $light-black;
  }

  &__brand {
    width: 8rem;
    height: auto;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__copyright {
    font-size: 0.875rem;
    color: $dark-white;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
