<div class="body">
  <div class="container">
    <div class="informativo">
      <h1>Primeiro acesso?</h1>
      <p>Crie seu nome de usuário e sua nova senha!</p>
    </div>

    <div class="primeiro-acesso">
      <form>
        <h1>Atualizar conta</h1>
        <input type="text" placeholder="Usuário" required />
        <input type="text" placeholder="Email" required />
        <input type="password" placeholder="Senha" required />
        <input type="password" placeholder="Confirme a senha" required />
        <button>Atualizar</button>
      </form>
    </div>
  </div>
</div>
