<div class="container">

  <!-- CONTAINER DE FILTROS -->
  <div class="container__filters">

    <!-- BUSCA POR NOME -->
    <div class="filter">
      <input type="text" placeholder="BUSCAR" class="filter__input">
    </div>

    <!-- GERAR EXCEL -->
    <div class="filter">
      <button class="filter__button filter__button--submit">
        GERAR EXCEL
      </button>
    </div>

    <!-- GERAR LINK -->
    <div class="filter">
      <button class="filter__button filter__button--submit">
        GERAR LINK
      </button>
    </div>

  </div>

  <!-- CONTAINER DOS CARDS -->
  <div class="container__cards">

    <!-- CARD -->
    <div class="card">

      <!--HEADER -->
      <div class="card__header">

        <!-- LADO ESQUERDO -->
        <div class="card__primary">

          <!-- -->
          <div class="card__top">
            <div class="card__title"></div>
            <span class="card__subtitle"></span>
            <div class="card__subtitle"></div>
          </div>

          <div class="card__bottom">
            <div class="card__subtitle"></div>
          </div>
        </div>

        <!-- LADO DIREITO -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__title"></div>
            <div class="card__subtitle"></div>
          </div>
        </div>
      </div>

      <!-- CORPO -->
      <div class="card__body">

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title"></div>
          <div class="card__subtitle"></div>
        </div>

      </div>
    </div>

  </div>

</div>
