.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  &__top-section {
    display: flex;
    width: 100%;
    height: 25vh;
    gap: 16px;
  }

  &__main-section {
    width: 100%;
    height: calc(33.333vh);
    margin-top: 16px;
  }

  &__bottom-section {
    display: flex;
    width: 100%;
    height: calc(41.666vh);
    margin-top: 16px;
    gap: 16px;
  }
}

// Welcome Card
.welcome-card {
  width: 50%;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  box-shadow: var(--box-shadow);

  &__text {
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__illustration {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;

    img {
      width: 120%;
      object-fit: contain;
    }
  }
}

// Summary Card
.summary-card {
  width: 50%;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 16px * 1.5;
  box-shadow: var(--box-shadow);

  &__title {
    font-size: 1.25rem;
    margin: 0 0 16px 0;
    color: var(--text-color);
    font-weight: 500;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 40px);
    align-items: center;
  }

  &__metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
  }

  &__label {
    font-size: 0.875rem;
    color: var(--text-color);
    margin-bottom: 16px/2;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange-color);
  }
}

// Portfolio
.portfolio {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 16px * 1.5;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  &__title {
    font-size: 1.25rem;
    margin: 0 0 16px 0;
    color: var(--text-color);
    font-weight: 500;
  }

  &__chart {
    height: calc(100% - 40px);
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: 'Gráfico de Portfólio de Imóveis';
      color: var(--text-color);
      font-style: italic;
    }
  }
}

// Progress Report
.progress-report {
  width: 50%;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 16px * 1.5;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  &__title {
    font-size: 1.25rem;
    margin: 0 0 16px 0;
    color: var(--text-color);
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: calc(100% - 40px);
    overflow-y: auto;
    padding-right: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px/2;
  }

  &__name {
    font-size: 0.875rem;
    color: var(--text-color);
  }

  &__bar {
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    overflow: hidden;
  }

  &__fill {
    height: 100%;
    background-color: var(--orange-color);
  }

  &__percentage {
    font-size: 0.75rem;
    color: var(--text-color);
    align-self: flex-end;
  }
}

// Financial Overview
.financial-overview {
  width: 50%;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 16px * 1.5;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  &__title {
    font-size: 1.25rem;
    margin: 0 0 16px 0;
    color: var(--text-color);
    font-weight: 500;
  }

  &__content {
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__chart {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: 'Gráfico de Visão Financeira';
      color: var(--text-color);
      font-style: italic;
    }
  }
}
