<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <!-- CONTAINER DOS FILTROS -->
  <div class="container__filter">

    <!-- FILTRO DE COLABORADOR  -->
    <div class="filter">
      <input type="text" placeholder="Buscar" class="filter__input">
    </div>

    <!-- BOTÃO PARA GERAR TAREFA  -->
    <button type="button" (click)="generateForm()" class="btn btn--second">
      @if (isGenerate) {
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } @else {
      Gerar formulário
      }
    </button>
  </div>

  <!-- CONTAINER CARDS -->
  <div class="container__card">

    <!-- CARD -->
    <div class="card">

    </div>

    <!-- SEM RESULTADO -->
    <div class="empty" *ngIf="isEmpty">
      <h2 class="empty__title">Opss... Nenhum resultado foi encontrado :(</h2>
    </div>

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

  </div>
</div>
