<div class="container">

  @if (showError) {
  <div class="ticket__message ticket__message--error">
    <mat-icon>error</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
  }

  @if (showSuccess) {
  <div class="ticket__message ticket__message--success">
    <mat-icon>check_circle</mat-icon>
    <span>{{ successMessage }}</span>
  </div>
  }

  <div class="filter__container">

    <div class="filter">
      <label>MÊS</label>
      <input type="date">
    </div>

    <button class="button">BUSCAR</button>
    <button class="button">NOVO COLABORADOR</button>
  </div>

  <!-- CONTAINER DOS CARDS -->
  <div class="card__container">

    @if (addEmployee) {
    <form class="modal">

      <div class="subject">
        <label>Nome Completo</label>
        <input type="text" placeholder="Digite o nome completo do colaborador">
      </div>

      <div class="subject">
        <label>Tipo Contrato</label>
        <select>
          <option value="CLT">CLT</option>
          <option value="CONTRATO">CONTRATO</option>
        </select>
      </div>

      <div class="subject">
        <label>Valor do VA</label>
        <input placeholder="Digite o valor do VA">
      </div>

      <div class="subject">
        <label>Valor do VT</label>
        <input placeholder="Digite o valor do VT">
      </div>

      <div class="subject">
        <label>Valor do VC</label>
        <input placeholder="Digite o valor do VC">
      </div>

      <!-- ENVIAR TICKET -->
      <button type="submit" class="submit">
        @if (!isSend) {
        <span>ENVIAR</span>
        } @else {
        <div class="loading-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        }
      </button>
    </form>
    } @else {
    <div class="card" *ngFor="let data of item | keyvalue; let i = index">

      <!-- CABEÇA DO CARD -->
      <div class="card__header" (click)="openCard(i)">

        <!-- LADO ESQUEDO DO CARD -->
        <div class="card__primary">
          <div class="card__top">
            <div class="card__subtitle">ID: </div>
            <div class="card__title">{{ data.value.id || 'N/A' }}</div>
          </div>

          <!-- Parte inferiro do cabeçalho -->
          <div class="card__bottom">
            <div class="card__subtitle">ASSUNTO: </div>
            <div class="card__title">{{ data.value.subject || 'N/A' }}</div>
          </div>
        </div>

        <!-- LADO DIREITO DO CARD -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">ABERTURA: </div>
            <div class="card__title">{{ formateDate(data.value.opening_date) || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">FECHAMENTO: </div>
            <div class="card__title">{{ formateDate(data.value.closing_date) || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">STATUS: </div>
            <div class="card__title">{{ data.value.status || 'ABERTO' }}</div>
          </div>
        </div>
      </div>

      <!-- CORPO DO CARD -->
      <div class="card__body" [class.show]="index === i">

        <!-- DETALHES DO CARD -->
        <div class="card__details">

          <!-- ASSUNTO -->
          <div class="card__info">
            <div class="card__title">ASSUNTO</div>
            <div class="card__subtitle card__subtitle--info">{{ data.value.subject || 'N/A' }}</div>
          </div>

          <!-- DESCRIÇÃO -->
          <div class="card__info">
            <div class="card__title">DESCRIÇÃO</div>
            <div class="card__subtitle card__subtitle--info">{{ data.value.description || 'N/A'}}</div>
          </div>

          <!-- RESPONSÁVEL -->
          <div class="card__info">
            <div class="card__title">TÉCNICO RESPONSÁVEL</div>
            <div class="card__subtitle card__subtitle--info">{{ data.value.responsible_technician || 'N/A' }}</div>
          </div>

          <!-- RESPOSTA -->
          <div class="card__info">
            <div class="card__title">RESPOSTA</div>
            <div class="card__subtitle card__subtitle--info">{{ data.value.resolution || 'N/A' }}</div>
          </div>
        </div>
      </div>
    </div>
    }

    <!-- LISTA VAZIA -->
    <div class="empty" *ngIf="isEmpty">
      <span>Nenhum registro encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO LISTA -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
