<app-dynamic-list [config]="listConfig" [items]="items" [isSearching]="isSearching">

  <ng-template #cardBody let-item>
    <div class="body">

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA SOLICITAÇÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_criacao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">article</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">CENTRO DE CUSTO</h3>
          <h3 class="title title--dark">{{ item.centro_custo || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA INICIAL</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_inicial) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA FINAL</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_final) }}</h3>
        </div>
      </div>

      <div class="group group--body group--full">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">notes</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DESCRIÇÃO</h3>
          <h3 class="title title--dark">{{ item.descricao || 'N/A' }}</h3>
        </div>
      </div>

    </div>
  </ng-template>

</app-dynamic-list>
