<footer class="footer">
  <div class="footer__container">
    <div class="footer__info">
      <div class="footer__brand">
        <img [src]="logo" alt="Logo da Same Engenharia">
        <div class="footer__social">
          <a [href]="linkedinUrl" aria-label="LinkedIn da Same Engenharia" target="_blank">
            <img [src]="linkedin" alt="LinkedIn">
          </a>
          <a [href]="instagramUrl" aria-label="Instagram da Same Engenharia" target="_blank">
            <img [src]="instagram" alt="Instagram">
          </a>
          <a [href]="whatsappUrl" aria-label="WhatsApp da Same Engenharia" target="_blank">
            <img [src]="whatsapp" alt="WhatsApp">
          </a>
        </div>
        <img [src]="whatsappQrCode" alt="WhatsApp QrCode" id="footer__brand-qrcode">
      </div>

      <div class="footer__address">
        <h2>Filial</h2>
        <p>Rua Arthur Lopes, 218 - Imbiribeira, Recife - PE, 51200-180</p>
      </div>

      <div class="footer__contact">
        <h2>Entre em contato</h2>
        <p><a [href]="'mailto:sameengenharia@gmail.com'">sameengenharia&#64;gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <p>{{ anoAtual }} - &copy; Same Engenharia. Todos os direitos reservados.</p>
  </div>
</footer>
