<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="aside">
    <select class="input" [(ngModel)]="selectedEmployee">
      <option value="" disabled>Selecione um colaborador</option>
      <option *ngFor="let employee of employees" [value]="employee">{{ employee }}</option>
    </select>

    <button type="button" class="btn btn__launch" (click)="findSheet()">
      Buscar
    </button>
  </div>

  <div class="main">
    <div class="card" *ngFor="let item of items">
      <div class="card__header">
        <div class="display display--column">
          <h3 class="title title--dark">{{ item.nome }}</h3>
        </div>
      </div>
      <div class="card__body">

        <div class="group group--body">
          <div class="group group--icon">
            <mat-icon class="icon icon--small icon--orange">
              badge
            </mat-icon>
          </div>
          <div class="">
            <h3 class="title title--light">CHAPA</h3>
            <h3 class="title title--dark">{{ item.chapa || 'N/A' }}</h3>
          </div>
        </div>

        <div class="group group--body">
          <div class="group group--icon">
            <mat-icon class="icon icon--small icon--orange">
              confirmation_number
            </mat-icon>
          </div>
          <div class="">
            <h3 class="title title--light">EVENTO</h3>
            <h3 class="title title--dark">{{ item.evento_abono || 'N/A' }}</h3>
          </div>
        </div>

        <div class="group group--body">
          <div class="group group--icon">
            <mat-icon class="icon icon--small icon--orange">
              timer
            </mat-icon>
          </div>
          <div class="">
            <h3 class="title title--light">JORNADA REALIZADA</h3>
            <h3 class="title title--dark">{{ item.jornada_realizada }}</h3>
          </div>
        </div>

        <div class="group group--body">
          <div class="group group--icon">
            <mat-icon class="icon icon--small icon--orange">
              calendar_today
            </mat-icon>
          </div>
          <div class="">
            <h3 class="title title--light">DATA</h3>
            <h3 class="title title--dark">{{ formateDate(item.periodo) }}</h3>
          </div>
        </div>

        @if (item.observacao) {
        <div class="group group--body group--full">
          <div class="group group--icon">
            <mat-icon class="icon icon--small icon--orange">
              notes
            </mat-icon>
          </div>
          <div class="">
            <h3 class="title title--light">OBSERVAÇÃO</h3>
            <h3 class="title title--dark">{{ item.observacao }}</h3>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="centralized" *ngIf="isSearching">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="centralized centralized--column" *ngIf="isEmpty">
      <mat-icon class="icon icon--large icon--light">wrong_location</mat-icon>
      <h3 class="title title--large title--light">Nenhuma solicitação encontrada</h3>
    </div>
  </div>
</div>
