<div class="tracking">
  
  <div class="tracking-top__section">
    <div class="filters">
      <label>Centro de Custo:</label>
      <div class="select-container">
        <select
          [(ngModel)]="centroCustoName"
          (ngModelChange)="searchCentroCusto()"
          (mousedown)="toggleSelect()"
          (blur)="resetSelectIcon()"
        >
          <option value="">Todos</option>
          <option *ngFor="let centro of centroCusto" [value]="centro">{{ centro }}</option>
        </select>
        <mat-icon class="select-icon" [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
      </div>
    </div>

    <div class="filters">
      <label>Material:</label>
      <input type="text" placeholder="Ex: Cimento" [(ngModel)]="materialName"
        (ngModelChange)="searchMaterial()">
    </div>

    <div class="filters">
      <label>Movimento:</label>
      <input type="text" placeholder="Ex: 1000" [(ngModel)]="movimentoName"
        (ngModelChange)="searchMovimento()">
    </div>

    <div class="filters">
      <label>ID:</label>
      <input type="text" placeholder="Ex: 55555" [(ngModel)]="idName" (ngModelChange)="searchId()">
    </div>

    <div class="filters">
      <label>OC:</label>
      <input type="text" placeholder="Ex: 10008" [(ngModel)]="ocName" (ngModelChange)="searchOc()">
    </div>
  </div>

  <div class="tracking-main__section">
    <div class="list-container">
      <div class="list-item" *ngFor="let data of records; let i = index" [class.expanded]="expandedIndex === i">
        <div class="list-header" (click)="toggleExpand(i)">
          <div class="list-status" [ngStyle]="{'background-color': getStatusColor(data)}"></div>

          <div class="list-summary">
            <div class="list-primary">
              <span class="list-id">ID: {{ data.ID }}</span>
              <span class="list-separator">|</span>
              <span class="list-cc">{{ data.CENTRO_CUSTO }}</span>
            </div>

            <div class="list-secondary">
              <span class="list-material">{{ data.MATERIAL }}</span>
            </div>
          </div>

          <div class="list-metadata">
            <div class="list-meta-item">
              <span class="meta-label">Mov:</span>
              <span class="meta-value">{{ data.MOVIMENTO || 'N/A' }}</span>
            </div>

            <div class="list-meta-item">
              <span class="meta-label">OC:</span>
              <span class="meta-value">{{ data.NUMERO_OC || 'N/A' }}</span>
            </div>

            <div class="list-meta-item">
              <span class="meta-label">Entrega:</span>
              <span class="meta-value">{{ data.DATA_ENTREGA || 'N/A' }}</span>
            </div>

            <div class="list-expand-icon">
              <i class="arrow" [class.down]="expandedIndex === i"></i>
            </div>
          </div>
        </div>

        <div class="list-details" [class.show]="expandedIndex === i">
          <div class="details-grid">
            <div class="detail-group">
              <h4>Material</h4>
              <div class="detail-item full-width">
                <span class="detail-label">Descrição:</span>
                <span class="detail-value material-description">{{ data.MATERIAL }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Quantidade:</span>
                <span class="detail-value">{{ data.QUANTIDADE_TOTAL }} {{ data.UNIDADE }}</span>
              </div>
            </div>

            <div class="detail-group">
              <h4>Detalhes do ID</h4>
              <div class="detail-item">
                <span class="detail-label">Criação ID:</span>
                <span class="detail-value">{{ data.ELABORACAO_PEDIDO }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Aprovação ID:</span>
                <span class="detail-value">{{ data.APROVACAO_ID || 'N/A' }}</span>
              </div>
            </div>

            <div class="last">
              <h4>Detalhes da OC</h4>
              <div class="detail-item">
                <span class="detail-label">Criação OC:</span>
                <span class="detail-value">{{ data.ELABORACAO_OC || 'N/A' }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Fornecedor:</span>
                <span class="detail-value">{{ data.FORNECEDOR || 'N/A' }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Aprovação OC:</span>
                <span class="detail-value">{{ data.APROVACAO_OC || 'N/A' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results" *ngIf="records.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>
</div>
