.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}

.filter-container {
  gap: 5%;
  display: grid;
  padding-right: 14px;
  grid-template-columns: repeat(5, 1fr);
}

.filter {
  display: flex;
  position: relative;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
  }

  input {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background: var(--secondary-color);

    &::placeholder {
      color: var(--gray-color);
    }
  }

  select {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background: var(--secondary-color);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  mat-icon {
    position: absolute;
    right: 8px;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    transition: transform 0.3s ease;

    &.rotated {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.card__container {
  padding-top: 10px;
  padding-right: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: #f93f03;
  }
}

.card {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  flex-direction: column;
  transition: all ease 0.3s;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);

  &:hover {
    transform: translateY(-2px);
  }

  &__text {
    gap: 8px;
    display: flex;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);

    &--info {
      color: var(--fourth-color);
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
  }

  &__header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 5px solid var(--orange-color);
    border-bottom: 1px solid var(--primary-color);
  }

  &__secondary {
    gap: 8px;
    display: flex;
  }

  &__primary {
    display: flex;
    flex-direction: column;
  }

  &__top {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  &__body {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 25% auto auto auto auto auto auto auto auto;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &.expanded {
      padding: 20px;
      max-height: 500px;
    }

    .card__info {
      display: flex;
      flex-direction: column;
      color: var(--fourth-color);

      &:first-child {
        padding-right: 30px;
      }
    }
  }
}
