<app-dynamic-list [config]="listConfig" [items]="items" [isSearching]="isSearching">

  <ng-template #cardBody let-item>
    <div class="body">

      <div class="group group--body" (click)="openClipboard(item.foto_3x4)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_month</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DE ADMISSÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_admissao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_month</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DE NASCIMENTO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_nascimento) }}</h3>
        </div>
      </div>

      <div class="group group--body" (click)="openClipboard(item.foto_certidao)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">file_present</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">CERTIDÃO</h3>
          <h3 class="title title--dark">{{ item.foto_certidao ? 'ABRIR IMAGEM' : 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body" (click)="openClipboard(item.foto_3x4)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">add_a_photo</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">FOTO 3X4</h3>
          <h3 class="title title--dark">{{ item.foto_3x4 ? 'ABRIR IMAGEM' : 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body" (click)="openClipboard(item.foto_cpf)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">badge</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">CPF</h3>
          <h3 class="title title--dark">{{ item.cpf }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">perm_identity</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">RG</h3>
          <h3 class="title title--dark">{{ item.rg }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">confirmation_number</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">PIS</h3>
          <h3 class="title title--dark">{{ item.pis || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">phone_in_talk</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">TELEFONE</h3>
          <h3 class="title title--dark">{{ formatePhone(item.numero_contato) }}</h3>
        </div>
      </div>

      <div class="group group--body" (click)="openClipboard(item.foto_vem)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">credit_card</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">NÚMERO DO VEM</h3>
          <h3 class="title title--dark">{{ item.numero_vem || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">directions_bus</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">VT'S DE ONIBUS/DIA</h3>
          <h3 class="title title--dark">{{ item.qtd_onibus }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">train</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">VT'S DE METRO/DIA</h3>
          <h3 class="title title--dark">{{ item.qtd_metro }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">family_restroom</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">NÚMERO DE FILHOS</h3>
          <h3 class="title title--dark">{{ item.criancas_dependentes }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">directions_walk</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">TAMANHO DA BOTA</h3>
          <h3 class="title title--dark">{{ item.numero_calcado }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">checkroom</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">TAMANHO DA FARDA</h3>
          <h3 class="title title--dark">{{ item.tamanho_farda }}</h3>
        </div>
      </div>

      <div class="group group--body group--double" (click)="openClipboard(item.foto_comprovante_residencia)">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">add_location</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ENDEREÇO</h3>
          <h3 class="title title--dark">{{ item.endereco }}</h3>
        </div>
      </div>

      @if (item.observacao) {
      <div class="group group--body group--full">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">notes</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">OBSERVAÇÃO</h3>
          <h3 class="title title--dark">{{ item.observacao }}</h3>
        </div>
      </div>
      }

    </div>
  </ng-template>

</app-dynamic-list>
