<div class="dashboard">
  <!-- Seção Superior -->
  <div class="dashboard__top">
    <!-- Cartão de Boas-vindas -->
    <div class="welcome-card" [ngStyle]="{ 'background': backgroundStyle, 'color': textColor }">
      <div class="welcome-card__text">
        <h1 class="welcome-card__title">{{ getGreeting() }}, {{ username }}!</h1>
        <span class="welcome-card__subtitle">Espero que você tenha um ótimo dia.</span>
      </div>
      <div class="welcome-card__illustration">
        <img [src]="ilustration" alt="Ilustração de boas-vindas">
      </div>
    </div>

    <!-- Acesso Rápido -->
    <div class="quick-access">
      <h4 class="quick-access__title">Acesso Rápido</h4>
      <div class="quick-access__columns">
        <a
          *ngFor="let link of quickAccessLinks"
          class="quick-access__column"
          [routerLink]="link.route">
          <mat-icon class="quick-access__icon">{{ link.icon }}</mat-icon>
          <span class="quick-access__text">{{ link.label }}</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Seção Principal -->
  <div class="dashboard__main">
    <!-- Aniversariantes do Mês -->
    <div class="birthday">
      <h1 class="birthday__title">Aniversariantes do Mês</h1>
      <div class="birthday__columns">
        <div *ngFor="let person of birthdayPeople" class="birthday__column">
          <div class="birthday__avatar">
            <mat-icon>person</mat-icon>
          </div>
          <div class="birthday__name">
            <span>{{ person.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Mural de Avisos -->
    <div class="notices">
      <h1 class="notices__title">Mural de Avisos</h1>
      <div class="notices__columns">
        <div *ngFor="let notice of notices" class="notices__column">
          <h4 class="notices__text--big">{{ notice.title }}</h4>
          <span class="notices__text--small">
            {{ notice.content }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
