// Layout principal
.dashboard {
  gap: 20px;
  height: 90%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  &__top,
  &__main {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

// Card de boas-vindas
.welcome-card {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--box-shadow);

  &__text {
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &__illustration {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;

    img {
      position: absolute;
      right: -10%;
      width: 350px;
      object-fit: contain;
    }
  }
}

// Acesso rápido
.quick-access {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
  }

  &__columns {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__column {
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background: var(--secondary-color);
    transition: all ease 0.2s;
    text-decoration: none;

    &:hover {
      color: var(--orange-color);
      transform: translateY(-2px);
      border: 1px dashed var(--orange-color);
    }
  }

  &__icon {
    margin-bottom: 8px;
  }
}

// Componente de aniversariantes
.birthday {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);

  &__title {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding: 15px 0 0 15px;
  }

  &__columns {
    gap: 20px;
    display: flex;
    max-width: 40vw;
    overflow-x: auto;
    padding: 0 0 15px 15px;

    // Estilização da barra de rolagem
    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 8px;
      background-color: var(--orange-color);
    }
  }

  &__column {
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    transition: all ease 0.2s;
    cursor: pointer;
    min-width: 100px;

    &:hover {
      color: var(--orange-color);
      border: 1px dashed var(--orange-color);
    }
  }
}

// Componente de avisos
.notices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);
  padding: 15px;

  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--text-color);
  }

  &__columns {
    gap: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow-y: auto;
    max-height: 140px;
    padding-right: 10px;

    // Estilização da barra de rolagem
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 8px;
      background-color: var(--orange-color);
    }
  }

  &__column {
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    transition: all ease 0.2s;
    cursor: pointer;
  }

  &__text {
    color: var(--text-color);

    &--big {
      width: 100%;
      font-size: 16px;
      text-align: start;
      margin-bottom: 8px;
    }

    &--small {
      width: 100%;
      font-size: 14px;
      text-align: start;
    }
  }
}
