<div class="request">
  <div class="request__top">
    <div class="filter">
      <label class="filter__label">Centro de Custo:</label>
      <input type="text" class="filter__input" placeholder="Ex: BRK" [(ngModel)]="centro_custo" (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filter">
      <label class="filter__label">Oc:</label>
      <input type="text" class="filter__input" placeholder="Ex: 1000" [(ngModel)]="ordem_compra" (ngModelChange)="searchOrdemCompra()">
    </div>

    <div class="filter">
      <label class="filter__label">Fornecedor:</label>
      <input type="text" class="filter__input" placeholder="Ex: Renascer" [(ngModel)]="fornecedor" (ngModelChange)="searchFornecedor()">
    </div>

    <div class="filter">
      <label class="filter__label">Valor:</label>
      <input type="text" class="filter__input" placeholder="Ex: 300" [(ngModel)]="valor" (ngModelChange)="searchValor()">
    </div>
  </div>

  <div class="request__main">
    <div class="cards">
      <div class="card" *ngFor="let data of filteredDeliveredOrders | keyvalue; let i = index">
        <div class="card__header" (click)="toggleExpand(i)">
          <div class="card__border"></div>

          <div class="card__summary">
            <div class="card__top">
              <div class="card__text card__text--bold">OC: {{ data.value.numero_oc }}</div>
              <div class="card__separator">-</div>
              <div class="card__text">{{ data.value.centro_custo }}</div>
            </div>
            <div class="card__bottom">
              <div class="card__text card__text--bold">{{ data.value.fornecedor }}</div>
              <div class="card__separator">|</div>
              <div class="card__text card__text--bold">R$ {{ calculateTotalValue(data.value.order) }}</div>
            </div>
          </div>

          <div class="card__options">
            <button class="card__button card__button--status" [class.active]="activeSection[data.key] === 'pedidos'" (click)="toggleSection($event, data.key, 'pedidos')">
              <mat-icon class="card__icon">inventory_2</mat-icon>
              <div class="card__text">Pedidos</div>
            </button>
            <button class="card__button card__button--status" [class.active]="activeSection[data.key] === 'detalhes'" (click)="toggleSection($event, data.key, 'detalhes')">
              <mat-icon class="card__icon">info</mat-icon>
              <div class="card__text">Detalhes</div>
            </button>
          </div>

          <div class="card__expand-icon">
            <i class="arrow" [class.down]="expandedIndex === i"></i>
          </div>
        </div>

        <div class="card__body" [class.show]="expandedIndex === i">
          <!-- Pedidos -->
          <div *ngIf="activeSection[data.key] === 'pedidos'" class="card__grid">
            <div class="card__columns">
              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Material</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.value.order">{{ item.material }}</div>
              </div>
              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Quantidade</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.value.order">{{ item.quantidade }} {{ pluralize(item.quantidade, item.unidade) }}</div>
              </div>
              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Valor Unitário</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.value.order">R$ {{ item.valor_unitario }}</div>
              </div>
              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Valor Total</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.value.order">R$ {{ item.valor_total }}</div>
              </div>
              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Nota Fiscal</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.value.order">
                  <a href="http://192.168.10.17:3000/same-engenharia/api/notas_fiscais/{{ item.nota_fiscal }}" target="_blank" *ngIf="item.nota_fiscal">
                    <mat-icon class="card__icon">description</mat-icon>
                  </a>
                  <span *ngIf="!item.nota_fiscal">N/A</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Detalhes -->
          <div *ngIf="activeSection[data.key] === 'detalhes'" class="card__grid">
            <div class="card__columns card__columns--details">
              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Criado Por:</h4>
                <div class="card__text">{{ data.value.usuario_criacao }}</div>
              </div>
              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Previsão da Entrega:</h4>
                <div class="card__text">{{ data.value.previsao_entrega || 'N/A' }}</div>
              </div>
              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Data da Entrega:</h4>
                <div class="card__text">{{ data.value.order[0].data_entrega || 'N/A' }}</div>
              </div>
              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Registrado Por:</h4>
                <div class="card__text">{{ data.value.order[0].registrado || 'N/A' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results" *ngIf="isFilteredDeliveredOrdersEmpty()">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>
</div>
