<div class="request">

  <div class="request__top">
    <div class="filter">
      <label class="filter__label">Centro de Custo:</label>
      <input type="text" class="filter__input" placeholder="Ex: BRK" [(ngModel)]="centroCustoName" (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filter">
      <label class="filter__label">Oc:</label>
      <input type="text" class="filter__input" placeholder="Ex: 1000" [(ngModel)]="ocName" (ngModelChange)="searchOc()">
    </div>

    <div class="filter">
      <label class="filter__label">Fornecedor:</label>
      <input type="text" class="filter__input" placeholder="Ex: Renascer" [(ngModel)]="fornecedorName" (ngModelChange)="searchFornecedor()">
    </div>

    <div class="filter">
      <label class="filter__label">Valor:</label>
      <input type="text" class="filter__input" placeholder="Ex: 300" [(ngModel)]="valorName" (ngModelChange)="searchValor()">
    </div>
  </div>

  <div class="request__main">
    <div class="card">

      <div class="card__item" *ngFor="let data of records; let i = index" [class.expanded]="expandedIndex === i">
        <div class="card__main" (click)="toggleExpand(i)">
          <div class="card__border"></div>

          <div class="card__summary">
            <div class="card__primary">
              <span class="card__id">{{ data.centro_custo }}</span>
              <span class="card__separator">|</span>
              <span class="card__cc">{{ data.descricao }}</span>
            </div>

            <div class="card__secondary">
              <span class="card__material">{{ data.nome_fornecedor }}</span>
            </div>
          </div>

          <div class="card__meta-data">
            <div class="card__meta-item">
              <span class="card__meta-label">Data de Entrega:</span>
              <span class="card__meta-value">{{ data.ultima_atualizacao || 'Sem previsão' }}</span>
            </div>

            <div class="card__meta-item">
              <span class="card__meta-label">OC:</span>
              <span class="card__meta-value">{{ data.numero_oc || 'Sem previsão' }}</span>
            </div>

            <div class="card__expand-icon">
              <i class="arrow" [class.down]="expandedIndex === i"></i>
            </div>
          </div>
        </div>

        <div class="details" [class.show]="expandedIndex === i">
          <div class="details__grid">
            <div class="details__column">
              <h4>Detalhes do Pedido</h4>

              <div class="details__text">
                <span class="details__label">Valor:</span>
                <span class="details__value">R$ {{ data.valor_total }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Quantidade:</span>
                <span class="details__value">{{ data.quantidade }} {{ data.unidade }}</span>
              </div>
            </div>

            <div class="details__column">
              <h4>Detalhes da OC</h4>

              <div class="details__text">
                <span class="details__label">Criado por:</span>
                <span class="details__value">{{ data.aprovador || 'N/A' }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Data da Liberação:</span>
                <span class="details__value">{{ data.data_aprovacao }}</span>
              </div>
            </div>

            <div class="details__column">
              <h4>Detalhes da Entrega</h4>

              <div class="details__text">
                <span class="details__label">Recebido Por:</span>
                <span class="details__value">{{ data.aprovador || 'N/A' }}</span>
              </div>
            </div>

            <div class="details__column">
              <h4>Nota Fiscal</h4>

              <div class="details__text">
                <span class="details__label">Visualizar Nota Fiscal:</span>
                <a class="details__link" href="http://localhost:3000/{{data.nota_fiscal}}" target="_blank">
                  <mat-icon>description</mat-icon>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="no-results" *ngIf="records.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>

</div>
