<div class="request">

  <div class="request__top">
    <div class="filter">
      <label class="filter__label">Centro de Custo:</label>
      <input type="text" class="filter__input" placeholder="Ex: BRK" [(ngModel)]="centroCustoName"
        (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filter">
      <label class="filter__label">Oc:</label>
      <input type="text" class="filter__input" placeholder="Ex: 1000" [(ngModel)]="ocName" (ngModelChange)="searchOc()">
    </div>

    <div class="filter">
      <label class="filter__label">Fornecedor:</label>
      <input type="text" class="filter__input" placeholder="Ex: Renascer" [(ngModel)]="fornecedorName"
        (ngModelChange)="searchFornecedor()">
    </div>

    <div class="filter">
      <label class="filter__label">Valor:</label>
      <input type="text" class="filter__input" placeholder="Ex: 300" [(ngModel)]="valorName"
        (ngModelChange)="searchValor()">
    </div>
  </div>

  <div class="request__main">
    <div class="cards">

      <div class="card" *ngFor="let data of groupedRecords; let i = index">
        <div class="card__header" (click)="toggleExpand(i)">

          <div class="card__border"></div>

          <div class="card__summary">
            <div class="card__top">
              <div class="card__text card__text--bold">OC: {{ data.numero_oc }}</div>
              <div class="card__separator">-</div>
              <div class="card__text">{{ data.pedidos[0].centro_custo }}</div>
            </div>

            <div class="card__bottom">
              <div class="card__text card__text--bold">{{ data.pedidos[0].nome_fornecedor }}</div>
              <div class="card__separator">|</div>
              <div class="card__text card__text--bold">R$ {{ data.valor_total }}</div>
            </div>
          </div>

          <div class="card__options">
            <button class="card__button card__button--status" (click)="setActiveView($event, i, 'pedidos')">
              <mat-icon class="card__icon">inventory_2</mat-icon>
              <div class="card__text">Pedidos</div>
            </button>

            <button class="card__button card__button--status" (click)="setActiveView($event, i, 'detalhes')">
              <mat-icon class="card__icon">info</mat-icon>
              <div class="card__text">Detalhes</div>
            </button>
          </div>

          <div class="card__expand-icon">
            <i class="arrow" [class.down]="expandedIndex === i"></i>
          </div>
        </div>

        <div class="card__body" [class.show]="expandedIndex === i">
          <!-- Pedidos -->
          <div *ngIf="activeView[i] === 'pedidos'" class="card__grid">
            <div class="card__columns">

              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Material</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.pedidos">
                  {{ item.descricao }}
                </div>
              </div>

              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Quantidade</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.pedidos">{{ item.quantidade }} {{
                  pluralize(item.quantidade, item.unidade) }}
                </div>
              </div>

              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Valor Unitário</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.pedidos">R$ {{
                  unitPrice(item.valor_total,
                  item.quantidade) }}
                </div>
              </div>

              <div class="card__column card__column--order">
                <h4 class="card__text card__text--title">Valor Total</h4>
                <div class="card__text card__text--row" *ngFor="let item of data.pedidos">
                  R$ {{ item.valor_total }}
                </div>
              </div>
            </div>
          </div>

          <!-- Entregue -->
          <form *ngIf="activeView[i] === 'detalhes'" class="card__grid">
            <div class="card__columns card__columns--details">

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Criado Por:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].criacao }}
                </div>
              </div>

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Data da Aprovação:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].data_aprovacao }}
                </div>
              </div>

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Aprovado Por:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].aprovador }}
                </div>
              </div>

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Previsão da Entrega:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].data_entrega }}
                </div>
              </div>

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Data da Entrega:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].ultima_atualizacao }}
                </div>
              </div>

              <div class="card__column card__column--details">
                <h4 class="card__text card__text--title">Registrado Por:</h4>
                <div class="card__text">
                  {{ data.pedidos[0].recebedor }}
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="no-results" *ngIf="groupedRecords.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>

    </div>
  </div>

</div>
