<div class="container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" *ngIf="!isLoading">

    <!-- Seção: Dados Pessoais -->
    <div class="form__section">
      <h2 class="form__title">Dados Pessoais</h2>

      <div class="form__content">
        <div class="form__group form__group--full">
          <label class="form__label">Nome completo</label>
          <input type="text" formControlName="nome" placeholder="Digite seu nome completo" class="form__input">
          <div *ngIf="hasError('nome')" class="form__error">
            {{ getErrorMessage('nome') }}
          </div>
        </div>

        <div class="form__group">
          <label class="form__label">CPF</label>
          <input type="text" formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00"
            inputmode="numeric" class="form__input">
          <div *ngIf="hasError('cpf')" class="form__error">
            {{ getErrorMessage('cpf') }}
          </div>
        </div>

        <div class="form__group">
          <label class="form__label">Data de nascimento</label>
          <input type="date" formControlName="data_nascimento" class="form__input">
        </div>

        <div class="form__group">
          <label class="form__label">Número de contato</label>
          <input type="text" formControlName="numero_contato" placeholder="(00) 00000-0000" mask="(00) 00000-0000"
            class="form__input">
        </div>

        <div class="form__group">
          <label class="form__label">RG</label>
          <input type="number" formControlName="rg" class="form__input" placeholder="Apenas números" inputmode="numeric">
        </div>

        <div class="form__group">
          <label class="form__label">PIS - Opcional</label>
          <input type="number" formControlName="pis" class="form__input" placeholder="Apenas números" inputmode="numeric">
        </div>

        <div class="form__group">
          <label class="form__label">Endereço</label>
          <input type="text" formControlName="endereco" placeholder="Digite o endereço completo" class="form__input">
        </div>
      </div>
    </div>

    <!-- Seção: Dados Profissionais -->
    <div class="form__section">
      <h2 class="form__title">Dados Profissionais</h2>

      <div class="form__content">
        <div class="form__group">
          <label class="form__label">Tamanho da farda</label>
          <select formControlName="tamanho_farda" class="form__select">
            <option value="" disabled>Selecione o tamanho da sua farda</option>
            <option value="PP">PP</option>
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
            <option value="GG">GG</option>
          </select>
        </div>

        <div class="form__group">
          <label class="form__label">Função</label>
          <select formControlName="funcao" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="PINTOR">PINTOR</option>
            <option value="ARMADOR">ARMADOR</option>
            <option value="SERVENTE">SERVENTE</option>
            <option value="PEDREIRO">PEDREIRO</option>
            <option value="SOLDADOR">SOLDADOR</option>
            <option value="BETONEIRO">BETONEIRO</option>
            <option value="ENCANADOR">ENCANADOR</option>
            <option value="APONTADOR">APONTADOR</option>
            <option value="ALMOXARIFE">ALMOXARIFE</option>
            <option value="ESTAGIÁRIO">ESTAGIÁRIO</option>
            <option value="ENGENHEIRO">ENGENHEIRO</option>
            <option value="ENCARREGADO">ENCARREGADO</option>
            <option value="ELETRICISTA">ELETRICISTA</option>
            <option value="SERRALHEIRO">SERRALHEIRO</option>
            <option value="CARPINTEIRO">CARPINTEIRO</option>
            <option value="MESTRE DE OBRAS">MESTRE DE OBRAS</option>
            <option value="TÉCNICO DE SEGURANÇA">TÉCNICO DE SEGURANÇA</option>
            <option value="OPERADOR DE MÁQUINAS">OPERADOR DE MÁQUINAS</option>
            <option value="MOTORISTA DE CAMINHÃO">MOTORISTA DE CAMINHÃO</option>
            <option value="AUXILIAR DE ENGENHARIA">AUXILIAR DE ENGENHARIA</option>
            <option value="AUXILIAR ADMINISTRATIVO">AUXILIAR ADMINISTRATIVO</option>
            <option value="TÉCNICO EM EDIFICAÇÕES">TÉCNICO EM EDIFICAÇÕES</option>
          </select>
        </div>

        <div class="form__group">
          <label class="form__label">Número do calçado</label>
          <select formControlName="numero_calcado" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
          </select>
        </div>

        <div class="form__group">
          <label class="form__label">Filhos com menos de 14 anos</label>
          <input type="number" formControlName="criancas_dependentes" min="0" placeholder="Digite um número"
            class="form__input">
        </div>

        <div class="form__group">
          <label class="form__label">Precisa de vale transporte?</label>
          <select formControlName="precisa_vt" class="form__select">
            <option value="">Selecione uma opção</option>
            <option value="SIM">SIM</option>
            <option value="NÃO">NÃO</option>
          </select>
        </div>

        <div class="form__group" *ngIf="createForm.get('precisa_vt')?.value === 'SIM'">
          <label class="form__label">Quantidade de VT</label>
          <select formControlName="quantidade_vt" class="form__select">
            <option value="" disabled>Selecione uma opção uma opção</option>
            <option value="1">1 VALE TRANSPORTE</option>
            <option value="2">2 VALES TRANSPORTE</option>
            <option value="3">3 VALES TRANSPORTE</option>
            <option value="4">4 VALES TRANSPORTE</option>
            <option value="5">5 VALES TRANSPORTE</option>
            <option value="6">6 VALES TRANSPORTE</option>
            <option value="7">7 VALES TRANSPORTE</option>
            <option value="8">8 VALES TRANSPORTE</option>
            <option value="9">9 VALES TRANSPORTE</option>
            <option value="10">10 VALES TRANSPORTE</option>
          </select>
        </div>

        <div class="form__group" *ngIf="createForm.get('precisa_vt')?.value === 'SIM'">
          <label class="form__label">Possui Cartão VEM?</label>
          <select formControlName="possui_vem" class="form__select">
            <option value="">Selecione uma opção</option>
            <option value="SIM">SIM</option>
            <option value="NÃO">NÃO</option>
          </select>
        </div>

        <div class="form__group" *ngIf="createForm.get('possui_vem')?.value === 'SIM'">
          <label class="form__label">Número do Cartão VEM</label>
          <input type="text" formControlName="numero_vem" placeholder="Apenas números" mask="00.00.00000000-0"
            class="form__input" inputmode="numeric">
        </div>
      </div>
    </div>

    <!-- Seção: Redes Sociais -->
    <div class="form__section">
      <h2 class="form__title">Redes Sociais</h2>

      <div class="form__content">
        <div class="form__group">
          <label class="form__label">Instagram - Opcional</label>
          <input type="text" formControlName="instagram" class="form__input" placeholder="@usuario ou link">
        </div>

        <div class="form__group">
          <label class="form__label">LinkedIn - Opcional</label>
          <input type="url" formControlName="linkedin" class="form__input"
            placeholder="https://linkedin.com/in/usuario">
        </div>
      </div>
    </div>

    <!-- Seção: Dados Médicos -->
    <div class="form__section">
      <h2 class="form__title">Dados Médicos</h2>

      <div class="form__content">
        <div class="form__group">
          <label class="form__label">Tipo sanguíneo</label>
          <select formControlName="tipo_sanguineo" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>

        <div class="form__group">
          <label class="form__label">Possui alergia?</label>
          <select formControlName="alergia" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="NÃO">NÃO</option>
            <option value="MEDICAMENTOS">ALERGIA A MEDICAMENTOS</option>
            <option value="PENICILINA">ALERGIA A PENICILINA</option>
            <option value="ANTI-INFLAMATÓRIOS">ALERGIA A ANTI-INFLAMATÓRIOS</option>
            <option value="ALIMENTOS">ALERGIA A ALIMENTOS</option>
            <option value="FRUTOS DO MAR">ALERGIA A FRUTOS DO MAR</option>
            <option value="AMENDOIM">ALERGIA A AMENDOIM</option>
            <option value="LACTOSE">ALERGIA A LACTOSE</option>
            <option value="GLÚTEN">ALERGIA A GLÚTEN</option>
            <option value="OVO">ALERGIA A OVO</option>
            <option value="LEITE">ALERGIA A LEITE</option>
            <option value="POEIRA">ALERGIA A POEIRA</option>
            <option value="ÁCAROS">ALERGIA A ÁCAROS</option>
            <option value="PÓLEN">ALERGIA A PÓLEN</option>
            <option value="FUNGOS">ALERGIA A FUNGOS</option>
            <option value="PELOS DE ANIMAIS">ALERGIA A PELOS DE ANIMAIS</option>
            <option value="PICADA DE INSETOS">ALERGIA A PICADA DE INSETOS</option>
            <option value="ABELHA/VESPA">ALERGIA A ABELHA/VESPA</option>
            <option value="LÁTEX">ALERGIA A LÁTEX</option>
            <option value="PRODUTOS QUÍMICOS">ALERGIA A PRODUTOS QUÍMICOS</option>
            <option value="COSMÉTICOS">ALERGIA A COSMÉTICOS</option>
            <option value="METIAS">ALERGIA A METAIS (NÍQUEL)</option>
            <option value="TINTA DE TATUAGEM">ALERGIA A TINTA DE TATUAGEM</option>
            <option value="OUTRO">OUTRA ALERGIA NÃO LISTADA</option>
          </select>
        </div>
      </div>

      <div class="form__group form__group--full">
        <label class="form__label">Possui doença crônica?</label>
        <select formControlName="doenca_cronica" class="form__select">
          <option value="" disabled>Selecione uma opção</option>
          <option value="NÃO">NÃO</option>
          <option value="HIPERTENSÃO ARTERIAL">HIPERTENSÃO ARTERIAL</option>
          <option value="DOENÇA ARTERIAL CORONARIANA">DOENÇA ARTERIAL CORONARIANA</option>
          <option value="INSUFICIÊNCIA CARDÍACA">INSUFICIÊNCIA CARDÍACA</option>
          <option value="AVC">AVC (ACIDENTE VASCULAR CEREBRAL)</option>
          <option value="DPOC">DPOC (DOENÇA PULMONAR OBSTRUTIVA CRÔNICA)</option>
          <option value="ASMA">ASMA</option>
          <option value="DIABETES TIPO 1">DIABETES TIPO 1</option>
          <option value="DIABETES TIPO 2">DIABETES TIPO 2</option>
          <option value="DOENÇA RENAL CRÔNICA">DOENÇA RENAL CRÔNICA</option>
          <option value="ALZHEIMER/DEMÊNCIA">ALZHEIMER/DEMÊNCIA</option>
          <option value="PARKINSON">PARKINSON</option>
          <option value="EPILEPSIA">EPILEPSIA</option>
          <option value="CÂNCER">CÂNCER (NEOPLASIA MALIGNA)</option>
          <option value="OSTEOARTRITE (ARTROSE)">OSTEOARTRITE (ARTROSE)</option>
          <option value="ARTRITE REUMATOIDE">ARTRITE REUMATOIDE</option>
          <option value="OSTEOPOROSE">OSTEOPOROSE</option>
          <option value="DEPRESSÃO">DEPRESSÃO</option>
          <option value="TRANSTORNO DE ANSIEDADE">TRANSTORNO DE ANSIEDADE</option>
          <option value="TRANSTORNO BIPOLAR">TRANSTORNO BIPOLAR</option>
          <option value="LÚPUS ERITEMATOSO SISTÊMICO">LÚPUS ERITEMATOSO SISTÊMICO</option>
          <option value="DOENÇA DE CROHN">DOENÇA DE CROHN</option>
          <option value="PSORÍASE">PSORÍASE</option>
          <option value="ESTEATOSE HEPÁTICA">ESTEATOSE HEPÁTICA (FÍGADO GORDUROSO)</option>
          <option value="CIRROSE HEPÁTICA">CIRROSE HEPÁTICA</option>
          <option value="HIPOTIREOIDISMO">HIPOTIREOIDISMO</option>
          <option value="HIPERTIREOIDISMO">HIPERTIREOIDISMO</option>
          <option value="OUTRO">OUTRA CONDIÇÃO NÃO LISTADA</option>
        </select>
      </div>
    </div>

    <!-- Seção: Contato de Emergência -->
    <div class="form__section">
      <h2 class="form__title">Contato de Emergência</h2>

      <div class="form__content">
        <div class="form__group form__group--full">
          <label class="form__label">Nome do contato</label>
          <input type="text" formControlName="contato_emergencia_nome" placeholder="Nome completo" class="form__input">
        </div>

        <div class="form__group">
          <label class="form__label">Grau de parentesco</label>
          <select formControlName="grau_parentesco_emergencia" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="PAI">PAI</option>
            <option value="MÃE">MÃE</option>
            <option value="FILHO">FILHO</option>
            <option value="FILHA">FILHA</option>
            <option value="IRMÃO">IRMÃO</option>
            <option value="IRMÃ">IRMÃ</option>
            <option value="AVÔ">AVÔ</option>
            <option value="AVÓ">AVÓ</option>
            <option value="NETO">NETO</option>
            <option value="NETA">NETA</option>
            <option value="TIO">TIO</option>
            <option value="TIA">TIA</option>
            <option value="SOBRINHO">SOBRINHO</option>
            <option value="SOBRINHA">SOBRINHA</option>
            <option value="PRIMO">PRIMO</option>
            <option value="PRIMA">PRIMA</option>
            <option value="MARIDO">MARIDO</option>
            <option value="ESPOSA">ESPOSA</option>
            <option value="COMPANHEIRO">COMPANHEIRO</option>
            <option value="COMPANHEIRA">COMPANHEIRA</option>
            <option value="GENRO">GENRO</option>
            <option value="NORA">NORA</option>
            <option value="SOGRO">SOGRO</option>
            <option value="SOGRA">SOGRA</option>
            <option value="CUNHADO">CUNHADO</option>
            <option value="CUNHADA">CUNHADA</option>
            <option value="PADRASTO">PADRASTO</option>
            <option value="MADRASTA">MADRASTA</option>
            <option value="ENTEADO">ENTEADO</option>
            <option value="ENTEADA">ENTEADA</option>
            <option value="TIO AVÔ">TIO-AVÔ</option>
            <option value="TIA AVÓ">TIA-AVÓ</option>
            <option value="BISAVÔ">BISAVÔ</option>
            <option value="BISAVÓ">BISAVÓ</option>
            <option value="OUTRO">OUTRO</option>
          </select>
        </div>


        <div class="form__group">
          <label class="form__label">Número de contato</label>
          <input type="text" formControlName="numero_contato_emergencia" placeholder="(00) 00000-0000"
            mask="(00) 00000-0000" inputmode="numeric" class="form__input">
        </div>
      </div>
    </div>

    <!-- Seção: Upload de Documentos -->
    <div class="form__section">
      <h2 class="form__title">Upload de Documentos</h2>

      <div class="form__content">
        <div class="form__group">
          <label class="form__label">Foto 3x4</label>
          <input type="file" (change)="onFileChange($event, 'foto_3x4')" accept="image/*" class="form__file">
        </div>

        <div class="form__group">
          <label class="form__label">Foto do CPF</label>
          <input type="file" (change)="onFileChange($event, 'foto_cpf')" accept="image/*" class="form__file">
        </div>

        <div class="form__group">
          <label class="form__label">Foto RG (Frente)</label>
          <input type="file" (change)="onFileChange($event, 'foto_rg_frente')" accept="image/*" class="form__file">
        </div>

        <div class="form__group">
          <label class="form__label">Foto RG (Verso)</label>
          <input type="file" (change)="onFileChange($event, 'foto_rg_verso')" accept="image/*" class="form__file">
        </div>

        <div class="form__group">
          <label class="form__label">Foto da certidão de nascimento</label>
          <input type="file" (change)="onFileChange($event, 'foto_certidao')" accept="image/*" class="form__file">
        </div>

        <div class="form__group">
          <label class="form__label">Foto do comprovante de residência</label>
          <input type="file" (change)="onFileChange($event, 'foto_comprovante_residencia')" accept="image/*"
            class="form__file">
        </div>

        <div class="form__group form__group--full" *ngIf="createForm.get('possui_vem')?.value === 'SIM'">
          <label class="form__label">Foto do cartão VEM</label>
          <input type="file" (change)="onFileChange($event, 'foto_vem')" accept="image/*" class="form__file">
        </div>
      </div>
    </div>

    <div class="form__footer">
      <button type="submit" class="btn btn--primary" [disabled]="createForm.invalid">
        Enviar formulário
      </button>
    </div>
  </form>

  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
