<nav class="menu">
  <ul class="menu__nav-links">
    <li class="menu__nav-item">
      <a routerLink="/dashboard" routerLinkActive="menu__nav-link--active" [routerLinkActiveOptions]="{exact: true}"
        class="menu__nav-link">
        <mat-icon>dashboard</mat-icon>
        <span class="menu__nav-text">Dashboard</span>
      </a>
    </li>

    <li class="menu__nav-item">
      <a routerLink="/dashboard/reports" routerLinkActive="menu__nav-link--active" class="menu__nav-link">
        <mat-icon>description</mat-icon>
        <span class="menu__nav-text">Relatórios</span>
      </a>
    </li>

    <li class="menu__nav-item">
      <a routerLink="/dashboard/constructions" routerLinkActive="menu__nav-link--active" class="menu__nav-link">
        <mat-icon>construction</mat-icon>
        <span class="menu__nav-text">Obras</span>
      </a>
    </li>

    <li class="menu__nav-item">
      <a routerLink="/dashboard/human-resources" routerLinkActive="menu__nav-link--active" class="menu__nav-link">
        <mat-icon>groups</mat-icon>
        <span class="menu__nav-text">Recursos Humanos</span>
      </a>
    </li>

    <li class="menu__nav-item">
      <a routerLink="/dashboard/financial" routerLinkActive="menu__nav-link--active" class="menu__nav-link">
        <mat-icon>local_atm</mat-icon>
        <span class="menu__nav-text">Financeiro</span>
      </a>
    </li>

    <li class="menu__nav-item">
      <a routerLinkActive="menu__nav-link--active" class="menu__nav-link logout" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span class="menu__nav-text">Sair</span>
      </a>
    </li>

  </ul>
</nav>
