$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$pd-md: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-md: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$fs-mdx: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
$fs-lg: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

$icon-sm: 24px;
$icon-lg: 80px;

.container {
  width: 100%;
  height: 100%;

  gap: $gp-md;
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr;
}

.aside {
  // max-width: 1280px;
  width: 100%;
  height: 100%;

  gap: $gp-md;
  display: flex;
  align-items: start;
  justify-content: start;
}

.main {
  display: flex;
  flex-direction: column;
  padding-right: $pd-sm;

  width: 100%;
  // max-width: 1280px;
  height: 100%;

  gap: $gp-md;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: $bd-sm;
    background: var(--orange-color);
  }
}

.display {
  display: flex;

  &--flex {
    gap: $gp-sm;
    align-items: center;
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }
}

.card {
  width: 100%;
  height: auto;
  border-radius: $bd-df;
  background-color: var(--secondary-color);

  &__header {
    display: flex;
    padding: $pd-md;
    justify-content: space-between;

    cursor: pointer;
    border-top-left-radius: $bd-df;
    border-left: $bd-df solid var(--orange-color);
  }

  &__body {
    display: flex;
    gap: $gp-lg;
    padding: $pd-md;
    border-top: $bd-sm solid var(--primary-color);
  }

  &__group {
    display: flex;

    &--row {
      gap: $gp-sm;
    }

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.bubble {
  border-radius: $bd-xx;
  padding: 0 $pd-sm;
  background-color: rgb(255, 111, 0, 0.2);
}

.title {
  font-size: $fs-md;

  &--light {
    font-weight: 500;
    color: var(--gray-color);
  }

  &--dark {
    font-weight: 600;
    color: var(--text-color);
  }

  &--dark-orange {
    font-weight: 600;
    color: var(--orange-color);
  }

  &--medium {
    font-size: $fs-mdx;
  }

  &--large {
    font-size: $fs-lg;
  }
}

.icon {
  width: auto;
  height: auto;

  border: none;
  outline: none;
  background-color: transparent;

  mat-icon {
    width: 100%;
    height: 100%;
  }

  &--small {
    font-size: $icon-sm;
  }

  &--large {
    font-size: $icon-lg;
  }

  &--light {
    color: var(--gray-color);
  }

  &--dark {
    color: var(--text-color);
  }

  &--orange {
    color: var(--orange-color);
  }

  &--close {
    cursor: pointer;
    font-size: $icon-sm;
    color: var(--gray-color);

    &:hover {
      color: var(--text-color);
    }
  }
}

.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: $fs-md;
  color: var(--text-color);

  border: none;
  background-color: var(--secondary-color);
  transition: all 0.2s ease;

  &__launch {
    border-radius: $bd-lg;
    padding: $pd-sm $pd-md;
    border: $bd-sm solid transparent;

    &:hover {
      color: var(--orange-color);
      border-color: var(--orange-color);
      transform: translateY(-1px);
    }
  }

  &__action {
    border-radius: $bd-lg;
    padding: $pd-sm $pd-md;
    border: $bd-sm solid transparent;
    background-color: var(--primary-color);

    &:hover {
      color: var(--orange-color);
      border-color: var(--orange-color);
      transform: translateY(-1px);
    }
  }

  &.active {
    color: var(--white-color);
    transform: translateY(-4px);
    background-color: var(--orange-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.input {
  font-size: $fs-md;
  font-weight: 500;
  padding: $pd-sm $pd-md;
  color: var(--text-color);

  border-radius: $bd-lg;
  border: $bd-sm solid transparent;
  background-color: var(--secondary-color);
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--orange-color);
  }

  &__modal {
    padding: $pd-sm;

    &--dark {
      background-color: var(--primary-color);
    }
  }
}

.select {
  cursor: pointer;
  font-size: $fs-md;
  font-weight: 500;
  padding: $pd-sm $pd-md;
  color: var(--text-color);

  border-radius: $bd-lg;
  border: $bd-sm solid transparent;
  background-color: var(--secondary-color);
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--orange-color);
  }

  &__modal {
    padding: $pd-sm;

    &--dark {
      background-color: var(--primary-color);
    }
  }
}

.centralized {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &--column {
    gap: $gp-sm;
    flex-direction: column;
  }
}

:host ::ng-deep mat-progress-spinner {
  width: 3vw !important;
  height: 3vw !important;
}

:host ::ng-deep mat-progress-spinner circle {
  stroke: var(--orange-color);
  stroke-width: 8%;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: fadeIn 0.3s ease;
}

.modal {
  max-width: 1024px;
  min-width: 600px;

  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: $gp-md;

  padding: $pd-md;
  border-radius: $bd-lg;
  background-color: var(--secondary-color);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    width: 100%;
    height: 100%;
    display: grid;

    &--single {
      grid-template-columns: 1fr;
    }

    &--double {
      gap: $gp-lg;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $gp-sm;
  }
}

.message {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 8px;
  display: flex;
  font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  padding: min(1em, 5%);
  border-radius: 8px;
  align-items: center;
  z-index: 1000;

  &.success {
    color: var(--white-color);
    background: #4bd28f;
  }

  &.error {
    color: var(--white-color);
    background: #ff5757;
  }
}
