<div class="container">

  @if (showError) {
  <div class="ticket__message ticket__message--error">
    <mat-icon>error</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
  }

  @if (showSuccess) {
  <div class="ticket__message ticket__message--success">
    <mat-icon>check_circle</mat-icon>
    <span>{{ successMessage }}</span>
  </div>
  }

  <div class="filter__container">
  </div>

  <!-- CONTAINER DOS CARDS -->
  <div class="card__container">

    <div class="card" *ngFor="let data of item | keyvalue; let i = index">

      <!-- CABEÇA DO CARD -->
      <div class="card__header" (click)="openCard(i)">

        <!-- LADO ESQUEDO DO CARD -->
        <div class="card__primary">

          <!-- PARTE SUPERIOR -->
          <div class="card__top">
            <div class="card__subtitle">{{ formateName(data.value.applicant_email) || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ data.value.role || 'N/A' }}</div>
          </div>

          <!-- PARTE INFERIOR -->
          <div class="card__bottom">
            <div class="card__title">{{ data.value.subject || 'N/A' }}</div>
          </div>
        </div>

        <!-- LADO DIREITO DO CARD -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">ABERTURA: </div>
            <div class="card__title">{{ formateDate(data.value.opening_date) || 'N/A' }}</div>
          </div>
        </div>
      </div>

      <!-- CORPO DO CARD -->
      <div class="card__body" [class.show]="index === i">

        <!-- DETALHES DO CARD -->
        <form [formGroup]="ticketForm" (ngSubmit)="updateTicket()" class="card__details">

          <!-- DESCRIÇÃO -->
          <div class="card__info">
            <div class="card__title">DESCRIÇÃO</div>
            <div class="card__subtitle">{{ data.value.description || 'N/A'}}</div>
          </div>

          <!-- RESPOSTA -->
          <div class="card__info">
            <div class="card__title">RESPOSTA</div>
            <textarea class="card__response" formControlName="resolution"></textarea>
          </div>

          <!-- RESPOSTA -->
          <div class="card__info">
            <button type="submit">
              @if (!isSend) {
              <span>ENVIAR</span>
              } @else {
              <div class="loading-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
              }
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- LISTA VAZIA -->
    <div class="empty" *ngIf="isEmpty">
      <span>Nenhum registro encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO LISTA -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
