.workspace__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.workspace__section {
  color: var(--text-color);
  font-size: 2rem;
  padding-left: 0.7vw;
}

.workspace__employee {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  &-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background: var(--secondary-color);
  border-radius: 200px;
  box-shadow:
    inset 0px 2px 8px rgba(0, 0, 0, 0.4),
    inset 0px -2px 8px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;

  &::after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  mat-icon {
    position: absolute;
    width: 16px;
    top: 8px;
    z-index: 100;
    color: var(--text-color);
    transition: 0.3s;
    font-size: 16px;
  }

  .sun {
    left: 7px;
  }

  .moon {
    right: 7px;
  }
}

#darkmode-toggle:checked + label {
  background: var(--primary-color);

  &::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
}

label:active::after {
  width: 30px;
}
