<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <!-- FILTRO -->
    <div class="filter">
      <input type="text" class="input input--primary" placeholder="Pesquisar" [(ngModel)]="employee"
        (input)="applyFilters()">
    </div>

    <!-- NAVEGAÇÃO POR STATUS -->
    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'NOVO'}" (click)="filterByStatus('NOVO')">
        Novo
        <span class="counter">{{ statusCounts['NOVO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'PESQUISA SOCIAL'}"
        (click)="filterByStatus('PESQUISA SOCIAL')">
        P. Social
        <span class="counter">{{ statusCounts['PESQUISA SOCIAL'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'DOCUMENTAÇÃO'}"
        (click)="filterByStatus('DOCUMENTAÇÃO')">
        Documentação
        <span class="counter">{{ statusCounts['DOCUMENTAÇÃO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'INTEGRAÇÃO'}"
        (click)="filterByStatus('INTEGRAÇÃO')">
        Integração
        <span class="counter">{{ statusCounts['INTEGRAÇÃO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'LIBERADO'}"
        (click)="filterByStatus('LIBERADO')">
        Liberado
        <span class="counter">{{ statusCounts['LIBERADO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'OUTRO'}" (click)="filterByOtherStatus()">
        Outros
        <span class="counter">{{ statusCounts['PAUSADO'] + statusCounts['CANCELADO'] }}</span>
      </button>
    </div>

    <!-- FILTRO -->
    <form [formGroup]="findForm" (ngSubmit)="findByCC()" class="filter">
      <select formControlName="centroCusto" class="select select--primary">
        <option value="GERAL">GERAL</option>
        <option value="BRK - RECIFE">BRK - RECIFE</option>
        <option value="BRK - MACEIO">BRK - MACEIO</option>
      </select>
      <button type="submit" class="btn btn--primary">
        @if (isFind) {
        <div class="loading-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        } @else {
        <mat-icon>search</mat-icon>
        }
      </button>
    </form>

    <div class="filter">
      <button class="btn btn--primary" (click)="openModalCreate()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div class="container__card">
    <!-- CARD -->
    <div *ngFor="let item of items; let i = index" (click)="openModalEdit(item)" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__title">{{ item.nome || 'N/A' }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__subtitle">{{ item.funcao || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">

          <div class="card__text">
            <div class="card__subtitle">ASO:</div>
            <div class="card__title">
              @if (item.aso === 'CONCLUIDO') {
              <mat-icon>check</mat-icon>
              } @else {
              <mat-icon>close</mat-icon>
              }
            </div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">FICHA DE EPI:</div>
            <div class="card__title">
              @if (item.ficha_epi === 'CONCLUIDO') {
              <mat-icon>check</mat-icon>
              } @else {
              <mat-icon>close</mat-icon>
              }
            </div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">TREINAMENTO:</div>
            <div class="card__title">
              @if (item.treinamento === 'CONCLUIDO') {
              <mat-icon>check</mat-icon>
              } @else {
              <mat-icon>close</mat-icon>
              }
            </div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ORDEM DE SERVIÇO:</div>
            <div class="card__title">
              @if (item.os === 'CONCLUIDO') {
              <mat-icon>check</mat-icon>
              } @else {
              <mat-icon>close</mat-icon>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__body-top">
          <div class="card__content">
            <div class="card__subtitle">OBSERVAÇÃO</div>
            <div class="card__title">{{ item.observacao || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__body-bottom">
          <div class="card__content">
            <div class="card__subtitle">NUM. DO CONTRATO</div>
            <div class="card__title">{{ item.contrato || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">PESQUISA SOCIAL</div>
            <div class="card__title">{{ formateDate(item.dt_envio_pesq_social) || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">PREV. DE APROVAÇÃO</div>
            <div class="card__title">{{ formateDate(item.dt_prev_aprov_pesq_social) || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">ENVIO DO DOCUMENTO</div>
            <div class="card__title">{{ formateDate(item.dt_envio_doc) || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">PREV. DE APROVAÇÃO</div>
            <div class="card__title">{{ formateDate(item.dt_prev_aprov_doc) || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">REENVIO DO DOCUMENTO</div>
            <div class="card__title">{{ formateDate(item.dt_reenvio_doc) || 'N/A' }}</div>
          </div>
          <div class="card__content">
            <div class="card__subtitle">PREV. DE APROVAÇÃO</div>
            <div class="card__title">{{ formateDate(item.dt_prev_aprov_reenvio_doc) || 'N/A' }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL -->
    <form *ngIf="isModalCreate" [formGroup]="createForm" (ngSubmit)="create()" class="modal__backdrop">
      <div class="modal__container modal__container--small">
        <div class="modal__header">
          <h2 class="modal__title">Criar colaborador</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content modal__content--small">
          <div class="modal__group modal__group--full">
            <label class="modal__label">Nome *</label>
            <input type="text" placeholder="Nome completo" formControlName="nome" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Função *</label>
            <select formControlName="funcao" class="modal__select">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let function of functions" [value]="function">{{ function }}</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Contrato *</label>
            <input type="text" class="modal__input" formControlName="contrato" placeholder="CW00000" mask="AA00000">
          </div>

          <div class="modal__group">
            <label class="modal__label">Cento de custo *</label>
            <select class="modal__select" formControlName="centroCusto">
              <option value="" disabled>Selecione uma opção</option>
              <option value="BRK - RECIFE">BRK - RECIFE</option>
              <option value="BRK - MACEIO">BRK - MACEIO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Status *</label>
            <select class="modal__select" formControlName="status">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NOVO">NOVO</option>
              <option value="PESQUISA SOCIAL">PESQUISA SOCIAL</option>
              <option value="DOCUMENTAÇÃO">DOCUMENTAÇÃO</option>
              <option value="INTEGRAÇÃO">INTEGRAÇÃO</option>
              <option value="LIBERADO">LIBERADO</option>
              <option value="PAUSADO">PAUSADO</option>
              <option value="CANCELADO">CANCELADO</option>
            </select>
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label">Observação</label>
            <textarea formControlName="observacao" placeholder="Digito algo..." class="modal__input"></textarea>
          </div>
        </div>

        <div class="modal__footer">
          <button (click)="closeModal()" class="btn btn--secondary">Cancelar</button>
          <button type="submit" class="btn btn--primary">
            @if (isCreate) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Criar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- MODAL -->
    <form *ngIf="isModalEdit" [formGroup]="updateForm" (ngSubmit)="update()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Atualizar colaborador</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">

          <div class="modal__group">
            <label class="modal__label">Nome *</label>
            <input type="text" formControlName="nome" placeholder="Nome completo" class="modal__input" readonly>
          </div>

          <div class="modal__group">
            <label class="modal__label">Função *</label>
            <select formControlName="funcao" class="modal__select">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let function of functions" [value]="function">{{ function }}</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Contrato *</label>
            <input type="text" class="modal__input" formControlName="contrato" placeholder="CW00000">
          </div>

          <div class="modal__group">
            <label class="modal__label">Status *</label>
            <select class="modal__select" formControlName="status">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NOVO">NOVO</option>
              <option value="PESQUISA SOCIAL">PESQUISA SOCIAL</option>
              <option value="DOCUMENTAÇÃO">DOCUMENTAÇÃO</option>
              <option value="INTEGRAÇÃO">INTEGRAÇÃO</option>
              <option value="LIBERADO">LIBERADO</option>
              <option value="PAUSADO">PAUSADO</option>
              <option value="CANCELADO">CANCELADO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Cento de custo *</label>
            <select class="modal__select" formControlName="centroCusto">
              <option value="" disabled>Selecione uma opção</option>
              <option value="BRK - RECIFE">BRK - RECIFE</option>
              <option value="BRK - MACEIO">BRK - MACEIO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Pesquisa social</label>
            <input type="date" class="modal__input" formControlName="pesquisaSocial">
          </div>

          <div class="modal__group">
            <label class="modal__label">Envio do documento</label>
            <input type="date" class="modal__input" formControlName="envioDoc">
          </div>

          <div class="modal__group">
            <label class="modal__label">Reenvio do documento</label>
            <input type="date" class="modal__input" formControlName="reenvioDoc">
          </div>

          <div class="modal__group">
            <label class="modal__label">ASO</label>
            <select class="modal__select" formControlName="aso">
              <option value="" disabled>Selecione uma opção</option>
              <option value="CONCLUIDO">CONCLUIDO</option>
              <option value="NÃO CONCLUIDO">NÃO CONCLUIDO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Ficha de EPI</label>
            <select class="modal__select" formControlName="fichaEPI">
              <option value="" disabled>Selecione uma opção</option>
              <option value="CONCLUIDO">CONCLUIDO</option>
              <option value="NÃO CONCLUIDO">NÃO CONCLUIDO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Treinamento</label>
            <select class="modal__select" formControlName="treinamento">
              <option value="" disabled>Selecione uma opção</option>
              <option value="CONCLUIDO">CONCLUIDO</option>
              <option value="NÃO CONCLUIDO">NÃO CONCLUIDO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Ordem de serviço</label>
            <select class="modal__select" formControlName="os">
              <option value="" disabled>Selecione uma opção</option>
              <option value="CONCLUIDO">CONCLUIDO</option>
              <option value="NÃO CONCLUIDO">NÃO CONCLUIDO</option>
            </select>
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label">Observação</label>
            <textarea formControlName="observacao" placeholder="Digito algo..." class="modal__input"></textarea>
          </div>
        </div>

        <div class="modal__footer">
          <button (click)="closeModal()" class="btn btn--secondary">Cancelar</button>

          <button type="button" (click)="delete()" class="btn btn--danger">
            @if (isDelete) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Deletar
            }
          </button>

          <button type="submit" class="btn btn--primary">
            @if (isUpdate) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Atualizar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- SEM RESULTADO -->
    <div class="empty" *ngIf="isEmpty">
      <h2 class="empty__title">Nenhum resultado foi encontrado</h2>
    </div>
  </div>
</div>
