<app-dynamic-list [config]="listConfig" [items]="items" [isSearching]="isSearching">

  <ng-template #cardBody let-item>
    <div class="body">

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">article</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">NÚMERO DO CONTRATO</h3>
          <h3 class="title title--dark">{{ item.contrato || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">link</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">LINK</h3>
          <h3 class="title title--dark">{{ item.link ? 'ABRIR LINK' : 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">PESQUISA SOCIAL</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_envio_pesq_social) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">PREV. APROVAÇÃO P.S</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_prev_aprov_pesq_social) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ENVIO DO DOCUMENTO</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_envio_doc) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">PREV. APROVAÇÃO DOC</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_prev_aprov_doc) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">REENVIO DO DOCUMENTO</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_reenvio_doc) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">PREV. APROVAÇÃO REENV</h3>
          <h3 class="title title--dark">{{ formateDate(item.dt_prev_aprov_reenvio_doc) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">settings</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ASO</h3>
          <h3 class="title title--dark">{{ item.aso || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">settings</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">FICHA DE EPI</h3>
          <h3 class="title title--dark">{{ item.epi || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">settings</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">TREINAMENTO</h3>
          <h3 class="title title--dark">{{ item.treinamento || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">settings</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ORDEM DE SERVIÇO</h3>
          <h3 class="title title--dark">{{ item.os || 'N/A' }}</h3>
        </div>
      </div>

      @if (item.observacao) {
      <div class="group group--body group--full">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">notes</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">OBSERVAÇÃO</h3>
          <h3 class="title title--dark">{{ item.observacao }}</h3>
        </div>
      </div>
      }

    </div>
  </ng-template>

</app-dynamic-list>
