<div class="container">
  <app-header></app-header>

  <div class="banner">
    <div class="banner__content">
      <h1>
        Escolha inteligente.<br />
        <span>Escolha Same.</span>
      </h1>
    </div>

    <video autoplay loop muted playsinline class="banner__video" preload="auto">
      <source [src]="video" type="video/mp4">
    </video>
  </div>

  <section id="novidade">
    <h1>
      Onde a elegância encontra<br />
      <span>o conforto.</span>
    </h1>
    <app-carousel></app-carousel>
  </section>

  <section id="quemSomos">
    <div class="quemSomes__container"></div>
  </section>

  <section id="trabalheConosco">
    <div class="trabalheConosco__container">
    </div>
  </section>

  <app-whatsapp-botao></app-whatsapp-botao>
  <app-footer></app-footer>
</div>
