<div class="container">

  <app-header></app-header>

  <section class="banner">

    <div class="banner__title">
      <h1>
        Escolha inteligente.<br />
        <span>Escolha Same.</span>
      </h1>
    </div>

    <video autoplay loop muted playsinline class="video" preload="auto">
      <source [src]="video" type="video/mp4">
    </video>

  </section>

  <section id="novidades">
    <h1>
      Onde a elegância encontra<br />
      <span>o conforto.</span>
    </h1>
    <app-carousel></app-carousel>
  </section>

  <app-footer></app-footer>
  <app-whatsapp-botao></app-whatsapp-botao>
</div>
