<div class="container">

  <!-- BANNER DA TELA -->
  <aside class="banner" [style.background-image]="'url(' + backgroundImageUrl + ')'">
    <div class="overlay"></div>
    <div class="banner__content">
      <img [src]="logo" alt="Logo Same" class="banner__logo">
      <h1 class="banner__title">SAME ENGENHARIA</h1>
      <span class="banner__subtitle">
        Na Same Engenharia, temos um compromisso inabalável com a qualidade em cada etapa da sua obra. Mais do que
        construir, buscamos entregar excelência, segurança e confiança para transformar projetos em realidade com
        responsabilidade e precisão.
      </span>
    </div>
  </aside>

  <!-- ÁREA DE LOGIN DA TELA -->
  <main class="login">

    <!-- MENSAGEM DE INTERAÇÃO -->
    <div class="login__wrapper">
      <h1 class="login__title">CADASTRAR CONTA</h1>
      <p class="login__subtitle">Entre com as credenciais forncedidas pela empresa</p>
    </div>

    <!-- FORMULÁRIO DE LOGIN -->
    <form [formGroup]="loginForm" (ngSubmit)="firstLogin()" class="login__form">

      <!-- EMAIL -->
      <div class="form__group">
        <input type="text" placeholder="Email" formControlName="email" />
        <mat-icon>mail</mat-icon>
      </div>

      <!-- SENHA -->
      <div class="form__group">
        <input [type]="passwordType" placeholder="Senha" formControlName="password" (input)="updatePasswordIcon()" />
        <mat-icon (click)="togglePasswordVisibility()" class="input__field-icon">{{ showPasswordIcon }}</mat-icon>
      </div>

      <!-- BOTÃO DE SUBMIT -->
      <button>
        <span *ngIf="!loading">ENTRAR</span>
        <span *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </span>
      </button>

      <!-- CRIAR CONTA -->
      <div class="login__create-account">
        <p>Já tem uma conta? <a routerLink="/first-login" class="login__link">Acesse aqui!</a></p>
      </div>

      <!-- MENSAGEM DE ERRO -->
      <div class="login__message" *ngIf="loginError">
        <p class="login__message-error">{{ loginError }}</p>
      </div>
    </form>
  </main>
</div>
