<div class="container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" *ngIf="!isLoading">
    <div class="form__section">
      <h2 class="form__title">Dados Pessoais</h2>

      <div class="form__content">

        <div class="form__group">
          <label class="form__label">CPF</label>
          <input type="text" formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00"
            class="form__input">
          <div *ngIf="hasError('cpf')" class="form__error">
            {{ getErrorMessage('cpf') }}
          </div>
        </div>

        <div class="form__group">
          <label class="form__label">Endereço</label>
          <input type="text" formControlName="endereco" placeholder="Insira seu endereço completo" class="form__input">
          <div *ngIf="hasError('endereco')" class="form__error">
            {{ getErrorMessage('endereco') }}
          </div>
        </div>
      </div>
    </div>

    <div class="form__section">
      <h2 class="form__title">Dados Profissionais</h2>

      <div class="form__content">
        <div class="form__group">
          <label class="form__label">Benefício a ser cancelado</label>
          <select formControlName="beneficio" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="VALE TRANPORTE">VALE TRANPORTE</option>
            <option value="VALE COMBUSTÍVEL">VALE COMBUSTÍVEL</option>
          </select>
        </div>

        <div class="form__group">
          <label class="form__label">Qual o motivo do cancelamento?</label>
          <select formControlName="motivo" class="form__select">
            <option value="" disabled>Selecione uma opção</option>
            <option value="NÃO PRECISA">NÃO PRECISO</option>
            <option value="VEICULO PRÓPRIO">VEICULO PRÓPRIO</option>
            <option value="CARONA">RECEBO CARONA</option>
            <option value="OUTRO">OUTRO</option>
          </select>
        </div>

      </div>
    </div>

    <div class="form__section">
      <h2 class="form__title">Aviso</h2>

      <div class="form__content">
        <div class="form__group form__group--full">
          <label class="form__label">
            Após o preenchimento e envio, o RH dará retorno em até 48 horas.
            A alteração será efetivada na próxima folha de pagamento, desde que ainda esteja dentro do prazo de
            fechamento. Qualquer necessidade futura de restabelecimento do benefício deverá ser formalizada por meio de
            novo formulário de solicitação.
          </label>
        </div>

        <div class="form__group">
          <label class="form__label">
            <input type="checkbox" formControlName="termos">
            Concordo com os termos e condições
          </label>
        </div>

      </div>
    </div>

    <div class="form__footer">
      <button type="submit" class="btn btn--primary" [disabled]="createForm.invalid">
        Enviar
      </button>
    </div>
  </form>

  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>