<div class="body">
  <div class="container">
    <div class="informativo">
      <h1>Primeiro acesso?</h1>
      <p>Crie seu nome de usuário e sua nova senha!</p>
      <p>A nova senha deve ter pelo menos 8 caracteres, incluindo uma letra maiúscula, um número e um caractere especial.</p>
    </div>

    <div class="update">
      <form [formGroup]="updateForm" (ngSubmit)="update()">
        <h1>Atualizar conta</h1>
        <input type="text" placeholder="Usuário" formControlName="username" />
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="text" placeholder="Senha atual" formControlName="currentPassword" />
        <input type="text" placeholder="Senha nova" formControlName="newPassword" />
        <button>
          <span *ngIf="!loading">Atualizar</span>
          <span *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </span>
        </button>
        <div class="update__message" *ngIf="updateError">
          <p class="update__message-error">{{ updateError }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
