<div class="container">

  <!-- BANNER DA TELA -->
  <aside class="banner" [style.background-image]="'url(' + backgroundImageUrl + ')'">
    <div class="overlay"></div>
    <div class="banner__content">
      <img [src]="logo" alt="Logo Same" class="banner__logo">
      <h1 class="banner__title">SAME ENGENHARIA</h1>
      <span class="banner__subtitle">
        Na Same Engenharia, temos um compromisso inabalável com a qualidade em cada etapa da sua obra. Mais do que
        construir, buscamos entregar excelência, segurança e confiança para transformar projetos em realidade com
        responsabilidade e precisão.
      </span>
    </div>
  </aside>

  <!-- ÁREA DE LOGIN DA TELA -->
  <main class="login">

    <!-- MENSAGEM DE INTERAÇÃO -->
    <div class="login__wrapper">
      <h1 class="login__title">CADASTRAR CONTA</h1>
      <p class="login__subtitle">Preencha os campos abaixo</p>
    </div>

    <!-- FORMULÁRIO DE LOGIN -->
    <form [formGroup]="updateForm" (ngSubmit)="update()" class="login__form">

      <!-- USUARIO -->
      <div class="form__group">
        <input type="text" placeholder="Usuário" formControlName="username" />
        <mat-icon>person</mat-icon>
      </div>

      <!-- EMAIL -->
      <div class="form__group">
        <input type="email" placeholder="Email" formControlName="email" />
        <mat-icon>mail</mat-icon>
      </div>

      <!-- SENHA ATUAL -->
      <div class="form__group">
        <input [type]="currentPasswordType" placeholder="Senha Atual" formControlName="currentPassword" (input)="updateCurrentPasswordIcon()" />
        <mat-icon (click)="toggleCurrentPasswordVisibility()" class="input__field-icon">{{ currentPasswordIcon }}</mat-icon>
      </div>

      <!-- SENHA NOVA -->
      <div class="form__group">
        <input [type]="newPasswordType" placeholder="Nova Senha" formControlName="newPassword" (input)="updateNewPasswordIcon()" />
        <mat-icon (click)="toggleNewPasswordVisibility()" class="input__field-icon">{{ newPasswordIcon }}</mat-icon>
      </div>

      <!-- REQUISITOS DE SENHA -->
      <div class="password-requirements" *ngIf="updateForm.get('newPassword')?.value">
        <h4 class="requirements__title">Requisitos de senha:</h4>
        <ul class="requirements__list">
          <li [ngClass]="{'requirement-met': passwordRequirements.minLength}">
            <mat-icon>{{ passwordRequirements.minLength ? 'check_circle' : 'cancel' }}</mat-icon>
            <span>Mínimo de 8 caracteres</span>
          </li>
          <li [ngClass]="{'requirement-met': passwordRequirements.hasUpperCase}">
            <mat-icon>{{ passwordRequirements.hasUpperCase ? 'check_circle' : 'cancel' }}</mat-icon>
            <span>Pelo menos 1 letra maiúscula</span>
          </li>
          <li [ngClass]="{'requirement-met': passwordRequirements.hasLowerCase}">
            <mat-icon>{{ passwordRequirements.hasLowerCase ? 'check_circle' : 'cancel' }}</mat-icon>
            <span>Pelo menos 1 letra minúscula</span>
          </li>
          <li [ngClass]="{'requirement-met': passwordRequirements.hasNumber}">
            <mat-icon>{{ passwordRequirements.hasNumber ? 'check_circle' : 'cancel' }}</mat-icon>
            <span>Pelo menos 1 número</span>
          </li>
          <li [ngClass]="{'requirement-met': passwordRequirements.hasSpecialChar}">
            <mat-icon>{{ passwordRequirements.hasSpecialChar ? 'check_circle' : 'cancel' }}</mat-icon>
            <span>Pelo menos 1 caractere especial ($!%*?&)</span>
          </li>
        </ul>
      </div>

      <!-- BOTÃO DE SUBMIT -->
      <button [disabled]="updateForm.invalid">
        <span *ngIf="!loading">Atualizar</span>
        <span *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </span>
      </button>

      <!-- CRIAR CONTA -->
      <div class="login__create-account">
        <p>Já tem uma conta? <a href="/login" class="login__link">Acesse aqui</a></p>
      </div>

      <!-- MENSAGEM DE ERRO -->
      <div class="login__message" *ngIf="updateError">
        <p class="login__message-error">{{ updateError }}</p>
      </div>
    </form>
  </main>
</div>
