<div class="container">

  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <div class="filter">
      <button (click)="getByStatus('NOVO')" [ngClass]="{'active': selectedStatus === 'NOVO'}" class="btn btn--third">
        Novos
        <span class="counter">{{ status['NOVO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button (click)="getByStatus('ATIVO')" [ngClass]="{'active': selectedStatus === 'ATIVO'}" class="btn btn--third">
        Ativos
        <span class="counter">{{ status['ATIVO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button (click)="getByStatus('VENCIDO')" [ngClass]="{'active': selectedStatus === 'VENCIDO'}"
        class="btn btn--third">
        Vencidos
        <span class="counter">{{ status['VENCIDO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button (click)="getByStatus('DEVOLVIDO')" [ngClass]="{'active': selectedStatus === 'DEVOLVIDO'}"
        class="btn btn--third">
        Devolvidos
        <span class="counter">{{ status['DEVOLVIDO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <input type="text" placeholder="Pesquisar" [(ngModel)]="idmov" (input)="applyFilters()"
        class="input input--primary">
    </div>

    <div class="filter">
      <select [(ngModel)]="costCenter" (change)="applyFilters()" class="input input--primary">
        <option value="GERAL">Geral</option>
        <option *ngFor="let cc of costCenters" [value]="cc">{{ cc }}</option>
      </select>
    </div>

    <div class="filter">
      <button type="button" class="btn btn--primary" (click)="openMenu()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>

  <div class="container__card">
    <div *ngFor="let item of items" (click)="showHistory(item)" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">

            <div class="card__text">
              <div class="card__title">DR:</div>
              <div class="card__title">{{ upperCase(item.unidade) || 'N/A'}}</div>
              <div class="card__subtitle">|</div>
            </div>

            <div class="card__text">
              <div class="card__title">UND:</div>
              <div class="card__title">{{ item.quantidade || 'N/A' }}</div>
              <div class="card__subtitle">|</div>
            </div>

            <div class="card__text">
              <div class="card__title">{{ item.nome_equipamento || 'N/A' }}</div>
            </div>
          </div>
          <div class="card__bottom">
            <div class="card__subtitle">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">OC:</div>
            <div class="card__title">{{ item.contrato.ordem_compra || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">MOV:</div>
            <div class="card__title">{{ item.movimento || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ID:</div>
            <div class="card__title">{{ item.contrato.idmov || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">NC:</div>
            <div class="card__title">{{ item.numero_contrato || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">PD:</div>
            <div class="card__title">{{ item.contrato.periodo || 'N/A'}}</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__content">
          <div class="card__subtitle">FORNECEDOR</div>
          <div class="card__title">{{ item.fornecedor || 'N/A' }}</div>
        </div>

        <div class="card__content">
          <div class="card__subtitle">USUÁRIO</div>
          <div class="card__title">{{ item.criador || 'N/A' }}</div>
        </div>

        <div class="card__content">
          <div class="card__subtitle">VALOR DO EQUIPAMENTO</div>
          <div class="card__title">R$ {{ item.valor || 'N/A' }}</div>
        </div>

        <div class="card__content">
          <div class="card__subtitle">INÍCIO DO PERÍODO</div>
          <div class="card__title">{{ formateDate(item.contrato.data_inicial) || 'N/A' }}</div>
        </div>

        <div class="card__content">
          <div class="card__subtitle">FIM DO PERÍODO</div>
          <div class="card__title">{{ formateDate(item.contrato.data_final) || 'N/A' }}</div>
        </div>
      </div>
    </div>

    @if (isMenuOpen) {
    <div class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Mais Opções</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <button type="button" (click)="openRegister()" class="btn btn--secondary">
              Cadastrar Locação
            </button>
          </div>

          <div class="modal__group">
            <button type="button" (click)="openActive()" class="btn btn--secondary">
              Ativar Locação
            </button>
          </div>

          <div class="modal__group">
            <button type="button" (click)="openRenew()" class="btn btn--secondary">
              Renovar Locação
            </button>
          </div>

          <div class="modal__group">
            <button type="button" (click)="openArchive()" class="btn btn--secondary">
              Devolver Locação
            </button>
          </div>

          <div class="modal__group modal__group--full">
            <button type="button" (click)="openHistory()" class="btn btn--secondary">
              Buscar Locação
            </button>
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="closeModal()" class="btn btn--secondary">
            Sair
          </button>
        </div>
      </div>
    </div>
    }

    @if(isRegisterOpen) {
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Cadastrar Locação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">ID do Contrato*</label>
            <input type="number" formControlName="idmov" placeholder="Insira o idmov" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Número do Contrato *</label>
            <input type="number" formControlName="numero_contrato" placeholder="Insira o número do contrato"
              class="modal__input">
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label-upload">

              @if (uploadedFile) {
              <span class="modal__span">
                {{ uploadedFile.name }}
              </span>
              } @else {
              <mat-icon class="modal__icon modal__icon--upload">
                cloud_upload
              </mat-icon>

              <span class="modal__span">
                Anexar contrato
              </span>
              }

              <input type="file" accept="image/*" (change)="onFileChange($event)"
                class="modal__input modal__input--none">
            </label>
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="returnMenu()" class="btn btn--secondary">
            Voltar
          </button>

          <button type="submit" [disabled]="!registerForm.valid" class="btn btn--primary">
            @if (isProcessing) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Cadastrar
            }
          </button>
        </div>
      </div>
    </form>
    }

    @if(isActiveOpen) {
    <form [formGroup]="activeForm" (ngSubmit)="onActive()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Ativar Locação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group modal__group--full">
            <label class="modal__label">Número do Contrato *</label>
            <input type="number" formControlName="numero_contrato" placeholder="Insira o número do contrato"
              class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">ID *</label>
            <input type="number" formControlName="idmov" placeholder="Insira o idmov" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Ordem de Compra *</label>
            <input type="number" formControlName="ordem_compra" placeholder="Insira a ordem de compra"
              class="modal__input">
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="returnMenu()" class="btn btn--secondary">
            Voltar
          </button>

          <button type="submit" [disabled]="!activeForm.valid" class="btn btn--primary">
            @if (isProcessing) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Ativar
            }
          </button>
        </div>
      </div>
    </form>
    }

    @if(isRenewOpen) {
    <form [formGroup]="renewForm" (ngSubmit)="onRenew()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Renovar Locação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">ID Atual *</label>
            <input type="number" formControlName="idmov_atual" placeholder="Insira o id atual" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">ID Novo *</label>
            <input type="number" formControlName="idmov_novo" placeholder="Insira o id novo" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Número do Contrato *</label>
            <input type="number" formControlName="numero_contrato" placeholder="Insira o número do contrato"
              class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Ordem de Compra *</label>
            <input type="number" formControlName="ordem_compra" placeholder="Insira a ordem de compra"
              class="modal__input">
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label">Início do Contrato *</label>
            <input type="date" formControlName="data_inicial" class="modal__input">
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="returnMenu()" class="btn btn--secondary">
            Voltar
          </button>

          <button type="submit" [disabled]="!renewForm.valid" class="btn btn--primary">
            @if (isProcessing) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Renovar
            }
          </button>
        </div>
      </div>
    </form>
    }

    @if (isArchiveOpen) {
    <form [formGroup]="archiveForm" (ngSubmit)="onArchive()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Devolver Locação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">ID *</label>
            <input type="number" formControlName="idmov" placeholder="Insira o idmov da locação" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Número do Contrato *</label>
            <input type="number" formControlName="numero_contrato" placeholder="Insira o número do contrato"
              class="modal__input">
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="returnMenu()" class="btn btn--secondary">
            Voltar
          </button>

          <button type="submit" [disabled]="!archiveForm.valid" class="btn btn--primary">
            @if (isProcessing) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Devolver
            }
          </button>
        </div>
      </div>
    </form>
    }

    @if (isHistoryOpen) {
    <form [formGroup]="historyForm" (ngSubmit)="onHistory()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Buscar Locação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group modal__group--full">
            <label class="modal__label">Número do Contrato *</label>
            <input type="number" formControlName="numero_contrato" placeholder="Insira o número do contrato"
              class="modal__input">
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" (click)="returnMenu()" class="btn btn--secondary">
            Voltar
          </button>

          <button type="submit" [disabled]="!historyForm.valid" class="btn btn--primary">
            @if (isProcessing) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Buscar
            }
          </button>
        </div>
      </div>
    </form>
    }

    @if (isHistory) {
    <div class="modal__backdrop">
      <div class="modal__container--secondary">

        <div class="modal__header modal__header--secondary">
          <h2 class="modal__title modal__title">Visualizar Histórico</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close btn--close">&times;</button>
        </div>

        <div class="modal__content modal__content--secondary">
          <div *ngFor="let item of groupItems" class="card">
            <div class="card__header">
              <div class="card__primary">
                <div class="card__top">

                  <div class="card__text">
                    <div class="card__title">{{ item.contrato_base.fornecedor || 'N/A'}}</div>
                  </div>

                </div>
                <div class="card__bottom">
                  <div class="card__subtitle">{{ item.contrato_base.centro_custo || 'N/A' }}</div>
                </div>
              </div>
              <div class="card__secondary">
                <div class="card__text">
                  <div class="card__subtitle">ID:</div>
                  <div class="card__title">{{ item.idmov || 'N/A'}}</div>
                  <div class="card__subtitle">|</div>
                </div>

                <div class="card__text">
                  <div class="card__subtitle">OC:</div>
                  <div class="card__title">{{ item.ordem_compra || 'N/A'}}</div>
                  <div class="card__subtitle">|</div>
                </div>

                <div class="card__text">
                  <div class="card__subtitle">DR:</div>
                  <div class="card__title">{{ upperCase(item.contrato_base.unidade) || 'N/A'}}</div>
                  <div class="card__subtitle">|</div>
                </div>

                <div class="card__text">
                  <div class="card__subtitle">IP:</div>
                  <div class="card__title">{{ formateDate(item.data_inicial) || 'N/A'}}</div>
                  <div class="card__subtitle">|</div>
                </div>

                <div class="card__text">
                  <div class="card__subtitle">FP:</div>
                  <div class="card__title">{{ formateDate(item.data_final) || 'N/A'}}</div>
                  <div class="card__subtitle">|</div>
                </div>

                <div class="card__text">
                  <div class="card__subtitle">PD:</div>
                  <div class="card__title">{{ item.periodo || 'N/A'}}</div>
                </div>
              </div>
            </div>
            <div *ngFor="let contratoItem of item.contrato_base.contrato_itens"
              class="card__body card__body--secondary">
              <div class="card__content">
                <div class="card__subtitle">VALOR</div>
                <div class="card__title">R$ {{ contratoItem.valor || 'N/A' }}</div>
              </div>

              <div class="card__content">
                <div class="card__subtitle">QUANTIDADE</div>
                <div class="card__title">{{ contratoItem.quantidade || 'N/A' }} UND(S)</div>
              </div>

              <div class="card__content">
                <div class="card__subtitle">EQUIPAMENTO</div>
                <div class="card__title">{{ contratoItem.nome_equipamento || 'N/A' }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal__footer modal__footer--secondary">
          <button type="button" (click)="closeModal()" class="btn btn--primary">
            Voltar
          </button>
        </div>

      </div>
    </div>
    }

    @if (isLoading) {
    <div class="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    }

    @if (isEmpty) {
    <div class="empty">
      <mat-icon class="empty__icon">wrong_location</mat-icon>
      <h2 class="empty__title">Nenhum contrato foi encontrado</h2>
    </div>
    }
  </div>
</div>