.container {
  gap: 2vw;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--secondary-color);
  transition: all ease 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow);

    .card__icon,
    .card__text {
      color: var(--orange-color);
    }
  }

  &__icon {
    width: auto;
    height: auto;
    font-size: 30px;
    color: var(--text-color);
  }

  &__text {
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
  }
}
