<!-- CONTAINER DA PAG -->
<div class="container">

  <!-- MENSAGEM DE SUCESSO -->
  @if (showError) {
    <div class="card__message card__message--error">
      <mat-icon>error</mat-icon>
      <span>{{ errorMessage }}</span>
    </div>
    }
  
    <!-- MENSAGEM DE ERRO -->
    @if (showSuccess) {
    <div class="card__message card__message--success">
      <mat-icon>check_circle</mat-icon>
      <span>{{ successMessage }}</span>
    </div>
    }

  <!-- CONTAINER DOS FILTROS -->
  <div class="filter__container">

    <!-- FUNCIONARIO -->
    <div class="filter">
      <label>FUNCIONÁRIO</label>
      <input type="text" placeholder="Ex: JOÃO" />
    </div>

    <!-- CENTRO DE CUSTO -->
    <div class="filter">
      <label>CENTRO DE CUSTO</label>
      <input type="text" placeholder="Ex: BRK" />
    </div>

  </div>

  <!-- CONTAINER DO CARD -->
  <div class="card__container">

    <!-- CARD IND -->
    <div class="card" *ngFor="let data of item | keyvalue">

      <!-- CABEÇALHO DO CARD -->
      <div class="card__header">

        <!-- PRIMEIRA DIV -->
        <div class="card__primary">

          <!-- PARTE SUPERIOR DO LADO ESQUEDO DO CARD -->
          <div class="card__top">
            <div class="card__title">CHAPA: {{ data.value.chapa }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ data.value.centro_custo }}</div>
          </div>

          <!-- PARTE INFERIOR DO LADO ESQUEDO DO CARD -->
          <div class="card__bottom">
            <div class="card__title">{{ data.value.funcionario }}</div>
          </div>
        </div>

        <!-- LADO DIREITO DO CARD -->
        <form [formGroup]="modalityForm(data.value)" (ngSubmit)="updateModality(data.value)" class="card__secondary">

          <!-- DISPONIBILIDADE PARA VIAJAR -->
          <div class="card__update">
            <div class="card__subtitle">VIAJAR:</div>
            <select formControlName="viajar">
              <option value="SIM" >SIM</option>
              <option value="NÃO">NÃO</option>
            </select>
          </div>

          <!-- TIPO DE SERVIÇO -->
          <div class="card__update">
            <div class="card__subtitle">SEGMENTO:</div>
            <select formControlName="segmento">
              <option value="BLOCO">BLOCO</option>
              <option value="CHAPISCO">TIJOLO</option>
              <option value="CHAPISCO">ARMADOR</option>
              <option value="CHAPISCO">CHAPISCO</option>
              <option value="CHAPISCO">CARPINTEIRO</option>
              <option value="CHAPISCO">REVESTIMENTO</option>
            </select>
          </div>

          <div class="card__update">
            <button type="submit">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- LISTA VAZIA -->
    <div class="empty" *ngIf="isEmpty">
      <span>Nenhum registro encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO LISTA -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
