<div class="container">
  <div class="filter__container">
    
    <div class="filter">
      <label for="name">COLABORADOR</label>
      <input type="text" id="name" placeholder="Ex: Lucas Bomfim" [(ngModel)]="employeeName"
        (ngModelChange)="searchEmployee()">
    </div>

    <div class="filter">
      <label for="centroCusco">CENTRO DE CUSTO</label>
      <input type="text" id="centroCusco" placeholder="Ex: BRK" [(ngModel)]="centroCustoName"
        (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filter">
      <label>STATUS</label>
      <select [(ngModel)]="experienceFilter" (change)="filters()" (mousedown)="toggleSelect()"
        (blur)="resetSelectIcon()" #situacaoSelect>
        <option value="all">Todos</option>
        <option value="withExperience">Em experiência</option>
        <option value="withoutExperience">Sem experiência</option>
      </select>
      <mat-icon [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
    </div>
  </div>

  <div class="experience__main-section">
    <table class="table">
      <thead class="table__head">
        <tr class="table__head-row">
          <th class="table__header table__header-small">CHAPA</th>
          <th class="table__header table__header-small">STATUS</th>
          <th class="table__header table__header-small">ESTADO</th>
          <th class="table__header table__header-medium">CENTRO DE CUSTO</th>
          <th class="table__header table__header-medium">FUNÇÃO</th>
          <th class="table__header table__header-large">FUNCIONARIO</th>
          <th class="table__header table__header-medium">DATA ADMISSÃO</th>
          <th class="table__header table__header-medium">PRIMEIRO PERÍODO</th>
          <th class="table__header table__header-medium">SEGUNDO PERÍODO</th>
          <th class="table__header table__header-small">VIAJAR</th>
          <th class="table__header table__header-small">SEGMENTO</th>
        </tr>
      </thead>
    </table>

    <div class="table__body-container">
      <table class="table">
        <tbody class="table__body">
          <tr class="table__body-row" *ngFor="let data of records">
            <td class="table__data table__data-border"
              [ngClass]="borderExperience(data.primeiro_periodo, data.segundo_periodo)"></td>
            <td class="table__data table__data-small">{{ data.chapa }}</td>
            <td class="table__data table__data-small">{{ data.status }}</td>
            <td class="table__data table__data-small">{{ data.estado }}</td>
            <td class="table__data table__data-medium">{{ data.centro_custo }}</td>
            <td class="table__data table__data-medium">{{ data.funcao }}</td>
            <td class="table__data table__data-large">{{ data.funcionario }}</td>
            <td class="table__data table__data-medium">{{ data.admissao }}</td>
            <td class="table__data table__data-medium">{{ data.primeiro_periodo }}</td>
            <td class="table__data table__data-medium">{{ data.segundo_periodo }}</td>
            <td class="table__data table__data-small">{{ data.viajar }}</td>
            <td class="table__data table__data-small">{{ data.segmento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
