<div class="experience">
  <div class="experience__top-section">
    <div class="filters">
      <label for="name">Colaborador:</label>
      <input type="text" id="name" placeholder="Ex: Lucas Bomfim" [(ngModel)]="employeeName"
        (ngModelChange)="searchEmployee()">
    </div>

    <div class="filters">
      <label for="centroCusco">Centro de Custo:</label>
      <input type="text" id="centroCusco" placeholder="Ex: BRK" [(ngModel)]="centroCustoName"
        (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filters">
      <label>Situação:</label>
      <div class="select-container">
        <select [(ngModel)]="experienceFilter"
                (change)="filters()"
                (mousedown)="toggleSelect()"
                (blur)="resetSelectIcon()"
                #situacaoSelect>
          <option value="all">Todos</option>
          <option value="withExperience">Em experiência</option>
          <option value="withoutExperience">Sem experiência</option>
        </select>
        <mat-icon class="select-icon" [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>

  <div class="experience__main-section">
    <table class="table">
      <thead class="table__head">
        <tr class="table__head-row">
          <th class="table__header table__header-small">CHAPA</th>
          <th class="table__header table__header-small">STATUS</th>
          <th class="table__header table__header-small">ESTADO</th>
          <th class="table__header table__header-medium">CENTRO DE CUSTO</th>
          <th class="table__header table__header-medium">FUNÇÃO</th>
          <th class="table__header table__header-large">FUNCIONARIO</th>
          <th class="table__header table__header-medium">DATA ADMISSÃO</th>
          <th class="table__header table__header-medium">PRIMEIRO PERIODO</th>
          <th class="table__header table__header-medium">SEGUNDO PERIODO</th>
        </tr>
      </thead>
    </table>

    <div class="table__body-container">
      <table class="table">
        <tbody class="table__body">
          <tr class="table__body-row" *ngFor="let data of records">
            <td class="table__data table__data-border"
              [ngClass]="borderExperience(data['PRIMEIRO PERIODO'], data['SEGUNDO PERIODO'])"></td>
            <td class="table__data table__data-small">{{ data.CHAPA }}</td>
            <td class="table__data table__data-small">{{ data.STATUS }}</td>
            <td class="table__data table__data-small">{{ data.ESTADO }}</td>
            <td class="table__data table__data-medium">{{ data['CENTRO DE CUSTO'] }}</td>
            <td class="table__data table__data-medium">{{ data['FUNÇÃO'] }}</td>
            <td class="table__data table__data-large">{{ data.FUNCIONARIO }}</td>
            <td class="table__data table__data-medium">{{ data['DATA ADMISSÃO'] }}</td>
            <td class="table__data table__data-medium">{{ data['PRIMEIRO PERIODO'] }}</td>
            <td class="table__data table__data-medium">{{ data['SEGUNDO PERIODO'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
