<div class="container">
  <!-- FILTROS DE BUSCA -->
  <div class="filter__container">
    <!-- Centro de custo -->
    <div class="filter"></div>
    <!-- Fornecedor -->
    <div class="filter"></div>
    <!-- Movimento -->
    <div class="filter"></div>
    <!-- Oc -->
    <div class="filter"></div>
  </div>

  <!-- LISTA DE CARDS -->
  <div class="card__container">

    <!-- Card -->
    <div class="card" *ngFor="let data of purchaseOrder | keyvalue; let i = index">

      <!-- Cabeçalho do card -->
      <div class="card__header">

        <!-- Lado esquerdo do cabeçalho -->
        <div class="card__primary">

          <!-- Parte superior do cabeçalho -->
          <div class="card__top">
            <div class="card__title">OC {{ data.value.numero_oc }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__title">{{ data.value.centro_custo }}</div>
          </div>

          <!-- Parte inferiro do cabeçalho -->
          <div class="card__bottom">
            <div class="card__title">{{ data.value.fornecedor }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">R$ 1000</div>
          </div>
        </div>

        <!-- Lado direito do cabeçalho -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__title">Previsão Entrega: </div>
            <div class="card__subtitle">{{ data.value.previsao_entrega}}</div>
          </div>
        </div>
      </div>

      <!-- Corpo do card -->
      <div class="card__body">
        <div class="card__details">

          <!-- Material -->
          <div class="card__info">
            <div class="card__title">MATERIAL</div>
            <div class="card__subtitle" *ngFor="let item of data.value.order">
              {{ item.material }}
            </div>
          </div>

          <!-- Quantidade Solicitada -->
          <div class="card__info">
            <div class="card__title">QUANTIDADE SOLICITADA</div>
            <div class="card__subtitle" *ngFor="let item of data.value.order">
              {{ item.quantidade }}
            </div>
          </div>

          <!-- Quantidade Entregue -->
          <div class="card__info">
            <div class="card__title">QUANTIDADE ENTREGUE</div>
            <div class="card__subtitle" *ngFor="let item of data.value.order">
              {{ item.quantidade_entregue }}
            </div>
          </div>

          <!-- Nova Quantidade -->
          <div class="card__info">
            <div class="card__title">DEFINIR NOVA QTD</div>
            <div class="card__subtitle" *ngFor="let item of data.value.order">
              <input type="number" class="card__qtd">
            </div>
          </div>

          <!-- Nova Data -->
          <div class="card__info">
            <div class="card__title">DEFINIR NOVA DATA</div>
            <div class="card__subtitle" *ngFor="let item of data.value.order">
              <input type="date">
            </div>
          </div>

          <!-- Botão Enviar -->
          <button type="button" class="card__button">ENVIAR</button>
        </div>

      </div>
    </div>

  </div>
</div>
