<div class="container">

  <!-- BANNER DA TELA -->
  <aside class="banner" [style.background-image]="'url(' + backgroundImageUrl + ')'">
    <div class="overlay"></div>
    <div class="banner__content">
      <img [src]="logo" alt="Logo Same" class="banner__logo">
      <h1 class="banner__title">SAME ENGENHARIA</h1>
      <span class="banner__subtitle">
        Na SAME Engenharia, asseguramos qualidade e segurança para oferecer serviços com excelência.
        Atuamos com ética, inovação e sustentabilidade, adotando boas práticas nos canteiros de obra e garantindo o
        cumprimento dos requisitos legais. Nosso compromisso é com a melhoria contínua, a responsabilidade social e a
        plena satisfação dos nossos clientes.
      </span>
    </div>
  </aside>

  <!-- ÁREA DE LOGIN DA TELA -->
  <main class="login">

    <!-- MENSAGEM DE INTERAÇÃO -->
    <div class="login__wrapper">
      <h1 class="login__title">BEM-VINDO A</h1>
      <h1 class="login__title">SAME ENGENHARIA</h1>
      <p class="login__subtitle">Entre com suas credenciais para continuar</p>
    </div>

    <!-- FORMULÁRIO DE LOGIN -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__form">

      <!-- EMAIL -->
      <div class="form__group">
        <input type="text" placeholder="Email" formControlName="email" />
        <mat-icon>mail</mat-icon>
      </div>

      <!-- SENHA -->
      <div class="form__group">
        <input [type]="passwordType" placeholder="Senha" formControlName="password" (input)="updatePasswordIcon()" />
        <mat-icon (click)="togglePasswordVisibility()" class="input__field-icon">{{ showPasswordIcon }}</mat-icon>
      </div>

      <!-- BOTÃO DE SUBMIT -->
      <button>
        <span *ngIf="!loading">Entrar</span>
        <span *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </span>
      </button>

      <!-- CRIAR CONTA -->
      <div class="login__create-account">
        <p>Não tem uma conta? <a href="/first-login" class="login__link">Cadastre-se aqui</a></p>
      </div>

      <!-- MENSAGEM DE ERRO -->
      <div class="login__message" *ngIf="loginError">
        <p class="login__message-error">{{ loginError }}</p>
      </div>
    </form>
  </main>
</div>
