<div class="body">
  <div class="container" id="container" #container>

    <div class="sign-up">
      <form [formGroup]="loginForm" (ngSubmit)="firstAccess()">
        <h1>Primeiro acesso</h1>
        <input type="text" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Senha" formControlName="password" />
        <button>acessar</button>
      </form>
    </div>

    <div class="sign-in">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Entrar</h1>
        <input type="text" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="senha" formControlName="password" />
        <a href="#">Esqueci a Senha</a>
        <button>Entrar</button>
      </form>
    </div>

    <div class="toogle-container">
      <div class="toogle">

        <div class="toogle-panel toogle-left">
          <h1>Bem Vindo! Colaborador</h1>
          <p>Se você já tem uma conta</p>
          <button class="hidden" id="login" #loginbtn>Entrar</button>
        </div>

        <div class="toogle-panel toogle-right">
          <h1>Olá, Colaborador!</h1>
          <p>Se você não tem uma conta</p>
          <button class="hidden" id="register" #registerbtn>Criar</button>
        </div>

      </div>
    </div>

  </div>
</div>
