$light-gray: #878787;
$light-white: #FCFCFC;
$light-red: #ff5757;
$light-green: #4bd28f;
$dark-light: #303030;

$dark-black: #1E1E1E;
$dark-red: #DC3545;
$orange: #FF6F00;
$dark-white: #F3F3F3;

$border-small: 4px;

$fz-small: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
$fz-medium: clamp(1.125rem, 1.0643rem + 0.2589vw, 1.375rem);
$fz-large: clamp(2.25rem, 2.1286rem + 0.5178vw, 2.75rem);

$gap-small: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
$gap-medium: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
$gap-large: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);

$padding-small: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
$padding-large: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);

.container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-light;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-large;
  padding: $padding-large;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: normal;
    flex-direction: column;
    justify-content: space-evenly;
    gap: $gap-medium;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $orange;
    font-size: $fz-large;
  }

  &__subtitle {
    color: $orange;
    font-size: $fz-medium;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }

  &__input {
    border: none;
    color: $light-white;
    border-radius: $border-small;
    background-color: $dark-black;
    padding: $padding-small;

    &:focus {
      outline: 1px solid $orange;
    }

    &::placeholder {
      font-weight: 500;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $dark-black inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $dark-white !important;
    }

    &.invalid {
      outline: 1px solid $dark-red;
      background-color: #DC354540;

      &::placeholder {
        color: $light-gray;
      }
    }
  }

  &__link {
    color: $orange;
    text-decoration: none;
    font-size: $fz-small;
  }

  &__label {
    color: $light-gray;
    font-size: $fz-small;
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }
}

.btn {
  width: 100%;
  border: none;
  border-radius: $border-small;
  font-size: $fz-small;
  height: calc(clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem) * 2 + 1.2em);
  cursor: pointer;

  &--primary {
    color: $dark-white;
    background-color: $orange;
  }

  &--secondary {
    color: $orange;
    border: 1px solid $orange;
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.loading {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-white;
    animation: bounce 1.2s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

.message {
  top: 8%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: $border-small;
  padding: min(1em, 5%);
  text-align: center;
  font-size: $fz-small;

  &.success {
    color: $dark-white;
    background: $light-green;
  }

  &.error {
    color: $dark-white;
    background: $light-red;
  }
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 400px;
    padding: 0;
  }
}
