<div class="body">
  <div class="container" id="container" #container>

    <div class="sign-up">
      <form [formGroup]="loginForm" (ngSubmit)="firstLogin()">
        <h1>Primeiro acesso</h1>
        <div class="input__field">
          <input type="text" placeholder="Email" formControlName="email" />
          <span class="input__field-row"></span>
          <mat-icon>mail</mat-icon>
        </div>
        <div class="input__field">
          <input [type]="passwordType" placeholder="Senha" formControlName="password" (input)="updatePasswordIcon()" />
          <span class="input__field-row"></span>
          <mat-icon (click)="togglePasswordVisibility()" class="input__field-icon">{{ showPasswordIcon }}</mat-icon>
        </div>
        <button>
          <span *ngIf="!loading">Cadastrar</span>
          <span *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </span>
        </button>
        <div class="sign-in__message" *ngIf="firstLoginError">
          <p class="sign-in__message-error">{{ firstLoginError }}</p>
        </div>
      </form>
    </div>

    <div class="sign-in">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Entrar</h1>
        <div class="input__field">
          <input type="text" placeholder="Email" formControlName="email" />
          <span class="input__field-row"></span>
          <mat-icon>mail</mat-icon>
        </div>
        <div class="input__field">
          <input [type]="passwordType" placeholder="Senha" formControlName="password" (input)="updatePasswordIcon()" />
          <span class="input__field-row"></span>
          <mat-icon (click)="togglePasswordVisibility()" class="input__field-icon">{{ showPasswordIcon }}</mat-icon>
        </div>
        <button>
          <span *ngIf="!loading">Entrar</span>
          <span *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </span>
        </button>
        <div class="sign-in__message" *ngIf="loginError">
          <p class="sign-in__message-error">{{ loginError }}</p>
        </div>
      </form>
    </div>

    <div class="toogle-container">
      <div class="toogle">
        <div class="toogle-panel toogle-left">
          <h1>Bem Vindo! Colaborador</h1>
          <p>Se você já tem uma conta</p>
          <button class="hidden" id="login" #loginbtn>Entrar</button>
        </div>

        <div class="toogle-panel toogle-right">
          <h1>Olá, Colaborador!</h1>
          <p>Se você não tem uma conta</p>
          <button class="hidden" id="register" #registerbtn>Criar</button>
        </div>
      </div>
    </div>
  </div>
</div>
