<div class="container">

  <!-- FILTROS DE BUSCA -->
  <div class="filter__container">

    <!-- CENTRO DE CUSTO -->
    <div class="filter">
      <label>CENTRO DE CUSTO</label>
      <select [(ngModel)]="centroCustoField" (change)="applyFilters()" (mousedown)="toggleSelect()"
        (blur)="resetSelectIcon()">
        <option value="Geral">GERAL</option>
        <option *ngFor="let centro of uniqueCostCenter" [value]="centro">{{ centro }}</option>
      </select>
      <mat-icon [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
    </div>

    <!-- FATURAMENTO -->
    <div class="filter">
      <label>FATURAMENTO</label>
      <span [class.positive]="isSaldoPositive('faturamento')" [class.negative]="!isSaldoPositive('faturamento')">
        R$ {{ calculateFaturamento() }}
      </span>
    </div>

    <!-- GASTO -->
    <div class="filter">
      <label>GASTO</label>
      <span [class.positive]="isSaldoPositive('gasto')" [class.negative]="!isSaldoPositive('gasto')">
        R$ {{ calculateGasto() }}
      </span>
    </div>

    <!-- SALDO -->
    <div class="filter">
      <label>SALDO</label>
      <span [class.positive]="isSaldoPositive('saldo')" [class.negative]="!isSaldoPositive('saldo')">
        R$ {{ calculateSaldo() }}
      </span>
    </div>
  </div>

  <!-- CONTAINER DO GRÁFICO -->
  <div class="grafic__container">

    <!-- GRÁFICO -->
    <div class="grafic">
      <canvas #lineChart>
      </canvas>
    </div>
  </div>
</div>
