<div class="container">
  <!-- FILTROS DE BUSCA -->
  <div class="filter__container">
    <!-- Centro de Custo Filter -->
    <div class="filter">
      <label>CENTRO DE CUSTO</label>
      <select [(ngModel)]="centroCustoField" (change)="applyFilters()" (mousedown)="toggleSelect()"
        (blur)="resetSelectIcon()">
        <option value="Nenhum">Nenhum</option>
        <option *ngFor="let centro of uniqueCostCenter" [value]="centro">{{ centro }}</option>
      </select>
      <mat-icon [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
    </div>
  </div>

  <!-- LISTA DE ORDENS DE COMPRA -->
  <div class="grafic__container">
    <!-- GRÁFICO -->
    <div class="grafic">
      <canvas #lineChart>
      </canvas>
    </div>

    <!-- Lista vazia -->
    <div class="grafic__empty" *ngIf="centroCustoField === 'Nenhum'">
      <span>Selecione algum Centro de Custo</span>
      <mat-icon>search</mat-icon>
    </div>
  </div>
