<div class="request">

  <div class="request__top">
    <div class="filter">
      <label class="filter__label">Centro de Custo:</label>
      <input type="text" class="filter__input" placeholder="Ex: BRK">
    </div>

    <div class="filter">
      <label class="filter__label">Oc:</label>
      <input type="text" class="filter__input" placeholder="Ex: 1000">
    </div>

    <div class="filter">
      <label class="filter__label">Fornecedor:</label>
      <input type="text" class="filter__input" placeholder="Ex: Renascer">
    </div>

    <div class="filter">
      <label class="filter__label">Valor:</label>
      <input type="text" class="filter__input" placeholder="Ex: 300">
    </div>
  </div>

  <div class="request__main">
    <div class="card">

      <div class="card__item" *ngFor="let data of records; let i = index" [class.expanded]="expandedIndex === i">
        <div class="card__main" (click)="toggleExpand(i)">
          <div class="card__border"></div>

          <div class="card__summary">
            <div class="card__primary">
              <span class="card__id">{{ data.centro_de_custo }}</span>
              <span class="card__separator">|</span>
              <span class="card__cc">{{ data.material }}</span>
            </div>

            <div class="card__secondary">
              <span class="card__material">{{ data.fornecedor }}</span>
            </div>
          </div>

          <div class="card__meta-data">
            <div class="card__meta-item">
              <span class="card__meta-label">Previsão de Entrega:</span>
              <span class="card__meta-value">{{ data.data_entrega || 'Sem previsão' }}</span>
            </div>

            <div class="card__meta-item">
              <span class="card__meta-label">OC:</span>
              <span class="card__meta-value">{{ data.oc || 'Sem previsão' }}</span>
            </div>

            <div class="card__expand-icon">
              <i class="arrow" [class.down]="expandedIndex === i"></i>
            </div>
          </div>
        </div>

        <div class="details" [class.show]="expandedIndex === i">
          <div class="details__grid">
            <div class="details__column">
              <h4>Detalhes da Entrega</h4>

              <div class="details__text">
                <span class="details__label">Descrição:</span>
                <span class="details__value">{{ data.material }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Quantidade:</span>
                <span class="details__value">{{ data.quantidade }} {{ data.unidade }}</span>
              </div>
            </div>

            <div class="details__column">
              <h4>Detalhes da OC</h4>

              <div class="details__text">
                <span class="details__label">Criado por:</span>
                <span class="details__value">{{ data.usuario_criacao || 'N/A' }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Data da Liberação:</span>
                <span class="details__value">{{ data.data_criacao_oc }}</span>
              </div>
            </div>

            <div class="details__column">
              <h4>Material Entregue</h4>

              <div class="details__confirm">
                <span class="details__label">Anexar NF:</span>
                <input type="file" id="file-upload" accept="image/*" class="details__input">
                <label for="file-upload"></label>
                <button class="details__button">Confirmar</button>
              </div>
            </div>

            <div class="details__column">
              <h4>Material Parcialmente Entregue</h4>

              <div class="details__confirm">
                <span class="details__label">Quantidade Recebida:</span>
                <input type="text" placeholder="Ex: 50" class="details__input">
                <button class="details__button">Confirmar</button>
              </div>
            </div>

            <div class="details__column">
              <h4>Material Não Entregue</h4>

              <div class="details__confirm">
                <span class="details__label">Nível de Urgência:</span>
                <select class="details__input">
                  <option value="">Baixa</option>
                  <option value="">Média</option>
                  <option value="">Alta</option>
                </select>
                <button class="details__button">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results" *ngIf="records.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>

</div>
