.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__top-section {
    height: auto;
    display: flex;
    align-items: center;
  }

  &__bottom-section {
    height: 70vh;
    display: flex;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button__filter {
  color: var(--text-color);
  padding: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);
  transition: all linear 0.3s;
  cursor: pointer;

  &--active {
    color: var(--white-color);
    background: var(--orange-color);
    box-shadow: 0px 2px 12px var(--orange-color);
  }

  &:hover {
    color: var(--white-color);
    background: var(--orange-color);
    box-shadow: 0px 2px 12px var(--orange-color);
  }
}

.input__employee {
  width: auto;
  min-width: 300px;
  padding: 12px;
  outline: none;
  color: var(--text-color);
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);

  &::placeholder {
    color: var(--text-color);
  }
}

.input {
  padding: 12px;
  outline: none;
  color: var(--text-color);
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);
}

.employee-table {
  width: 100%;
  height: 100%;
  border-collapse: separate;

  &__body {
    width: 100%;
  }

  &__row {
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    margin-bottom: 12px;
  }

  &__stripe {
    width: 5px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--orange-color);
  }

  &__cell {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;

    &--avatar {
      padding: 0 12px;
      width: auto;
    }

    &--info {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      padding-left: 0;
    }

    &--email {
      flex: 2;
      text-align: start;
      color: var(--gray-color);
    }
  }

  &__avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    color: var(--text-color);
    font-weight: 600;
  }

  &__role {
    color: var(--gray-color);
    font-size: 0.9em;
  }

  &__button {
    padding: 12px;
    font-size: 12px;
    color: var(--text-color);
    border: 1px solid transparent;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all ease-in 0.2s;

    &:hover {
      color: var(--orange-color);
      border: 1px solid var(--orange-color);
      background: transparent;
    }
  }
}
