<!-- CONTAINER -->
<div class="container">

  <!-- CARD -->
  <div class="card" routerLink="/dashboard/ti/open-ticket">
    <div class="card__icon">
      <mat-icon>support_agent</mat-icon>
    </div>

    <div class="card__text">
      <span>Abrir Chamado</span>
    </div>
  </div>

  <!-- CARD -->
  <div class="card" routerLink="/dashboard/ti/manage-ticket">
    <div class="card__icon">
      <mat-icon>chat</mat-icon>
    </div>

    <div class="card__text">
      <span>Gerenciar Chamados</span>
    </div>
  </div>
</div>
