<div class="hr__container">

  <div class="hr__card" routerLink="/dashboard/human-resources/time-sheet">
    <div class="hr__card-icon">
      <mat-icon>work_history</mat-icon>
    </div>
    <div class="hr__card-text">
      <span>Monitorar Ponto</span>
    </div>
  </div>

  <div class="hr__card" routerLink="/dashboard/human-resources/upload-timesheet">
    <div class="hr__card-icon">
      <mat-icon>download</mat-icon>
    </div>
    <div class="hr__card-text">
      <span>Importar Folha de Ponto</span>
    </div>
  </div>

  <div class="hr__card" routerLink="/dashboard/human-resources/upload-extraDay">
    <div class="hr__card-icon">
      <mat-icon>download</mat-icon>
    </div>
    <div class="hr__card-text">
      <span>Importar Dia Extra</span>
    </div>
  </div>

  <div class="hr__card" routerLink="/dashboard/human-resources/work-modality">
    <div class="hr__card-icon">
      <mat-icon>group</mat-icon>
    </div>
    <div class="hr__card-text">
      <span>Modalidade de Trabalho</span>
    </div>
  </div>

  <div class="hr__card" routerLink="/dashboard/human-resources/perifericos">
    <div class="hr__card-icon">
      <mat-icon>payments</mat-icon>
    </div>
    <div class="hr__card-text">
      <span>Periféricos</span>
    </div>
  </div>

</div>
