<div class="container">

  <div class="card" routerLink="/dashboard/human-resources/time-sheet">
    <mat-icon class="card__icon">work_history</mat-icon>
    <span class="card__text">Monitorar Ponto</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/upload-timesheet">
    <mat-icon class="card__icon">download</mat-icon>
    <span class="card__text">Importar Folha</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/benefit">
    <mat-icon class="card__icon">payments</mat-icon>
    <span class="card__text">Periféricos</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/employees">
    <mat-icon class="card__icon">group</mat-icon>
    <span class="card__text">Colaboradores</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/admission">
    <mat-icon class="card__icon">how_to_reg</mat-icon>
    <span class="card__text">Admissão</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/resignation">
    <mat-icon class="card__icon">person_off</mat-icon>
    <span class="card__text">Desligamento</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/brk">
    <mat-icon class="card__icon">factory</mat-icon>
    <span class="card__text">BRK</span>
  </div>

</div>