<div class="container">
  <div class="card" routerLink="/dashboard/human-resources/upload-timesheet">
    <mat-icon class="card__icon">download</mat-icon>
    <span class="card__text">Importar Folha</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/employees">
    <mat-icon class="card__icon">group</mat-icon>
    <span class="card__text">Efetivo</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/admission">
    <mat-icon class="card__icon">how_to_reg</mat-icon>
    <span class="card__text">Admissão</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/resignation">
    <mat-icon class="card__icon">person_off</mat-icon>
    <span class="card__text">Desligamento</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/brk">
    <mat-icon class="card__icon">factory</mat-icon>
    <span class="card__text">BRK</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/task">
    <mat-icon class="card__icon">account_balance_wallet</mat-icon>
    <span class="card__text">Terefa</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/transport">
    <mat-icon class="card__icon">directions_bus</mat-icon>
    <span class="card__text">Vale Transporte</span>
  </div>

  <div class="card" routerLink="/dashboard/human-resources/disciplinary-measure">
    <mat-icon class="card__icon">gavel</mat-icon>
    <span class="card__text">Medidas Disciplinares</span>
  </div>
</div>
