<div class="container">
  <div class="filter__container">
    <div class="filter">
      <button class="filter__button filter__button--primary">EM ABERTO</button>
    </div>
    <div class="filter">
      <button class="filter__button filter__button--primary">EM ANDAMENTO</button>
    </div>
    <div class="filter">
      <button class="filter__button filter__button--primary">FINALIZADO</button>
    </div>
  </div>
  <div class="main__container">
    <div class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__subtitle">JOÃO</div>
            <div class="card__subtitle">-</div>
            <div class="card__subtitle">SERVENTE</div>
          </div>
          <div class="card__bottom">
            <div class="card__title">BRK</div>
          </div>
        </div>
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">SOLICITANTE:</div>
            <div class="card__title">VINICIUS</div>
            <div class="card__subtitle">|</div>
          </div>
          <div class="card__text">
            <div class="card__subtitle">DATA DA SOLICITAÇÃO:</div>
            <div class="card__title">01/01/2025</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__info">
          <div class="card__title">OBSERVAÇÃO</div>
          <div class="card__subtitle">TESTE</div>
        </div>
      </div>
    </div>
  </div>
</div>
