<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <!-- FILTRO -->
    <div class="filter">
      <input type="text" class="input input--primary" placeholder="BUSCAR" [(ngModel)]="employee"
        (input)="applyFilters()">
    </div>

    <!-- FILTRO -->
    <form [formGroup]="costCenterForm" (ngSubmit)="findByCostCenter()" class="filter">
      <select formControlName="centroCusto" class="select select--primary">
        <option value="GERAL" selected>GERAL</option>
        <option *ngFor="let cc of costCenterUnique" [value]="cc">{{ cc }}</option>
      </select>

      <button type="submit" class="btn btn--primary">
        @if (isFind) {
        <div class="loading-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        } @else {
        Buscar
        }
      </button>
    </form>
  </div>

  <div class="container__card">
    <div *ngFor="let item of items" (click)="openModal(item)" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__title">{{ item.nome || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ item.funcao || 'N/A' }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__title">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">CHAPA: </div>
            <div class="card__title">{{ item.chapa || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">STATUS: </div>
            <div class="card__title">{{ item.status || 'N/A' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" *ngIf="isEdit">
      <form [formGroup]="updateForm" (ngSubmit)="update()" class="modal__backdrop">
        <div class="modal__container">

          <div class="modal__header">
            <h2 class="modal__title">Atualizar colaborador</h2>
            <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
          </div>

          <div class="modal__content">
            <div class="modal__group">
              <label class="modal__label">Nome</label>
              <input type="text" placeholder="Nome completo" formControlName="nome" class="modal__input">
            </div>

            <div class="modal__group">
              <label class="modal__label">Cento de custo</label>
              <select class="modal__select" formControlName="centroCusto">
                <option value="" disabled selected>Selecione um centro de custo</option>
                <option value="EMLURB">EMLURB</option>
                <option value="MÁQUINAS">MÁQUINAS</option>
                <option value="BRK - HH">BRK - HH</option>
                <option value="BRK - PV">BRK - PV</option>
                <option value="BRK - PFIS">BRK - PFIS</option>
                <option value="BRK - CABO">BRK - CABO</option>
                <option value="ESCRITÓRIO">ESCRITÓRIO</option>
                <option value="LUIZ WILSON">LUIZ WILSON</option>
                <option value="BRK - HH 03">BRK - HH 03</option>
                <option value="BRK - REDES">BRK - REDES</option>
                <option value="IRMÃ DENIZE">IRMÃ DENIZE</option>
                <option value="BRK - CURADO">BRK - CURADO</option>
                <option value="BRK - GOIANA">BRK - GOIANA</option>
                <option value="PLANEJAMENTO">PLANEJAMENTO</option>
                <option value="BRK - CABANGA">BRK - CABANGA</option>
                <option value="BRK - ALAGOAS">BRK - ALAGOAS</option>
                <option value="BRK - PEIXINHOS">BRK - PEIXINHOS</option>
                <option value="FRANCISCO AREIAS">FRANCISCO AREIAS</option>
                <option value="BRK - RUA BUTRIM">BRK - RUA BUTRIM</option>
                <option value="BRK - OS PERMANENTE">BRK - OS PERMANENTE</option>
                <option value="PRÉDIO - IMBIRIBEIRA">PRÉDIO - IMBIRIBEIRA</option>
                <option value="HEINEKEN - REFLORESTAMENTO">HEINEKEN - REFLORESTAMENTO</option>
                <option value="BRK - COMP. MURO ETES 04">BRK - COMP. MURO ETES 04</option>
                <option value="BRK - EQUIPES DISPONÍVEIS">BRK - EQUIPES DISPONÍVEIS</option>
                <option value="BRK - TANQUE CABANGA">BRK - TANQUE CABANGA</option>
              </select>
            </div>
          </div>

          <div class="modal__footer">
            <button (click)="closeModal()" class="btn btn--primary">
              Cancelar
            </button>

            <button type="submit" class="btn btn--primary">
              @if (isUpdate) {
              <div class="loading-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
              } @else {
              Atualizar
              }
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isLoading" class="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>