<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <!-- FILTRO -->
    <div class="filter">
      <input type="text" class="input input--primary" placeholder="BUSCAR" [(ngModel)]="employee"
        (input)="applyFilters()">
    </div>

    <!-- FILTRO -->
    <form [formGroup]="costCenterForm" (ngSubmit)="findByCostCenter()" class="filter">
      <select formControlName="centroCusto" class="select select--primary">
        <option *ngIf="costCenterUnique.length === 0" value="" selected>Carregando...</option>
        <option *ngIf="costCenterUnique.length > 0" value="GERAL" selected>GERAL</option>
        <option *ngFor="let costCenter of costCenterUnique" [value]="costCenter">{{ costCenter }}</option>
      </select>

      <button type="submit" class="btn btn--primary">
        @if (isFind) {
        <div class="loading-dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        } @else {
        BUSCAR
        }
      </button>
    </form>
  </div>

  <div class="container__card">
    <div *ngFor="let item of items" (click)="openModal(item)" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__title">{{ item.nome || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ item.funcao || 'N/A' }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__title">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">CHAPA: </div>
            <div class="card__title">{{ item.chapa || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">STATUS: </div>
            <div class="card__title">{{ item.status || 'N/A' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" *ngIf="isEdit">
      <form [formGroup]="updateForm" (ngSubmit)="update()" class="modal__backdrop">
        <div class="modal__container">

          <div class="modal__header">
            <h2 class="modal__title">Atualizar colaborador</h2>
            <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
          </div>

          <div class="modal__content">
            <div class="modal__group modal__group--full">
              <label class="modal__label">Nome</label>
              <input type="text" placeholder="Nome completo" formControlName="nome" readonly class="modal__input">
            </div>

            <div class="modal__group">
              <label class="modal__label">Função</label>
              <select class="modal__select" formControlName="funcao">
                <option value="" disabled>Selecione uma função</option>
                <option *ngFor="let function of functionUnique" [value]="function">{{ function }}</option>
              </select>
            </div>

            <div class="modal__group">
              <label class="modal__label">Cento de custo</label>
              <select class="modal__select" formControlName="centroCusto">
                <option value="" disabled>Selecione um centro de custo</option>
                <option *ngFor="let costCenter of costCenterUnique" [value]="costCenter">{{ costCenter }}</option>
              </select>
            </div>
          </div>

          <div class="modal__footer">
            <button (click)="closeModal()" class="btn btn--secondary">
              Cancelar
            </button>

            <button type="submit" class="btn btn--primary">
              @if (isUpdate) {
              <div class="loading-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
              } @else {
              Atualizar
              }
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isLoading" class="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>