<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <!-- FILTRO -->
    <div class="filter">
      <button (click)="getByStatus('NOVO')" [ngClass]="{'active': selectedStatus === 'NOVO'}" class="btn btn--third">
        Novos
        <span class="counter">{{ status['NOVO'] }}</span>
      </button>
    </div>

    <!-- FILTRO -->
    <div class="filter">
      <button (click)="getByStatus('VENCIDO')" [ngClass]="{'active': selectedStatus === 'VENCIDO'}"
        class="btn btn--third">
        Vencidos
        <span class="counter">{{ status['VENCIDO'] }}</span>
      </button>
    </div>

    <!-- FILTRO -->
    <div class="filter">
      <input type="text" placeholder="Pesquisar" [(ngModel)]="idmov" (input)="applyFilters()"
        class="input input--primary">
    </div>

    <!-- FILTRO -->
    <div class="filter">
      <select [(ngModel)]="costCenter" (change)="applyFilters()" class="input input--primary">
        <option value="GERAL">Geral</option>
        <option *ngFor="let cc of costCenters" [value]="cc">{{ cc }}</option>
      </select>
    </div>

    <div class="filter">
      <button class="btn btn--primary" (click)="loadInitial()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="container__card">
    <!-- CARD -->
    <div *ngFor="let item of items; let i = index" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__title">UNID:</div>
            <div class="card__title">{{ item.quantidade || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__title">{{ item.nome_equipamento || 'N/A' }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__subtitle">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">

          <div class="card__text">
            <div class="card__subtitle">MOV:</div>
            <div class="card__title">{{ item.movimento || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">IDMOV:</div>
            <div class="card__title">{{ item.contrato.idmov || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">DOC:</div>
            <div class="card__title">{{ item.numero_documento || 'N/A'}}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">PD:</div>
            <div class="card__title">{{ item.contrato.periodo || 'N/A'}}</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__content">
          <div class="card__subtitle">USUÁRIO</div>
          <div class="card__title">{{ item.criador || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">INÍCIO DO PERÍODO</div>
          <div class="card__title">{{ formateDate(item.contrato.data_inicial) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">FIM DO PERÍODO</div>
          <div class="card__title">{{ formateDate(item.contrato.data_final) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">DURAÇÃO</div>
          <div class="card__title">{{ upperCase(item.unidade) || 'N/A' }}</div>
        </div>
      </div>
    </div>

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- SEM RESULTADO -->
    <div class="empty" *ngIf="isEmpty">
      <h2 class="empty__title">Nenhum resultado foi encontrado</h2>
    </div>
  </div>
</div>
