<div class="container">

  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__card">
    <div class="card" (click)="openOption(item)" *ngFor="let item of items">
      <header class="card__header">
        <div class="card__header--left">
          <div class="card__header--top">
            <h3 class="card__title">{{ item.criador|| 'N/A' }}</h3>
            <span class="card__subtitle">|</span>
            <span class="card__subtitle">{{ item.funcao|| 'N/A' }}</span>
          </div>

          <div class="card__header--bottom">
            <span class="card__subtitle">{{ item.centro_custo|| 'N/A' }}</span>
          </div>
        </div>
      </header>

      <div class="card__body">
        <div class="card__content">
          <span class="card__subtitle">EQUIPAMENTO</span>
          <h4 class="card__title">{{ item.equipamento|| 'N/A' }}</h4>
        </div>

        <div class="card__content">
          <span class="card__subtitle">QUANTIDADE</span>
          <h4 class="card__title">{{ item.quantidade|| 'N/A' }}</h4>
        </div>

        <div class="card__content">
          <span class="card__subtitle">UNIDADE</span>
          <h4 class="card__title">{{ item.unidade|| 'N/A' }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="optionModal" class="container__modal">
    <div class="modal">
      <header class="modal__header">
        <h2 class="modal__title">Opções</h2>
        <mat-icon (click)="closeOption()" class="modal__icon">close</mat-icon>
      </header>

      <div class="modal__content">
        <button type="button" (click)="openEdit()" class="modal__button">Editar Locação</button>
        <button type="button" (click)="openRenew()" class="modal__button">Renovar Locação</button>
        <button type="button" (click)="openRenew()" class="modal__button modal__button--full">Ver histórico</button>
      </div>

      <footer class="modal__footer">
        <button type="button" (click)="closeOption()" class="modal__button">Sair</button>
      </footer>
    </div>
  </div>

  <div *ngIf="editModal" class="container__modal">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="modal">
      <header class="modal__header">
        <h2 class="modal__title">Editar Locação</h2>
        <mat-icon (click)="closeEdit()" class="modal__icon">close</mat-icon>
      </header>

      <div class="modal__content">
        <div class="modal__group modal__group--full">
          <label class="modal__label">Equipamento</label>
          <input type="text" formControlName="equipamento" readonly class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">ID Produto</label>
          <input type="number" placeholder="ID" formControlName="id_produto" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">IDMov</label>
          <input type="number" placeholder="IDMOV" formControlName="idmov" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Período</label>
          <select formControlName="periodo" class="modal__input">
            <option value="" disabled>Selecione um período</option>
            <option *ngFor="let item of currentItem.locacoes" [ngValue]="item.periodo">
              {{ item.periodo }}
            </option>
          </select>
        </div>

        <div class="modal__group">
          <label class="modal__label">Tempo Contratado</label>
          <select formControlName="tempo_contratado" class="modal__input">
            <option value="" disabled>Selecione um período</option>
            <option value="dia">Dia</option>
            <option value="Semana">Semana</option>
            <option value="Quinzena">Quinzena</option>
            <option value="Mês">Mês</option>
          </select>
        </div>

        <div class="modal__group">
          <label class="modal__label">Data Inicial</label>
          <input type="date" formControlName="data_inicial" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Data Final</label>
          <input type="date" formControlName="data_final" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Ordem de Compra</label>
          <input type="number" placeholder="OC" formControlName="ordem_compra" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Valor</label>
          <input type="number" placeholder="R$ 0,00" formControlName="valor" class="modal__input">
        </div>
      </div>

      <footer class="modal__footer">
        <button type="button" (click)="returnOption()" class="modal__button">Voltar</button>
        <button type="submit" class="modal__button">Editar</button>
      </footer>
    </form>
  </div>

  <div *ngIf="renewModal" class="container__modal">
    <form [formGroup]="renewForm" (ngSubmit)="onRenew()" class="modal">
      <header class="modal__header">
        <h2 class="modal__title">Renovar Locação</h2>
        <mat-icon (click)="closeRenew()" class="modal__icon">close</mat-icon>
      </header>

      <div class="modal__content">
        <div class="modal__group modal__group--full">
          <label class="modal__label">Equipamento</label>
          <input type="text" formControlName="equipamento" readonly class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">ID Produto</label>
          <input type="number" placeholder="ID" formControlName="id_produto" readonly class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">IDMOV</label>
          <input type="number" placeholder="IDMOV" formControlName="idmov" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Período</label>
          <input type="text" formControlName="periodo" readonly class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Data Inicial</label>
          <input type="date" formControlName="data_inicial" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Ordem de Compra</label>
          <input type="number" placeholder="OC" formControlName="ordem_compra" class="modal__input">
        </div>

        <div class="modal__group">
          <label class="modal__label">Valor</label>
          <input type="number" placeholder="R$ 0,00" formControlName="valor" class="modal__input">
        </div>
      </div>

      <footer class="modal__footer">
        <button type="button" (click)="returnOption()" class="modal__button">Voltar</button>
        <button type="submit" class="modal__button">Renovar</button>
      </footer>
    </form>
  </div>
</div>
