<div class="container">
  @if (showMessage) {
  <div class="message {{ messageType }}">{{ message }}</div>
  }

  <div class="container__filter">
    <button class="btn btn--primary {{ isTimesheet ? 'active' : '' }}" (click)="onChangeTimesheet()">Dia útil</button>
    <button class="btn btn--primary {{ isExtraDay ? 'active' : '' }}" (click)="onChangeExtraDay()">Dia extra</button>
  </div>

  <div class="container__timesheet" *ngIf="isTimesheet">
    <label class="timesheet__label" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <input type="file" class="timesheet__input" accept=".csv" (change)="onFileSelected($event)" #fileInput>
      <mat-icon>cloud_upload</mat-icon>
      <span class="timesheet__filename">{{ file?.name || 'Arraste ou selecione o arquivo CSV' }}</span>
      @if (!file) {
      <span class="timesheet__instruction">Tamanho máximo: 5MB</span>
      }
    </label>
    <button class="btn btn--secondary" [disabled]="!file || isLoading" (click)="submitTimesheet()">
      @if (isLoading) {
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } @else {
      ENVIAR
      }
    </button>
  </div>

  <div class="container__timesheet" *ngIf="isExtraDay">
    <label class="timesheet__label" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <input type="file" class="timesheet__input" accept=".csv" (change)="onFileSelected($event)" #fileInput>
      <mat-icon>cloud_upload</mat-icon>
      <span class="timesheet__filename">{{ file?.name || 'Arraste ou selecione o arquivo CSV' }}</span>
      @if (!file) {
      <span class="timesheet__instruction">Tamanho máximo: 5MB</span>
      }
    </label>
    <button class="btn btn--secondary" [disabled]="!file || isLoading" (click)="submitExtraDay()">
      @if (isLoading) {
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } @else {
      ENVIAR
      }
    </button>
  </div>

</div>