<div class="record">

  <div class="record__top-section">
    <h2 class="record__title">Registros de Ponto - {{ employeeName }}</h2>
    <button type="button" class="record__button" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="record__main-section">
      <table class="record__table">
        <thead class="record__table-head">
          <tr class="record__table-head--row">
            <th class="record__table-head--cell">Data</th>
            <th class="record__table-head--cell">Chapa</th>
            <th class="record__table-head--cell">Jornada Realizada</th>
            <th class="record__table-head--cell">Falta</th>
            <th class="record__table-head--cell">Evento Abono</th>
          </tr>
        </thead>

        <tbody class="record__table-body">
          <tr class="record__table-body--row" *ngFor="let record of timesheetRecords">
            <td class="record__table-body--cell record__table-body--cell__stripe"></td>
            <td class="record__table-body--cell">{{ record.PERIODO }}</td>
            <td class="record__table-body--cell">{{ record.CHAPA }}</td>
            <td class="record__table-body--cell">{{ record['JORNADA REALIZADA'] }}</td>
            <td class="record__table-body--cell">{{ record.FALTA }}</td>
            <td class="record__table-body--cell">{{ record['EVENTO ABONO'] }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
