$gap: 1rem;
$padding: 1rem;
$border-radius: 8px;

.container {
  width: 100%;
  height: 100%;
  padding: $padding;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: start;
  gap: $gap;

  overflow-y: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) transparent;

  /* WebKit */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 8px;
  }
}

.card {
  aspect-ratio: 2 / 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: $gap;
  padding: $padding;
  border-radius: $border-radius;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;

  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &:hover {
    color: var(--orange-color);
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
