<div class="container">

  <div class="form" *ngIf="showForm">
    <form [formGroup]="taskForm" (ngSubmit)="sendForm()" class="form__container">

      <header class="form__header">
        <h1 class="form__title">
          Registre sua tarefa
        </h1>
        <p class="success__subtitle">
          Anote cada missão cumprida e a recompensa merecida para sua grande obra! Depois de enviar, nosso time de RH
          recebe o recado e cuida do resto!
        </p>
      </header>

      <div class="form__content">
        <div class="form__group">
          <label>Nome do responsável</label>
          <input type="text" placeholder="Nome completo" />
        </div>

        <div class="form__group">
          <label>Centro de custo</label>
          <select>
            <option value="" selected disabled>Selecione uma opção</option>
            <option *ngFor="let cc of uniqueCC" [value]="cc">{{ cc }}</option>
          </select>
        </div>

        <div class="form__group form__group--full">
          <label>Qual a tarefa realizada?</label>
          <textarea></textarea>
        </div>

        <div class="form__group form__group--full">
          <label>Regras e condições</label>
          <textarea></textarea>
        </div>

        <div class="form__group form__group--full">
          <label>Participantes</label>
          <textarea></textarea>
        </div>

      </div>

      <footer class="form__footer">
        <button type="submit" class="form__submit">Enviar</button>
      </footer>
    </form>
  </div>

  <div class="success" *ngIf="isSuccess">
    <h1 class="success__title">
      Obrigado!
      <span>200</span>
    </h1>
    <p class="success__subtitle">
      Seu formulário foi enviado com sucesso!
    </p>
  </div>

  <div class="error" *ngIf="isError">
    <h1 class="error__title">
      Ops! Algo deu errado :(
      <span>400</span>
    </h1>
    <p class="error__subtitle">
      Parece que rolou um probleminha ao enviar seus dados. Que tal tentar de novo mais tarde? Se continuar dando erro,
      chama a galera do RH e conta o que aconteceu!
    </p>
  </div>

  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
