<div class="carousel">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img [src]="hotel1" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel2" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel3" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel4" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel5" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel6" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel7" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel8" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel9" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel10" alt="hotel"></ng-template>
    <ng-template carouselSlide><img [src]="hotel11" alt="hotel"></ng-template>
  </owl-carousel-o>
</div>
