<app-dynamic-list [config]="listConfig" [items]="items" [isSearching]="isSearching">

  <ng-template #cardBody let-item>
    <div class="body">

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">category</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">TIPO</h3>
          <h3 class="title title--dark">{{ item.tipo }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA SOLICITAÇÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_criacao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">commute</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ONIBUS/DIA</h3>
          <h3 class="title title--dark">{{ item.qtd_onibus }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">credit_card</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">METRO/DIA</h3>
          <h3 class="title title--dark">{{ item.qtd_metro }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">article</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">MOTIVO</h3>
          <h3 class="title title--dark">{{ item.motivo || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">add_location</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ENDEREÇO</h3>
          <h3 class="title title--dark">{{ item.endereco }}</h3>
        </div>
      </div>

      @if (item.observacao) {
      <div class="group group--body group--full">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">notes</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">OBSERVAÇÃO</h3>
          <h3 class="title title--dark">{{ item.observacao }}</h3>
        </div>
      </div>
      }

    </div>
  </ng-template>

</app-dynamic-list>
