<div class="container">
  <!-- FILTROS DE BUSCA -->
  <div class="filter__container">

    <!-- CENTRO DE CUSTO -->
    <div class="filter">
      <label>CENTRO DE CUSTO</label>
      <select [(ngModel)]="centroCustoField" (change)="applyFilters()" (mousedown)="toggleSelect()"
        (blur)="resetSelectIcon()">
        <option value="">Todos</option>
        <option *ngFor="let centro of centrosCustoUnicos" [value]="centro">{{ centro }}</option>
      </select>
      <mat-icon [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
    </div>

    <!-- FORNECEDOR -->
    <div class="filter">
      <label for="fornecedorField">FORNECEDOR</label>
      <input type="text" id="fornecedorField" placeholder="Ex: PAYFY" [(ngModel)]="fornecedorField"
        (input)="applyFilters()">
    </div>

    <!-- MATERIAL -->
    <div class="filter">
      <label for="materialField">MATERIAL</label>
      <input type="text" id="materialField" placeholder="Ex: TELHA" [(ngModel)]="materialField"
        (input)="applyFilters()">
    </div>

    <!-- OC -->
    <div class="filter">
      <label for="ocField">OC</label>
      <input type="text" id="ocField" placeholder="Ex: 10294" [(ngModel)]="ocField" (input)="applyFilters()">
    </div>
  </div>

  <!-- LISTA DE ORDENS DE COMPRA -->
  <div class="card__container">

    <!-- PEDIDOS -->
    <div class="card" *ngFor="let data of purchaseOrder | keyvalue; let i = index">

      <!-- CABEÇALHO DO CARD -->
      <div class="card__header">
        <div class="card__primary">

          <!-- INFORMAÇÕES DO LADO ESQUERDO DO CARD -->
          <div class="card__top">
            <div class="card__title">OC: {{ data.value.numero_oc }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ data.value.centro_custo }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__title">{{ data.value.fornecedor }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">R$ {{ calculateOrderTotal(data.value) }}</div>
          </div>
        </div>

        <!-- BOTÃO PARA ACESSO A NOTA FISCAL -->
        <div class="card__secondary">
          <button class="card__nf" (click)="goToNotaFiscal(data.value.nota_fiscal)">
            <mat-icon>description</mat-icon>
            <span>NF</span>
          </button>
        </div>
      </div>

      <!-- CONTEÚDO DO CARD -->
      <div class="card__body">

        <!-- SEÇÃO DETALHES -->
        <div class="card__details">

          <!-- Material Info -->
          <div class="card__text">
            <div class="card__title">MATERIAL</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.material }}
            </div>
          </div>

          <!-- QUANTIDADE -->
          <div class="card__text">
            <div class="card__title">QUANTIDADE</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.quantidade }} {{ item.unidade }}
            </div>
          </div>

          <!-- VALOR UNITARIO -->
          <div class="card__text">
            <div class="card__title">VALOR UNITARIO</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              R$ {{ item.valor_unitario }}
            </div>
          </div>

          <!-- VALOR TOTAL -->
          <div class="card__text">
            <div class="card__title">VALOR TOTAL</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ formateValue(item.valor_total) }}
            </div>
          </div>

          <!-- DATA DA ENTREGA -->
          <div class="card__text">
            <div class="card__title">DATA ENTREGA</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ formateDate(item.data_entrega) || 'SEM PREVISÃO' }}
            </div>
          </div>

          <!-- REGISTRADOR -->
          <div class="card__text">
            <div class="card__title">QUEM REGISTROU</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.registrado || 'N/A' }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LISTA VAZIA -->
    <div class="card__empty" *ngIf="isVoid">
      <span>Nenhum pedido encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO A LISTA -->
    <div class="card__loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
