<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="container__filter">

    <!-- FILTRO -->
    <div class="filter">
      <input type="text" class="input input--primary" placeholder="BUSCAR" [(ngModel)]="employee"
        (input)="applyFilters()">
    </div>

    <!-- NAVEGAÇÃO POR STATUS -->
    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'NOVA SOLICITAÇÃO'}"
        (click)="filterByStatus('NOVA SOLICITAÇÃO')">
        Solicitações
        <span class="counter">{{ statusCounts['NOVA SOLICITAÇÃO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'EM ANDAMENTO'}"
        (click)="filterByStatus('EM ANDAMENTO')">
        Em andamento
        <span class="counter">{{ statusCounts['EM ANDAMENTO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'AVISO TRABALHADO'}"
        (click)="filterByStatus('AVISO TRABALHADO')">
        Aviso trabalhado
        <span class="counter">{{ statusCounts['AVISO TRABALHADO'] }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'DEMITIDO'}"
        (click)="filterByStatus('DEMITIDO')">
        Demitidos
        <span class="counter">{{ statusCounts.DEMITIDO }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--third" [ngClass]="{'active': selectedStatus === 'DESLIGADO'}"
        (click)="filterByStatus('DESLIGADO')">
        Desligados
        <span class="counter">{{ statusCounts.DESLIGADO }}</span>
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--primary" (click)="openModalCreate()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div class="container__card">
    <!-- CARD -->
    <div *ngFor="let item of items; let i = index" (click)="openModalEdit(item)" class="card">
      <div class="card__header">
        <div class="card__primary">
          <div class="card__top">
            <div class="card__title">{{ item.nome || 'N/A' }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__subtitle">{{ item.funcao || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">SOLICITAÇÃO: </div>
            <div class="card__title">{{ formateDate(item.data_solicitacao) || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
          </div>
          <div class="card__text">
            <div class="card__title">{{ item.modalidade || 'N/A' }}</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__content">
          <div class="card__subtitle">OBSERVAÇÃO</div>
          <div class="card__title">{{ item.observacao || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">COMUNICAR</div>
          <div class="card__title">{{ formateDate(item.data_comunicacao) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">AVISO TRABALHADO</div>
          <div class="card__title">{{ formateDate(item.data_inicio_aviso_trabalhado) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">MODALIDADE</div>
          <div class="card__title">{{ item.modalidade_aviso_trabalhado || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">ÚLTIMO DIA TRAB.</div>
          <div class="card__title">{{ formateDate(item.data_ultimo_dia_trabalhado) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">RESCISÃO</div>
          <div class="card__title">{{ formateDate(item.data_rescisao) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">PAGAMENTO</div>
          <div class="card__title">{{ formateDate(item.data_pagamento_rescisao) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">DEMISSÃO</div>
          <div class="card__title">{{ formateDate(item.data_demissao) || 'N/A' }}</div>
        </div>
        <div class="card__content">
          <div class="card__subtitle">COMUNICADO</div>
          <div class="card__title">{{ item.colaborador_comunicado || 'N/A' }}</div>
        </div>
      </div>
    </div>

    <!-- MODAL -->
    <form *ngIf="isModalCreate" [formGroup]="createForm" (ngSubmit)="create()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Criar solicitação</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">Colaborador *</label>
            <select formControlName="nome" class="modal__select">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let emp of employeeData" [value]="emp.nome">{{ emp.nome }}</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Status *</label>
            <select class="modal__select" formControlName="status">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NOVA SOLICITAÇÃO">NOVA SOLICITAÇÃO</option>
              <option value="EM ANDAMENTO">EM ANDAMENTO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="DEMITIDO">DEMITIDO</option>
              <option value="DESLIGADO">DESLIGADO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Modalidade *</label>
            <select class="modal__select" formControlName="modalidade">
              <option value="" disabled>Selecione uma opção</option>
              <option value="AVISO INDENIZADO">AVISO INDENIZADO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="PEDIDO DE DEMISSÃO">PEDIDO DE DEMISSÃO</option>
              <option value="ENCERRAMENTO DE CONTRATO">ENCERRAMENTO DE CONTRATO</option>
              <option value="TÉRMINO DO CONTRATO DE EXPERIÊNCIA">TÉRMINO DO CONTRATO DE EXPERIÊNCIA</option>
              <option value="AVISO TRABALHADO JORNADSA REDUZIDA">AVISO TRABALHADO JORNADSA REDUZIDA</option>
              <option value="ATECIPAÇÃO DO CONTRATO DE EXPERIÊNCIA">ATECIPAÇÃO DO CONTRATO DE EXPERIÊNCIA</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Comunicar colaborador *</label>
            <input type="date" formControlName="dataComunicacao" class="modal__input">
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label">Observação</label>
            <textarea formControlName="observacao" placeholder="Digito algo..." class="modal__input"></textarea>
          </div>
        </div>

        <div class="modal__footer">
          <button (click)="closeModal()" class="btn btn--secondary">Cancelar</button>
          <button type="submit" class="btn btn--primary">
            @if (isCreate) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Criar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- MODAL -->
    <form *ngIf="isModalEdit" [formGroup]="updateForm" (ngSubmit)="update()" class="modal__backdrop">
      <div class="modal__container">
        <div class="modal__header">
          <h2 class="modal__title">Atualizar colaborador</h2>
          <button type="button" (click)="closeModal()" class="btn btn--close">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group modal__group--full">
            <label class="modal__label">Nome *</label>
            <input type="text" formControlName="nome" placeholder="Nome completo" class="modal__input" readonly>
          </div>

          <div class="modal__group">
            <label class="modal__label">Status *</label>
            <select class="modal__select" formControlName="status">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NOVA SOLICITAÇÃO">NOVA SOLICITAÇÃO</option>
              <option value="EM ANDAMENTO">EM ANDAMENTO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="DEMITIDO">DEMITIDO</option>
              <option value="DESLIGADO">DESLIGADO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Modalidade *</label>
            <select class="modal__select" formControlName="modalidade">
              <option value="" disabled>Selecione uma opção</option>
              <option value="AVISO INDENIZADO">AVISO INDENIZADO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="PEDIDO DE DEMISSÃO">PEDIDO DE DEMISSÃO</option>
              <option value="ENCERRAMENTO DE CONTRATO">ENCERRAMENTO DE CONTRATO</option>
              <option value="TÉRMINO DO CONTRATO DE EXPERIÊNCIA">TÉRMINO DO CONTRATO DE EXPERIÊNCIA</option>
              <option value="AVISO TRABALHADO JORNADSA REDUZIDA">AVISO TRABALHADO JORNADSA REDUZIDA</option>
              <option value="ATECIPAÇÃO DO CONTRATO DE EXPERIÊNCIA">ATECIPAÇÃO DO CONTRATO DE EXPERIÊNCIA</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Início do aviso trabalhado</label>
            <input type="date" formControlName="dataInicioAvisoTrabalhado" class="modal__input">
          </div>

          <div class="modal__group">
            <label class="modal__label">Modalidade do aviso trabalhado</label>
            <select class="modal__select" formControlName="modalidadeAvisoTrabalhado">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NÃO SE APLICA">NÃO SE APLICA</option>
              <option value="REDUÇÃO DE DIAS">REDUÇÃO DE DIAS</option>
              <option value="REDUÇÃO DE CARGA HORARIA">REDUÇÃO DE CARGA HORARIA</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Colaborador comunicado?</label>
            <select formControlName="colaboradorComunicado" class="modal__select">
              <option value="" disabled>Selecione uma opção</option>
              <option value="NÃO">NÃO</option>
              <option value="SIM">SIM</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Rescisão</label>
            <input type="date" formControlName="dataRescisao" class="modal__input">
          </div>
        </div>

        <div class="modal__footer">
          <button (click)="closeModal()" class="btn btn--secondary">Cancelar</button>

          <button type="button" (click)="delete()" class="btn btn--danger">
            @if (isDelete) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Deletar
            }
          </button>

          <button type="submit" class="btn btn--primary">
            @if (isUpdate) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Atualizar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- SEM RESULTADO -->
    <div class="empty" *ngIf="isEmpty">
      <h2 class="empty__title">Nenhum resultado foi encontrado</h2>
    </div>
  </div>
</div>
