<div class="container">

  <!-- MENSAGEM -->
  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <!-- CONTAINER DE FILTROS -->
  <div class="container__filters">

    <!-- NOVAS ADMISSÕES -->
    <div class="filter">
      <button class="btn btn--primary">
        Solicitações
      </button>
    </div>

    <!-- ADMISSÕES EM ANDAMENTO -->
    <div class="filter">
      <button class="btn btn--primary">
        Em andamento
      </button>
    </div>

    <!-- ADMISSÕES CONCLUIDAS -->
    <div class="filter">
      <button class="btn btn--primary">
        Aviso trabalhado
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--primary">
        Demitidos
      </button>
    </div>

    <div class="filter">
      <button class="btn btn--primary">
        Desligados
      </button>
    </div>

    <!-- GERAR FORMULÁRIO -->
    <div class="filter">
      <button class="btn btn--third" (click)="openModalCreate()">
        + Novo
      </button>
    </div>

  </div>

  <!-- CONTAINER DOS CARDS -->
  <div class="container__cards">

    <!-- CARD -->
    <div class="card" *ngFor="let item of items; let i = index">

      <!--HEADER -->
      <div class="card__header" (click)="toggleBodyVisibility(i)"
        [ngClass]="{'rounded-bottom-left': !isBodyVisible[i]}">

        <!-- LADO ESQUERDO -->
        <div class="card__primary">

          <!-- PARTE SUPERIOR -->
          <div class="card__top">
            <div class="card__title">{{ item.nome || 'N/A' }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ item.funcao || 'N/A' }}</div>
          </div>

          <!-- PARTE INFERIOR -->
          <div class="card__bottom">
            <div class="card__subtitle">{{ item.centro_custo || 'N/A' }}</div>
          </div>
        </div>

        <!-- LADO DIREITO -->
        <div class="card__secondary">
          <button class="btn btn--open-image" (click)="openModalEdit(item); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="btn btn--trash" (click)="openModalDelete(item); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <!-- CORPO -->
      <div class="card__body" *ngIf="isBodyVisible[i]" (click)="toggleBodyVisibility(i)">

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">OBSERVAÇÃO</div>
          <div class="card__subtitle">{{ item.observacao || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">SOLICITAÇÃO</div>
          <div class="card__subtitle">{{ formateDate(item.data_solicitacao) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">COMUNICAR</div>
          <div class="card__subtitle">{{ formateDate(item.data_comunicacao) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">AVISO TRABALHADO</div>
          <div class="card__subtitle">{{ formateDate(item.data_inicio_aviso_trabalhado) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">ÚLTIMO DIA</div>
          <div class="card__subtitle">{{ formateDate(item.data_ultimo_dia_trabalhado) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">RESCISÃO</div>
          <div class="card__subtitle">{{ formateDate(item.data_rescisao) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">PAGAMENTO</div>
          <div class="card__subtitle">{{ formateDate(item.data_pagamento_rescisao) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">DATA DEMISSÃO</div>
          <div class="card__subtitle">{{ formateDate(item.data_demissao) || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">COMUNICOU</div>
          <div class="card__subtitle">{{ item.colaborador_comunicado || 'N/A' }}</div>
        </div>

        <!-- ELEMENTO -->
        <div class="card__info">
          <div class="card__title">MODALIDADE</div>
          <div class="card__subtitle">{{ item.modalidade || 'N/A' }}</div>
        </div>
      </div>
    </div>

    <!-- MODAL DE EDIÇÃO -->
    <form [formGroup]="createForm" (ngSubmit)="create()" class="modal" *ngIf="isModalCreate">
      <div class="modal__container">

        <div class="modal__header">
          <h2 class="modal__title">Criar solicitação</h2>
          <button type="button" class="btn btn--exit" (click)="closeModal()">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">Nome completo</label>
            <input type="text" placeholder="Nome completo" formControlName="nome" class="modal__input">
          </div>

          <div class="modal__group">
            <label for="funcao" class="modal__label">Função</label>
            <select class="modal__select" formControlName="funcao">
              <option value="" disabled selected>Selecione uma opção</option>
              <option *ngFor="let funcao of funcoes" [value]="funcao">{{ funcao }}</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Centro de custo</label>
            <select class="modal__select" formControlName="centro_custo">
              <option value="" disabled selected>Selecione uma opção</option>
              <option *ngFor="let centro of centroCustos" [value]="centro">{{ centro }}</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Status</label>
            <select class="modal__select" formControlName="status">
              <option value="" disabled selected>Selecione uma opção</option>
              <option value="NOVA SOLICITAÇÃO">NOVA SOLICITAÇÃO</option>
              <option value="EM ANDAMENTO">EM ANDAMENTO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="DEMITIDO">DEMITIDO</option>
              <option value="DESLIGADO">DESLIGADO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Modalidade</label>
            <select class="modal__select" formControlName="modalidade">
              <option value="" disabled selected>Selecione uma opção</option>
              <option value="AVISO INDENIZADO">AVISO INDENIZADO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="PEDIDO DEMISSÃO">PEDIDO DEMISSÃO</option>
              <option value="ANTECIPAÇÃO DE CONTRATO DE EXPERIÊNCIA">ANTECIPAÇÃO DE CONTRATO DE EXPERIÊNCIA</option>
              <option value="TÉRMINO DO CONTRATO DE EXPERIÊNCIA">TÉRMINO DO CONTRATO DE EXPERIÊNCIA</option>
              <option value="AVISO TRABALHADO JORNADA REDUZIDA">AVISO TRABALHADO JORNADA REDUZIDA</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Data para comunicação</label>
            <input type="date" class="modal__input" formControlName="data_comunicacao">
          </div>

          <div class="modal__group modal__group--full">
            <label class="modal__label">Observação</label>
            <textarea formControlName="observacao" placeholder="Digite algo..." class="modal__textarea"></textarea>
          </div>
        </div>

        <div class="modal__footer">
          <button type="button" class="btn btn--third" (click)="closeModal()">Fechar</button>
          <button type="submit" class="btn btn--third">
            @if (isCreating) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Criar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- MODAL DE EDIÇÃO -->
    <form [formGroup]="updateForm" (ngSubmit)="update()" class="modal" *ngIf="isModalEdit">
      <div class="modal__container">

        <div class="modal__header">
          <h2 class="modal__title">Atualizar solicitação</h2>
          <button type="button" class="btn btn--exit" (click)="closeModal()">&times;</button>
        </div>

        <div class="modal__content">
          <div class="modal__group">
            <label class="modal__label">Nome completo</label>
            <input class="modal__input" type="text" formControlName="nome">
          </div>

          <div class="modal__group">
            <label class="modal__label">Função</label>
            <input class="modal__input" type="text" formControlName="funcao">
          </div>

          <div class="modal__group">
            <label class="modal__label">Centro de custo</label>
            <input class="modal__input" type="text" formControlName="centro_custo">
          </div>

          <div class="modal__group">
            <label class="modal__label">Status</label>
            <select class="modal__select" formControlName="status">
              <option value="">Selecione uma opção</option>
              <option value="NOVA SOLICITAÇÃO">NOVA SOLICITAÇÃO</option>
              <option value="EM ANDAMENTO">EM ANDAMENTO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="DEMITIDO">DEMITIDO</option>
              <option value="AGUARDANDO RESCISÃO">AGUARDANDO RESCISÃO</option>
              <option value="DESLIGADO">DESLIGADO</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Modalidade</label>
            <select class="modal__select" formControlName="modalidade">
              <option value="">Selecione uma opção</option>
              <option value="AVISO INDENIZADO">AVISO INDENIZADO</option>
              <option value="AVISO TRABALHADO">AVISO TRABALHADO</option>
              <option value="PEDIDO DEMISSÃO">PEDIDO DEMISSÃO</option>
              <option value="ANTECIPAÇÃO DE CONTRATO DE EXPERIÊNCIA">ANTECIPAÇÃO DE CONTRATO DE EXPERIÊNCIA</option>
              <option value="TÉRMINO DO CONTRATO DE EXPERIÊNCIA">TÉRMINO DO CONTRATO DE EXPERIÊNCIA</option>
              <option value="AVISO TRABALHADO JORNADA REDUZIDA">AVISO TRABALHADO JORNADA REDUZIDA</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Colaborador foi comunicado?</label>
            <select class="modal__select" formControlName="colaborador_comunicado">
              <option value="">Selecione uma opção</option>
              <option value="NÃO">NÃO</option>
              <option value="SIM">SIM</option>
            </select>
          </div>

          <div class="modal__group">
            <label class="modal__label">Data da demissão</label>
            <input class="modal__input" type="date" formControlName="data_demissao" />
          </div>

          <div class="modal__group">
            <label class="modal__label">Data do início do aviso trabalhado</label>
            <input class="modal__input" type="date" formControlName="data_inicio_aviso_trabalhado" />
          </div>

          <div class="modal__group">
            <label class="modal__label">Data da rescisão</label>
            <input class="modal__input" type="date" formControlName="data_rescisao" />
          </div>

          <div class="modal__group">
            <label class="modal__label">Data do último dia de trabalho</label>
            <input class="modal__input" type="date" formControlName="data_ultimo_dia_trabalhado" />
          </div>

          <div class="modal__group">
            <label class="modal__label">Data do pagamento rescisão</label>
            <input class="modal__input" type="date" formControlName="data_pagamento_rescisao" />
          </div>

        </div>

        <div class="modal__footer">
          <button type="button" class="btn btn--third" (click)="closeModal()">Fechar</button>

          <button type="submit" class="btn btn--third">
            @if (isUpdating) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Atualizar
            }
          </button>
        </div>
      </div>
    </form>

    <!-- MODAL DE DELETE -->
    <div class="modal" *ngIf="isModalDelete">
      <div class="modal__container modal__container--secondary">

        <div class="modal__header">
          <h2 class="modal__title">Deletar Solicitação</h2>
          <button type="button" class="btn btn--exit" (click)="closeModal()">&times;</button>
        </div>

        <h2 class="modal__subtitle">
          Tem certeza que deseja deletar essa admissão? Essa ação não poderá ser revertida!
        </h2>

        <div class="modal__footer">
          <button type="button" class="btn btn--third" (click)="closeModal()">Fechar</button>
          <button type="button" class="btn btn--delete" (click)="delete()">
            @if (isDeleting) {
            <div class="loading-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            } @else {
            Deletar
            }
          </button>
        </div>
      </div>
    </div>

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- SEM RESULTADO -->
    <div class="empty" *ngIf="isEmpty">
      <h2 class="empty__title">Opss... Nenhum resultado foi encontrado :(</h2>
    </div>

  </div>
</div>
