<div class="container">
  <!-- FILTROS DE BUSCA -->
  <div class="filter__container">
    <!-- Centro de Custo Filter -->
    <div class="filter">
      <label>CENTRO DE CUSTO</label>
      <select [(ngModel)]="centroCustoField" (change)="applyFilters()" (mousedown)="toggleSelect()"
        (blur)="resetSelectIcon()">
        <option value="">Todos</option>
        <option *ngFor="let centro of centrosCustoUnicos" [value]="centro">{{ centro }}</option>
      </select>
      <mat-icon [class.rotated]="isSelectOpen">arrow_drop_down</mat-icon>
    </div>

    <!-- Fornecedor Filter -->
    <div class="filter">
      <label for="fornecedorField">FORNECEDOR</label>
      <input type="text" id="fornecedorField" placeholder="Ex: PAYFY" [(ngModel)]="fornecedorField"
        (input)="applyFilters()">
    </div>

    <!-- Material Filter -->
    <div class="filter">
      <label for="materialField">MATERIAL</label>
      <input type="text" id="materialField" placeholder="Ex: TELHA" [(ngModel)]="materialField"
        (input)="applyFilters()">
    </div>

    <!-- OC Filter -->
    <div class="filter">
      <label for="ocField">OC</label>
      <input type="text" id="ocField" placeholder="Ex: 10294" [(ngModel)]="ocField" (input)="applyFilters()">
    </div>
  </div>

  <!-- LISTA DE ORDENS DE COMPRA -->
  <div class="card__container">
    <!-- PEDIDOS -->
    <div class="card" *ngFor="let data of purchaseOrder | keyvalue; let i = index">
      <!-- CABEÇALHO DO CARD -->
      <div class="card__header" (click)="toggleExpand(i)">
        <div class="card__primary">
          <!-- Informações Principais -->
          <div class="card__top">
            <div class="card__title">OC: {{ data.value.numero_oc }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">{{ data.value.centro_custo }}</div>
          </div>
          <div class="card__bottom">
            <div class="card__title">{{ data.value.fornecedor }}</div>
            <div class="card__subtitle">|</div>
            <div class="card__subtitle">R$ {{ calculateOrderTotal(data.value) }}</div>
          </div>
        </div>

        <!-- Botões de Navegação -->
        <div class="card__secondary">
          <!-- BOTÃO DETALHES -->
          <button class="card__section" [class.active]="activeSection[data.key] === 'details'"
            (click)="setActiveSection(data.key, 'details', i, $event)">
            <mat-icon>inventory_2</mat-icon>
            <span>DETALHES</span>
          </button>

          <!-- BOTÃO ENTREGUE -->
          <button class="card__section" [class.active]="activeSection[data.key] === 'delivered'"
            (click)="setActiveSection(data.key, 'delivered', i, $event)">
            <mat-icon>check_circle</mat-icon>
            <span>ENTREGUE</span>
          </button>

          <!-- BOTÃO PARCIAL -->
          <button class="card__section" [class.active]="activeSection[data.key] === 'partial'"
            (click)="setActiveSection(data.key, 'partial', i, $event)">
            <mat-icon>donut_large</mat-icon>
            <span>INCOMPLETO</span>
          </button>

          <!-- BOTÃO NÃO CHEGOU -->
          <button class="card__section" [class.active]="activeSection[data.key] === 'notDelivered'"
            (click)="setActiveSection(data.key, 'notDelivered', i, $event)">
            <mat-icon>cancel</mat-icon>
            <span>NÃO ENTREGUE</span>
          </button>
        </div>
      </div>

      <!-- CONTEÚDO DO CARD (EXPANSÍVEL) -->
      <div class="card__body" [class.show]="expandedIndex === i">
        <!-- SEÇÃO DETALHES -->
        <div class="card__details" *ngIf="activeSection[data.key] === 'details'">
          <!-- Material Info -->
          <div class="card__text">
            <div class="card__title">MATERIAL</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.material }}
            </div>
          </div>

          <!-- Quantidade Info -->
          <div class="card__text">
            <div class="card__title">QUANTIDADE</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.quantidade }} {{ item.unidade }}
            </div>
          </div>

          <!-- Valor Unitário Info -->
          <div class="card__text">
            <div class="card__title">VALOR UNITARIO</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              R$ {{ item.valor_unitario }}
            </div>
          </div>

          <!-- Valor Total Info -->
          <div class="card__text">
            <div class="card__title">VALOR TOTAL</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ formateValue(item.valor_total) }}
            </div>
          </div>

          <!-- Previsão Entrega Info -->
          <div class="card__text">
            <div class="card__title">PREVISÃO ENTREGA</div>
            <div class="card__subtitle card__subtitle--margin">
              {{ data.value.previsao_entrega }}
            </div>
          </div>
        </div>

        <!-- SEÇÃO ENTREGA -->
        <div class="card__delivered" *ngIf="activeSection[data.key] === 'delivered'">
          <!-- Upload Area -->
          <div class="card__file" (click)="triggerFileInput()" (dragover)="onDragOver($event)" (drop)="onDrop($event)">

            <input type="file" [accept]="acceptedFileTypes" #fileInput (change)="onFileSelected($event)"
              class="card__input">

            <label class="card__label">
              <mat-icon>cloud_upload</mat-icon>
              <span class="card__filename">
                {{ file?.name || 'Arraste ou selecione a nota fiscal' }}
              </span>

              @if(!file) {
              <span class="card__instruction">Tamanho máximo: 5MB</span>
              }
            </label>
          </div>

          <!-- Submit Button -->
          <button type="button" class="card__button" [disabled]="!file || loadingFile">
            @if (!loadingFile) {
            <span>ENVIAR</span>
            } @else {
            <mat-progress-spinner mode="indeterminate" diameter="24" class="upload__spinner"></mat-progress-spinner>
            }
          </button>
        </div>

        <!-- SEÇÃO PARCIAL -->
        <div class="card__partial" *ngIf="activeSection[data.key] === 'partial'">
          <!-- Material Info -->
          <div class="card__text">
            <div class="card__title">MATERIAL</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.material }}
            </div>
          </div>

          <!-- Quantidade Solicitada Info -->
          <div class="card__text">
            <div class="card__title">QUANTIDADE SOLICITADA</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              {{ item.quantidade }} {{ item.unidade }}
            </div>
          </div>

          <!-- Quantidade Entregue Input -->
          <div class="card__text">
            <div class="card__title">QUANTIDADE QUE CHEGOU</div>
            <div class="card__subtitle card__subtitle--margin" *ngFor="let item of data.value.order">
              <input type="number" [(ngModel)]="item.quantidade_entregue" class="card__qtd">
            </div>
          </div>

          <!-- Submit Button -->
          <button type="button" class="card__button">ENVIAR</button>
        </div>

        <!-- SEÇÃO NÃO CHEGOU -->
        <div class="card__not-delivered" *ngIf="activeSection[data.key] === 'notDelivered'">
          <div class="card__text">
            <img src="https://usagif.com/wp-content/uploads/2022/4hv9xm/crying-emoji-9.gif" alt="crying emoji">
            <span class="card__span">Meu pedido não chegou :(</span>
          </div>
          <button class="card__button">ENVIAR</button>
        </div>
      </div>
    </div>

    <!-- Lista vazia -->
    <div class="card__empty" *ngIf="isVoid">
      <span>Nenhum pedido encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- Carregando lista -->
    <div class="card__loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- NOTIFICAÇÕES -->
    <!-- Error Message -->
    @if (showError) {
    <div class="card__message card__message--error">
      <mat-icon>error</mat-icon>
      <span>{{ errorMessage }}</span>
    </div>
    }

    <!-- Success Message -->
    @if (showSuccess) {
    <div class="card__message card__message--success">
      <mat-icon>check_circle</mat-icon>
      <span>{{ successMessage }}</span>
    </div>
    }
  </div>
</div>
