<div class="request">

  <div class="request__top">
    <div class="filter">
      <label class="filter__label">Centro de Custo:</label>
      <input type="text" class="filter__input" placeholder="Ex: BRK" [(ngModel)]="centroCustoName"
        (ngModelChange)="searchCentroCusto()">
    </div>

    <div class="filter">
      <label class="filter__label">Oc:</label>
      <input type="text" class="filter__input" placeholder="Ex: 1000" [(ngModel)]="ocName" (ngModelChange)="searchOc()">
    </div>

    <div class="filter">
      <label class="filter__label">Fornecedor:</label>
      <input type="text" class="filter__input" placeholder="Ex: Renascer" [(ngModel)]="fornecedorName"
        (ngModelChange)="searchFornecedor()">
    </div>

    <div class="filter">
      <label class="filter__label">Valor:</label>
      <input type="text" class="filter__input" placeholder="Ex: 300" [(ngModel)]="valorName"
        (ngModelChange)="searchValor()">
    </div>
  </div>

  <div class="request__main">
    <div class="card">

      <div class="card__item" *ngFor="let data of records; let i = index" [class.expanded]="expandedIndex === i">
        <div class="card__main" (click)="toggleExpand(i)">
          <div class="card__border"></div>

          <div class="card__summary">
            <div class="card__primary">
              <span class="card__id">{{ data.centro_de_custo }}</span>
              <span class="card__separator">|</span>
              <span class="card__cc">{{ data.fornecedor }}</span>
            </div>

            <div class="card__secondary">
              <span class="card__material">{{ data.material }}</span>
            </div>
          </div>

          <div class="card__meta-data">

            <div class="card__meta-item">
              <span class="card__meta-label">OC:</span>
              <span class="card__meta-value">{{ data.oc || 'Sem previsão' }}</span>
            </div>

            <div class="card__expand-icon">
              <i class="arrow" [class.down]="expandedIndex === i"></i>
            </div>
          </div>
        </div>

        <div class="details" [class.show]="expandedIndex === i">
          <div class="details__grid">

            <div class="details__order">
              <h4>Detalhes da Entrega</h4>

              <div class="details__text">
                <span class="details__label">Quantidade Solicitada:</span>
                <span class="details__value">{{ data.quantidade || 'N/A' }} {{ data.unidade }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Quantidade Entregue:</span>
                <span class="details__value">{{ data.quantidade_entregue || 'N/A' }} {{ data.unidade }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Falta Entregar:</span>
                <span class="details__value">{{ calculateRemaining(data.quantidade, data.quantidade_entregue) }} {{ data.unidade }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Criação da OC:</span>
                <span class="details__value">{{ data.data_criacao_oc }}</span>
              </div>

              <div class="details__text">
                <span class="details__label">Última Atualização:</span>
                <span class="details__value">{{ data.ultima_atualizacao }}</span>
              </div>

            </div>

            <div class="details__column">
              <h4>Atualizar Pedido</h4>

              <form [formGroup]="newDateForm" class="details__confirm">
                <span class="details__label">Nova data de entrega:</span>
                <input type="date" formControlName="newDate" class="details__input">
                <button class="details__button" (click)="updateTime(i)">Confirmar</button>
              </form>

            </div>

            <div class="details__column">
              <h4>Cancelar Pedido</h4>

              <form [formGroup]="detailsForm" class="details__confirm">
                <span class="details__label">Motivo do Cancelamento:</span>
                <input type="text" formControlName="details" class="details__input">
                <button class="details__button" (click)="updateDetails(i)">Confirmar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results" *ngIf="records.length === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>

</div>
