<div class="orders">
  <div class="orders__top"></div>
  <div class="orders__main">
    <!-- Lista de Cards -->
    <div class="cards">
      <!-- Card Individual -->
      <div class="card" *ngFor="let data of orderList | keyvalue">
        <!-- Cabeçalho do Card -->
        <div class="card__header">
          <!-- Borda Lateral -->
          <div class="card__border"></div>
          <!-- Lado Esquerdo do Card -->
          <div class="card__summary">
            <!-- Parte Superior do Cabeçalho -->
            <div class="card__top">
              <div class="card__text">OC: {{ data.key }}</div>
              <div class="card__separator">-</div>
              <div class="card__text">{{ data.value[0].centro_custo }}</div>
            </div>
            <!-- Parte Inferior do Cabeçalho -->
            <div class="card__bottom">
              <div class="card__text">{{ data.value[0].nome_fornecedor }}</div>
              <div class="card__separator">|</div>
              <div class="card__text">R$ {{ data.value[0].valor_total }}</div>
            </div>
          </div>
          <!-- Lado Direito do Card -->
          <div class="card__buttons">
            <div class="card__button">
              <mat-icon class="card__icon">inventory_2</mat-icon>
              <div class="card__text">Pedidos</div>
            </div>
            <div class="card__button">
              <mat-icon class="card__icon">person</mat-icon>
              <div class="card__text">OC</div>
            </div>
          </div>
          <!-- Seta de Expansão -->
          <div class="card__arrow">
            <i class="arrow"></i>
          </div>
        </div>
        <!-- Corpo do Card -->
        <div class="card__body">
          <!-- Seção de Pedidos -->
          <div class="card__container">
            <div class="card__columns">
              <form [formGroup]="orderForms[data.key]" (ngSubmit)="updateOrder(data.key)">
                <div class="card__column">
                  <h4 class="card__text">Material:</h4>
                  <div class="card__data" *ngFor="let order of data.value">
                    {{ order.descricao }}
                  </div>
                </div>
                <div class="card__column">
                  <h4 class="card__text">Qtd. Solicitada:</h4>
                  <div class="card__data" *ngFor="let order of data.value">
                    {{ order.quantidade }}
                  </div>
                </div>
                <div class="card__column">
                  <h4 class="card__text">Qtd. Entregue:</h4>
                  <div class="card__data" *ngFor="let order of data.value">
                    {{ order.quantidade_entregue }}
                  </div>
                </div>
                <div class="card__column">
                  <h4 class="card__text">Definir Previsão:</h4>
                  <div class="card__data">
                    <input type="date" formControlName="date">
                  </div>
                </div>
                <div class="card__column">
                  <h4 class="card__text">Definir Qtd:</h4>
                  <div class="card__data" *ngFor="let order of data.value">
                    <input type="number" [formControlName]="order.idprd">
                  </div>
                </div>
                <button type="submit">Confirmar</button>
              </form>
            </div>
          </div>
          <!-- Seção de Detalhes -->
          <div class="card__container">
            <div class="card__columns">
              <div class="card__column">
                <h4 class="card__text">Criado Por:</h4>
                <div class="card__data">
                  {{ data.value[0].criacao }}
                </div>
              </div>
              <div class="card__column">
                <h4 class="card__text">Aprovado Por:</h4>
                <div class="card__data">
                  {{ data.value[0].aprovador }}
                </div>
              </div>
              <div class="card__column">
                <h4 class="card__text">Registrado Por:</h4>
                <div class="card__data">
                  {{ data.value[0].recebedor }}
                </div>
              </div>
              <div class="card__column">
                <h4 class="card__text">Previsão de Entrega:</h4>
                <div class="card__data">
                  {{ data.value[0].data_entrega }}
                </div>
              </div>
              <div class="card__column">
                <h4 class="card__text">Data da Aprovação:</h4>
                <div class="card__data">
                  {{ data.value[0].data_aprovacao }}
                </div>
              </div>
              <div class="card__column">
                <h4 class="card__text">última Atualização:</h4>
                <div class="card__data">
                  {{ data.value[0].ultima_atualizacao }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mensagem de Lista Vazia -->
      <div class="no__result" *ngIf="getOrderCount() === 0">
        <p>Nenhum resultado encontrado.</p>
      </div>
    </div>
  </div>
</div>
