@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;

  // Transição suave para mudança de tema
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

html,
body {
  height: 100vh;
}

app-root {
  display: block;
  height: 100%;
}

:root[data-theme="light"] {
  --primary-color: #F5F6F8;
  --secondary-color: #FFFFFF;
  --text-color: #9CA3AF;
}

:root[data-theme="dark"] {
  --primary-color: #1E1E1E;
  --secondary-color: #121212;
  --text-color: #F3F3F3;
}

:root {
  --white-color: #FFFFFF;
  --orange-color: #FF6F00;
}
