@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f93f03;
    cursor: pointer;
  }
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


// Tema claro (padrão)
:root[data-theme="light"] {
  --primary-color: #F2F1EF;
  --secondary-color: #FFFFFF;
  --text-color: #000000;
}

// Tema escuro
:root[data-theme="dark"] {
  --primary-color: #12121E;
  --secondary-color: #1E1E2A;
  --text-color: #FFFFFF;
}

// Definições padrão (fallback)
:root {
  --primary-color: #F2F1EF;
  --secondary-color: #FFFFFF;
  --text-color: #000000;
}
