@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

// Tema claro (padrão)
:root[data-theme="light"] {
  // --primary-color: #F2F1EF;
  // --secondary-color: #FFFFFF;

  // --primary-color: #FFFFFF;
  // --secondary-color: #F5F5F5;

  --primary-color: #FFFFFF;
  --secondary-color: #f3f3f3;
  --third-color: #c0c0c0;
  --fourth-color: #878787;
  --text-color: #525252;
  --hover-active: #DDD;
  --sidebar-color: #1E1E2A;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.12);
  --green-color: #38B000;
  --red-color: #D72638;
  --light-gray: rgba(0, 0, 0, 0.04);
}

// Tema escuro
:root[data-theme="dark"] {
  // --primary-color: #12121E;
  // --secondary-color: #1E1E2A;
  --primary-color: #121212;
  --secondary-color: #1E1E1E;
  --third-color: #3c3c4b;
  --fourth-color: #FF6F00;
  --text-color: #FFFFFF;
  --hover-active: #1E1E1E;
  --sidebar-color: #FFFFFF;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25), 0 0 1px rgba(255, 255, 255, 0.1);
  --green-color: #A8FF60;
  --red-color: #FF6B6B;
  --light-gray: rgba(255, 255, 255, 0.02);
}

// Definições padrão (fallback)
:root {
  --gray-color: #878787;
  --white-color: #FFFFFF;
  --orange-color: #FF6F00;
}
