.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);

  app-menu-dashboard {
    width: 4%;
  }

  .workspace {
    width: 96%;
    padding: 0 4rem;
    background: var(--primary-color);

    &__content {
      width: 100%;
      height: 80vh;
    }
  }
}
