.dashboard {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;

  background: var(--primary-color);

  app-sidebar {
    width: 4%;
  }

  .workspace {
    width: 96%;
    height: 100%;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    background: var(--primary-color);
  }
}
