.dashboard {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);

  &__menu {
    width: 18%;
    z-index: 1000;
  }

  .workspace {
    width: 82%;
    padding: 0 4rem;
    background: var(--primary-color);

    &__content {
      width: 100%;
      height: 75vh;
    }
  }
}
