<app-dynamic-list [config]="listConfig" [items]="items" [isSearching]="isSearching">

  <ng-template #cardBody let-item>
    <div class="body">

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">category</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">MODALIDADE</h3>
          <h3 class="title title--dark">{{ item.modalidade }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">category</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">MODALIDADE DO A.T</h3>
          <h3 class="title title--dark">{{ item.modalidade_aviso_trabalhado || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">campaign</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">COMUNICADO?</h3>
          <h3 class="title title--dark">{{ item.colaborador_comunicado || 'N/A' }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA SOLICITAÇÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_solicitacao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA COMUNICAÇÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_comunicacao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DO A.T</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_inicio_aviso_trabalhado) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">ÚLTIMO DIA TRABALHADO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_ultimo_dia_trabalhado) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA DEMISSÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_demissao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DA RESCISÃO</h3>
          <h3 class="title title--dark">{{ formateDate(item.rescisao) }}</h3>
        </div>
      </div>

      <div class="group group--body">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">calendar_today</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">DATA DO PAGAMENTO</h3>
          <h3 class="title title--dark">{{ formateDate(item.data_pagamento_rescisao) }}</h3>
        </div>
      </div>

      @if (item.observacao) {
      <div class="group group--body group--full">
        <div class="group group--icon">
          <mat-icon class="icon icon--small icon--orange">notes</mat-icon>
        </div>
        <div>
          <h3 class="title title--light">OBSERVAÇÃO</h3>
          <h3 class="title title--dark">{{ item.observacao }}</h3>
        </div>
      </div>
      }

    </div>
  </ng-template>

</app-dynamic-list>
