<div class="container">
  <!-- FILTRO DE BUSCA -->
  <form [formGroup]="filterForm" class="filter__container">

    <!-- COLABORADOR -->
    <div class="filter">
      <label>COLABORADOR</label>
      <input type="text" placeholder="Ex: JOÃOZINHO" formControlName="employee" (input)="applyFilters()">
    </div>

    <!-- STATUS -->
    <div class="filter">
      <label>STATUS</label>
      <select formControlName="status" (mousedown)="toggleSelect()" (blur)="resetSelectIcon()">
        <option value="Geral">Geral</option>
        <option value="Férias">Férias</option>
        <option value="Dia extra">Dia Extra</option>
        <option value="Gestor decibiu abonar">Abono</option>
        <option value="Atestado Médico">Atestado Médico</option>
        <option value="Justificado">Falta Justificada</option>
        <option value="Injustificado">Falta Injustificada</option>
      </select>
      <mat-icon [class.rotated]="statusArrow">arrow_drop_down</mat-icon>
    </div>

    <!-- DATA INICIAL -->
    <div class="filter">
      <label>DATA INICIAL</label>
      <input type="date" formControlName="startDate">
    </div>

    <!-- DATA FINAL -->
    <div class="filter">
      <label>DATA FINAL</label>
      <input type="date" formControlName="endDate">
    </div>

    <button (click)="onSearch()" class="button">BUSCAR</button>

    <button (click)="onClear()" class="button">LIMPAR</button>
  </form>

  <!-- LISTA DE CARDS -->
  <div class="card__container">

    <!-- CARD INDIVIDUAL -->
    <div class="card" *ngFor="let data of employeeHistory | keyvalue; let i = index">

      <!-- CABEÇA DO CARD -->
      <div class="card__header" (click)="openCard(i)">

        <!-- LADO ESQUEDO DO CARD -->
        <div class="card__primary">
          <div class="card__top">
            <div class="card__subtitle">CHAPA: </div>
            <div class="card__subtitle">{{ data.value.chapa || 'N/A' }}</div>
          </div>

          <!-- Parte inferiro do cabeçalho -->
          <div class="card__bottom">
            <div class="card__title">{{ data.value.nome }}</div>
          </div>
        </div>

        <!-- LADO DIREITO DO CARD -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">FALTAS: </div>
            <div class="card__title">{{ faultCounter(data.key) }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ATESTADOS: </div>
            <div class="card__title">{{ certificateCounter(data.key) }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ABONOS: </div>
            <div class="card__title">{{ abonoCounter(data.key) }}</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">DIAS EXTRAS: </div>
            <div class="card__title">{{ extraDayCounter(data.key) }}</div>
          </div>
        </div>
      </div>

      <!-- CORPO DO CARD -->
      <div class="card__body" [class.show]="index === i">

        <!-- DETALHES DO CARD -->
        <div class="card__details">

          <!-- DATA DA BATIDA -->
          <div class="card__info">
            <div class="card__title">DATA DO REGISTRO</div>
            <div class="card__subtitle card__subtitle--info" *ngFor="let item of data.value.records">
              {{ formateDate(item.periodo) }}
            </div>
          </div>

          <!-- MOTIVO DA AUSÊNCIA -->
          <div class="card__info">
            <div class="card__title">MOTIVO DA AUSÊNCIA</div>
            <div class="card__subtitle card__subtitle--info" *ngFor="let item of data.value.records">
              {{ item.evento_abono }}
            </div>
          </div>

          <!-- MOTIVO DA AUSÊNCIA -->
          <div class="card__info">
            <div class="card__title">JORNADA REALIZADA</div>
            <div class="card__subtitle card__subtitle--info" *ngFor="let item of data.value.records">
              {{ item.jornada_realizada }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LISTA VAZIA -->
    <div class="empty" *ngIf="isVoid">
      <span>Nenhum registro encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO LISTA -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
