<div class="timesheet">

  <div class="timesheet-top__section">
    <form class="filter-form">
      <div class="filter-form__field">
        <label for="employeeName">Colaborador:</label>
        <input type="text" id="employeeName" name="employeeName" placeholder="Ex: João Batista" [(ngModel)]="employeeNameFilter"
          (input)="filterEmployees()">
      </div>

      <div class="filter-form__field">
        <label for="status">Status:</label>
        <select id="status" name="status" [(ngModel)]="statusFilter">
          <option value="all">Todos</option>
          <option value="presents">Presentes</option>
          <option value="absent">Ausentes</option>
          <option value="vacation">Férias</option>
          <option value="paid">Abono</option>
          <option value="certificate">Atestado</option>
        </select>
      </div>

      <div class="filter-form__field">
        <label for="dateStart">Data inicial:</label>
        <input type="date" id="dateStart" name="dateStart" [(ngModel)]="startDateFilter">
      </div>

      <div class="filter-form__field">
        <label for="dateEnd">Data final:</label>
        <input type="date" id="dateEnd" name="dateEnd" [(ngModel)]="endDateFilter">
      </div>

      <div class="filter-form__button">
        <button type="button" (click)="search()">Pesquisar</button>
        <button type="button">Limpar</button>
      </div>
    </form>
  </div>

  <div class="employees" *ngIf="showEmployeeTable && !isLoading">
    <table class="table">
      <tbody class="table__body">
        <tr class="table__row" *ngFor="let employee of filteredEmployees">
          <td class="table__data table__data-border"></td>

          <td class="table__data table__data-avatar">
            <img [src]="employee.avatar" alt="">
          </td>

          <td class="table__data table__data-info">
            <div>{{ employee.name }}</div>
            <div>{{ employee.role }}</div>
          </td>

          <td class="table__data">{{ employee.email }}</td>

          <td class="table__data table__data-button">
            <button type="button" (click)="FindRecordByName(employee)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="single__record" *ngIf="!showEmployeeTable && !isLoading && startDateFilter && !endDateFilter">
    <table class="table">
      <tbody class="table__body">
        <tr class="table__row" *ngFor="let records of timesheet">
          <td class="table__data table__data-border"></td>

          <td class="table__data table__data-avatar">
            <img [src]="defaultAvatar" alt="">
          </td>

          <td class="table__data table__data-info">
            <div>{{ records.NOME }}</div>
            <div>{{ records.CHAPA }}</div>
          </td>

          <td class="table__data ">{{ records['EVENTO ABONO'] }}</td>
          <td class="table__data table__data-period">{{ records.PERIODO }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="multiple__records" *ngIf="!showEmployeeTable && !isLoading && startDateFilter && endDateFilter">
    <table class="table">
      <tbody class="table__body">
        <tr class="table__row" *ngFor="let employee of consolidatedTimesheet">
          <td class="table__data table__data-border"></td>

          <td class="table__data table__data-avatar">
            <img [src]="defaultAvatar" alt="">
          </td>

          <td class="table__data table__data-info">
            <div>{{ employee.NOME }}</div>
            <div>{{ employee.CHAPA }}</div>
          </td>

          <td class="table__data table__data-button">
            <button type="button" (click)="FindRecordByFilters(employee)">
              Detalhes
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
