.container {
  gap: 2vw;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

// CONTAINER DOS FILTROS
.filter__container {
  gap: 2%;
  width: 100%;
  padding: 0 0.7vw;
  display: grid;
  align-items: end;
  grid-template-columns: 12% 12% 12% 12% 12% 12%;
}

// FILTROS INDIVIDUAIS
.filter {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  label {
    padding-left: 5px;
    margin-bottom: 8px;
    font-size: 0.85vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--text-color);
  }

  input {
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--text-color);
    background: var(--secondary-color);
    transition: all 0.2s ease;
    box-shadow: var(--box-shadow);
    font-size: clamp(0.6rem, 0.80vw, 0.9rem);

    &::placeholder {
      color: var(--gray-color);
      opacity: 0.7;
    }
  }

  select {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 40px 12px 16px;
    border-radius: 8px;
    text-overflow: ellipsis;
    color: var(--text-color);
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  mat-icon {
    position: absolute;
    right: 12px;
    top: 69%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    transition: transform 0.3s ease;
    opacity: 0.7;

    &.rotated {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:last-child {
    flex-direction: row;
  }
}

// BOTÃO DOS FILTROS
.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--text-color);
  background: var(--secondary-color);
  transition: all 0.2s ease;
  box-shadow: var(--box-shadow);
  transition: all ease 0.3s;
  letter-spacing: 2px;
  font-size: clamp(0.6rem, 0.80vw, 0.9rem);

  &:hover {
    color: var(--orange-color);
    transform: translateY(-2px);
  }
}

.card__container {
  gap: 30px;
  display: flex;
  overflow-y: auto;
  padding: 0 1vw 2vw 0.7vw;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background-color: #f93f03;
  }
}

// CARD
.card {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  transition: all ease 0.3s;

  &:hover {
    transform: translateY(-4px);
  }

  // TIPOGRAFIA DO CARD
  &__title {
    font-weight: 600;
    color: var(--text-color);
    font-size: clamp(0.6rem, 0.80vw, 0.9rem);
  }

  &__subtitle {
    font-weight: 500;
    color: var(--gray-color);
    font-size: clamp(0.6rem, 0.80vw, 0.9rem);

    &--info {
      padding: 10px 10px 10px 0;
    }
  }

  // CABEÇALHO DO CARD
  &__header {
    width: 100%;
    padding: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 5px solid var(--orange-color);
    transition: border-radius 1s ease;
  }

  &:has(.card__body.show) .card__header {
    border-bottom-left-radius: 0;
  }

  &__header.header-expanded {
    border-bottom-left-radius: 0;
  }

  &__primary {
    display: flex;
    flex-direction: column;
  }

  &__top {
    gap: 8px;
    display: flex;
  }

  &__secondary {
    gap: 8px;
    display: flex;
  }

  &__text {
    gap: 8px;
    display: flex;
  }

  // CORPO DO CARD
  &__body {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &.show {
      max-height: 300px;
      overflow: visible;
      border-top: 5px solid var(--primary-color);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 3px;
        background-color: #f93f03;
      }
    }
  }

  &__details {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// CARD DE AVISO SE NÃO HOUVER CARDS NA API
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  font-weight: 600;
  color: var(--text-color);
  font-size: clamp(0.6rem, 0.80vw, 0.9rem);
}

// CARD LOAGING PARA CARREGAR OS CARDS DA API
.loading {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// SCRIPT PARA APARECER O LOADING
:host ::ng-deep mat-progress-spinner {
  width: 3vw !important;
  height: 3vw !important;
}

:host ::ng-deep mat-progress-spinner circle {
  stroke: var(--orange-color);
  stroke-width: 8%;
}
