<div class="container">
  <!-- FILTRO DE BUSCA -->
  <div class="filter__container">

    <!-- COLABORADOR -->
    <div class="filter">
      <label for="colaboradorField">COLABORADOR</label>
      <input type="text" id="colaboradorField" placeholder="Ex: JOÃOZINHO">
    </div>

    <!-- STATUS -->
    <div class="filter">
      <label>STATUS</label>
      <select (mousedown)="toggleSelect()">
        <option value="">Todos</option>
        <option>NINGUEM</option>
      </select>
      <mat-icon [class.rotated]="statusArrow">arrow_drop_down</mat-icon>
    </div>

    <!-- DATA INICIAL -->
    <div class="filter">
      <label>DATA INICIAL</label>
      <input type="date">
    </div>

    <!-- DATA FINAL -->
    <div class="filter">
      <label>DATA FINAL</label>
      <input type="date">
    </div>
  </div>

  <!-- LISTA DE CARDS -->
  <div class="card__container">

    <!-- CARD INDIVIDUAL -->
    <div class="card" *ngFor="let data of employeeHistory | keyvalue; let i = index">

      <!-- CABEÇA DO CARD -->
      <div class="card__header" (click)="openCard(i)">

        <!-- LADO ESQUEDO DO CARD -->
        <div class="card__primary">
          <div class="card__top">
            <div class="card__subtitle">CHAPA: </div>
            <div class="card__subtitle">{{ data.value.chapa }}</div>
          </div>

          <!-- Parte inferiro do cabeçalho -->
          <div class="card__bottom">
            <div class="card__title">{{ data.value.nome }}</div>
          </div>
        </div>

        <!-- LADO DIREITO DO CARD -->
        <div class="card__secondary">
          <div class="card__text">
            <div class="card__subtitle">FALTAS: </div>
            <div class="card__title">{{ faultCounter(data.key) }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ATESTADOS: </div>
            <div class="card__title">{{ certificateCounter(data.key) }}</div>
            <div class="card__subtitle">|</div>
          </div>

          <div class="card__text">
            <div class="card__subtitle">ABONOS: </div>
            <div class="card__title">{{ abonoCounter(data.key) }}</div>
          </div>
        </div>
      </div>

      <!-- CORPO DO CARD -->
      <div class="card__body" [class.show]="index === i">

        <!-- DETALHES DO CARD -->
        <div class="card__details">

          <!-- DATA DA BATIDA -->
          <div class="card__info">
            <div class="card__title">DATA</div>
            <div class="card__subtitle" *ngFor="let item of data.value.records">
              {{ item.periodo }}
            </div>
          </div>

          <!-- MOTIVO DA AUSÊNCIA -->
          <div class="card__info">
            <div class="card__title">MOTIVO DA AUSÊNCIA</div>
            <div class="card__subtitle" *ngFor="let item of data.value.records">
              {{ item.evento_abono }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LISTA VAZIA -->
    <div class="empty" *ngIf="isVoid">
      <span>Nenhum pedido encontrado</span>
      <mat-icon>search</mat-icon>
    </div>

    <!-- CARREGANDO LISTA -->
    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
