.container {
  gap: 20px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

  &__filter {
    width: 100%;
    height: auto;

    display: flex;

    gap: 8px;
    padding: 0.7vw;

    :nth-child(6) {
      margin-left: auto;
    }
  }

  &__card {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
    flex-direction: column;

    gap: 20px;

    padding: 0.7vw;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 3px;
      background: var(--orange-color);
    }
  }
}

.title {
  font-weight: 600;
  color: var(--text-color);
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--bg {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }

  &--md {
    font-size: clamp(0.625rem, 0.5947rem + 0.1294vw, 0.75rem);
  }

  &--sm {
    font-weight: 500;
    font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
  }
}

.subtitle {
  font-weight: 500;
  color: var(--text-color);

  &--bg {
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
  }

  &--md {
    font-size: clamp(0.625rem, 0.5947rem + 0.1294vw, 0.75rem);
  }
}

.span {
  font-weight: 600;
  font-size: clamp(0.625rem, 0.5947rem + 0.1294vw, 0.75rem);

  padding: 2px 8px;
  border-radius: 12px;

  &__counter {
    background: rgba(255, 221, 190, 0.637);
  }
}

.input {
  width: auto;
  height: 40px;

  border: none;
  outline: none;

  padding: 12px 16px;
  border-radius: 6px;

  color: var(--text-color);
  font-weight: 500;
  font-size: clamp(0.75rem, 0.4464rem + 0.3571vw, 0.875rem);

  &__default {
    width: 200px;
    text-overflow: ellipsis;
    background-color: var(--secondary-color);
  }

  &__modal {
    transition: all 0.2s ease;
    background-color: var(--primary-color);

    &:focus {
      box-shadow: 0 0 0 2px var(--orange-color);
    }
  }

  &--none {
    display: none;
  }
}

.btn {
  width: auto;
  height: 40px;
  padding: 0 16px;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: clamp(0.625rem, 0.5947rem + 0.1294vw, 0.75rem);
  transition: transform 0.2s ease;

  &--orange {
    background: var(--orange-color);
    color: var(--white-color);
    gap: 8px;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &--count {
    gap: 8px;
    color: var(--text-color);
    background: var(--secondary-color);

    &:hover {
      color: var(--orange-color);
      transform: translateY(-2px);
    }

    &.active {
      color: var(--white-color);
      transform: translateY(-4px);
      background-color: var(--orange-color);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

  &--menu {
    color: var(--text-color);
    background: var(--primary-color);

    &:hover {
      color: var(--orange-color);
      transform: translateY(-2px);
    }
  }

  &--close {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: var(--text-color);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon {
  &--bg {
    color: var(--text-color);
    font-size: clamp(4.875rem, 4.8143rem + 0.2589vw, 5.125rem);
  }
}

.card {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  background: var(--secondary-color);

  &__header {
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;

    &--details {
      gap: 12px;
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }

  &__group {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    gap: 12px;
    padding: 20px;

    border-radius: 8px;
    background-color: var(--secondary-color);

    &--dark {
      background-color: var(--primary-color);
    }

    &--click {
      cursor: pointer;
      transition: all ease 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &__left {
    width: auto;
    height: auto;

    gap: 8px;
    display: flex;
    align-items: center;

    &--details {
      display: grid;
      justify-content: start;
      grid-template-columns: auto 1fr;
    }
  }

  &__right {
    width: auto;
    height: auto;

    gap: 8px;

    &--details {
      display: grid;
      direction: rtl;
      justify-self: end;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(9, 1fr);

      & > * {
        direction: ltr;
      }
    }
  }

  &__icon {
    width: 36px;
    height: 36px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--orange-color);

    color: var(--orange-color);
    background: transparent;

    &--click {
      cursor: pointer;
    }
  }

  &__span {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4px;
    padding: 6px 10px;
    border-radius: 999px;

    line-height: 1;
    font-weight: 600;
    font-size: clamp(0.625rem, 0.6vw, 0.8rem);
    color: var(--text-color);

    &--qty {
      background-color: var(--primary-color);
    }

    &--price {
      background-color: var(--orange-color);
      border-color: var(--orange-color);
      color: var(--white-color);
    }
  }
}

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    animation: fadeIn 0.3s ease;
  }

  &__container {
    width: 50%;
    max-width: 90%;
    background: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    padding: 2vw;
    animation: slideIn 0.4s ease;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content {
    width: auto;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 16px;
    margin-bottom: 24px;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &--full {
      grid-column: 1 / -1;
    }
  }

  &__upload {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--primary-color);
  }

  &__icon {
    color: var(--orange-color);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.message {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 8px;
  display: flex;
  font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
  padding: min(1em, 5%);
  border-radius: 8px;
  align-items: center;
  z-index: 1000;

  &.success {
    color: var(--white-color);
    background: #4bd28f;
  }

  &.error {
    color: var(--white-color);
    background: #ff5757;
  }
}

.loading-dots {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--white-color);
    animation: bounce 1.2s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

.loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  width: 100%;
  height: 100%;

  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  mat-icon {
    width: auto;
    height: auto;
  }
}

:host ::ng-deep mat-progress-spinner {
  width: 3vw !important;
  height: 3vw !important;
}

:host ::ng-deep mat-progress-spinner circle {
  stroke: var(--orange-color);
  stroke-width: 8%;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}
